[2022-01-21 04:13] #1353 closed

[2022-01-21 04:14] mhamilton723 commented on #1351
@jackgerrits For viz

[2022-01-21 09:45] eisber commented on #1351
Standard SparkML puts all features into a single column (e.g. features) and expects either the ML algo or upstream components to perform feature crossing. Since VW has the capability to perform at-execution-time feature cross of high-dimensional features, the API was extend to allow for multiple Spark vectors (e.g. sparse or dense) to be passed into the ML algo. (FYI performing feature cross ahead

[2022-01-21 16:34] jackgerrits commented on #1351
Yeah I think it would be an adventure for sure, but as you said the VowpalWabbitFeaturizer could potentially maintain a mapping which could be used to reconstruct the input from hashes. This sort of thing is always tricky because there are a number of components which are used to get the final feature/weight index.

[2022-01-21 20:34] eisber commented on #1351
the namespace names are "User" and "Action" so -q UA seems right (it's case-sensitive). user=Tom is a feature, not a namespace.
@jackgerrits  can you double check me?

[2022-01-21 20:49] jackgerrits commented on #1351
The default features (actions) col is `features` (https://mmlspark.blob.core.windows.net/docs/0.9.5/pyspark/synapse.ml.vw.html#synapse.ml.vw.VowpalWabbitRegressor.VowpalWabbitRegressor), which is empty right now.

If you update the featurizer to output to features for action features and if the column names correspond to namespaces wouldnt' the required interactions be: `-q ut -q ua -q ta`?

[2022-01-22 09:19] Nitinsiwach opened #1356 "Which option to chose to set parameters to LightGBMClassifier()?"
There are three ways to set pameters to a ```LightGBMClassifier()```

1. In the class constructor itself
2. Using the ```params``` argument in the ```fit``` method
3. Using the ```setParams``` method available to ```LightGBMClassifier()```

I can see why we have to endow the classifier with a ```setParams``` method but, can you please explain why we also have ```params``` argument available in the

[2022-01-22 13:14] musram commented on #1351
Thanks, @jackgerrits @eisber.
"If you update the featurizer to output to features for action features and if the column names correspond to namespaces wouldnt' the required interactions be: -q ut -q ua -q ta?"

Yes, this is correct.

This is my understanding. Pls, correct me if I am wrong.

(a) There is no concept of Space as in VW. We have to pass the combinations eg -q ut etc.
(b) As mentioned i

[2022-01-22 17:03] musram commented on #1351
Hai @jackgerrits
I have one more additional question. I am trying to build at least one workable model which I was able to build using VW.
My code is:
pipeline = Pipeline(stages=[
  VowpalWabbitFeaturizer(inputCols=['hour'], outputCol='hour_feature'),
  VowpalWabbitFeaturizer(inputCols=['placementId'], outputCol='placementId_feature'),
  VowpalWabbitFeaturizer(inputCols=['isAudienceBiddingPlacemen

[2022-01-24 11:40] Nitinsiwach opened #1359 "How to silence ```ComputeModelStatistics```?"
Running ```cms.transform(df)``` where ```cms =  ComputeModelStatistics(evaluationMetric='AUC',labelCol='flag__6_months',scoredLabelsCol='scoredLabelsCol',
                            scoresCol = "probability")``` Prints

[code]
Is there a way to make this go away? I cannot see a parameter that does this. Problem is that If I run something iteratively, like, hyperparameter optimization, this fills

[2022-01-24 11:49] Nitinsiwach opened #1360 "Documentation for ComputeModelStatistics"
**Is your feature request related to a problem? Please describe.**
One day someone will definitely end up losing his/her sanity because ```cms.transform``` needs the ```scoredLabelsCol``` columns to be only in ```DoubleType```.  Since, this is a labels column one would expect this to be ```IntegerType```. If they ventured to try ```FloatType``` it would still give and error. It needs ```DoubleType

[2022-01-25 03:16] imatiach-msft commented on #1356
@Nitinsiwach I believe all of these options are on the standard spark ml learners as well.  You would normally set in the constructor, but these other methods are available so it can integrate with the spark ml ecosystem.  Hope that helps resolve the question.

[2022-01-25 03:46] #1359 closed

[2022-01-25 03:46] #1360 closed

[2022-01-25 03:46] memoryz commented on #1360
The PR will auto convert Int/Float types to DoubleType.

[2022-01-25 03:47] memoryz commented on #1359
Thank you for opening the issue. The linked PR will remove the verbose output.

[2022-01-25 16:58] naadvar opened #1363 "Answer from Java side is empty - MMLspark"
Hi all,

I am running the following config on Databricks
Scala: 2.12
Spark: 3.1.2

I installed the following jars for mmlspark in Databricks:

- mmlspark-1.0.0-rc4.jar
- mmlspark-core-1.0.0-rc4.jar
- mmlspark-lightgbm-1.0.0-rc4.jar

When I run the following lines, I get a 'Answer from Java side is empty' error:

`from mmlspark.lightgbm import LightGBMClassifier

classifier = LightGBMClassifier(

[2022-01-25 22:21] arka-nitd opened #1364 "Unable to run saveNativeModel for VWRegressionModel"
**Environment**
Databricks 10.1ML Runtime.

**To Reproduce**
I am trying to run the Linear Regression example provided
[code]
Now when trying to save the model using .saveNativeModel
[code]
Getting following error
[code]
When trying with .save it is working but the model saved is in some binary which is not readable.
**directory structure**
[code]
**End Goal**
*To be able to save the model in some

[2022-01-26 03:33] musram commented on #1351
@jackgerrits  I took an example from the  test case from your repository and modified it as :
def get_data_two_shared():
        # create sample data
        schema = StructType([
            StructField("shared_text", StringType()),
            StructField("shared_text2", StringType()),
            StructField("action1", IntegerType()),
            StructField("chosenAction", IntegerType()),

[2022-01-26 15:08] josejuanmartinez opened #1367 "Spark Serving - 'DataStreamReader' object has no attribute 'server'"
**Describe the bug**
Both Azure Databricks and in local, I'm getting a "DataStreamReader" object has no attribute server.

**To Reproduce**
I've installed Synapse on Azure Databricks as described [here](https://microsoft.github.io/SynapseML/):
![image](https://user-images.githubusercontent.com/36634572/151187781-d8d82e42-2181-42d1-a50d-e8cf970dc39a.png)

Then, I just instantiate a Spark cluster as

[2022-01-26 16:31] #1367 closed

[2022-01-27 04:08] imatiach-msft commented on #1363
@naadvar sorry about the trouble you are having.  Can you try the latest version of synapseml instead of mmlspark rc4?  mmlspark was renamed to synapseml.  Do you still see the same issue?

[2022-01-27 06:09] arka-nitd commented on #1364
@memoryz  Thanks for the PR. Do you also have an example on how to dump the model in readable state (feature name and their co-efficients in readable format) and deserialise it back to VWRegressionModel for prediction in future ?

[2022-01-27 08:58] mengdl opened #1370 "library Install issue on Synapse"
**Describe the bug**
The doc in here(https://github.com/Microsoft/SynapseML#apache-livy-and-hdinsight) is not correct for Synapse, as Azure Synapse only has Spark pool 3.1 or 2.4 so far(2022/01/27), it does not work for 0.9.5.

According to https://microsoft.github.io/SynapseML/, the user should install com.microsoft.azure:synapseml_2.12:0.9.4 on Spark 3.1 pool.

**Info (please complete the follow

[2022-01-27 09:59] musram commented on #1351
Hi, @jackgerrits and @eisber. Can you suggest any fix the above problems?

[2022-01-27 11:45] eisber commented on #1351
@musram  Jack and I are setting up a debugging env to repro the problem.

[2022-01-28 00:45] #1364 closed

[2022-01-28 03:34] memoryz commented on #1364
@arka-nitd, the fix will allow you to save the native model as a binary file on your storage. To dump the model in readable state, does `print(model.getReadableModel())` help?
For serialization and deserialization, can you just use the standard Spark ML pipeline interface?
Serialization:
[code]
Deserialization:
[code]

[2022-01-28 03:38] memoryz commented on #1370
@serena-ruan what's the plan here?

[2022-01-28 09:49] musram commented on #1351
@eisber  and @jackgerrits, we were able to look at your source code and were able to pass the data as required by your framework.  We are not getting the above error.

But there is one issue we are facing when we pass chosenAction = 0 because of
   val selectedActionIdx = row.getInt(chosenActionColIdx)
          if (selectedActionIdx == 0) {
            throw new IllegalArgumentException("Chosen a

[2022-01-28 10:26] eisber commented on #1351
The index is simply 1 to n vs 0 to n-1. you are still able to select all actions.

[2022-01-28 11:24] musram commented on #1351
@eisber, yes I understand. We have to make a simple change in our data.
Thanks. I will close this issue.

[2022-01-28 11:24] #1351 closed

[2022-01-28 12:35] arka-nitd commented on #1364
@memoryz  I tried print(model.getReadableModel()) but this return the feature hash and their co-efficient. What i need is the feature names and their co-efficient, similar to what --invert-hash parameter would output.
What could be a way to achieve this  ? An example could really help

[2022-01-31 04:57] musram opened #1371 "Request for -invert-hash type feature as in Vowpal Wabbit."
**Is your feature request related to a problem? Please describe.**
The getReadableModel() gives hash with the weight.  The PR https://github.com/microsoft/SynapseML/pull/821 does refer to the requested feature but it was not committed.

**Describe the solution you'd like**
We want to feature: weight

**Additional context**
Similar to -invert-hash of vowpal wabbit.

[2022-01-31 13:51] imatiach-msft commented on #1370
@mengdl @serena-ruan @memoryz I made a minor doc update to the readme to resolve this:
https://github.com/microsoft/SynapseML/pull/1372

[2022-01-31 17:29] imatiach-msft commented on #1370
closing issue as PR has been merged:
https://github.com/microsoft/SynapseML/pull/1372#event-5982319928

[2022-01-31 17:29] #1370 closed

[2022-02-01 13:54] philmassie opened #1374 "java.io.FileNotFoundException - wrong jar names"
**Describe the bug**
jars not found when starting Spark session:

[code]

**To Reproduce**
For me:
[code]
This is so simple so I assume 'm missing something

**Expected behavior**
The three files to be downloaded with correct names.
If I rename the files as follows, the application gets submitted and started successfully:
[code]

**Info (please complete the following information):**
 - SynapseML V

[2022-02-02 07:07] dciborow opened #1375 "[Bug] Test Function used in Main Code"
https://github.com/microsoft/SynapseML/blob/0840e318bdba37b93fd39029867edffd466be92b/core/src/main/scala/com/microsoft/azure/synapse/ml/recommendation/SARModel.scala#L87

The "===" is a test function that may be excluded from the package. An alternative approach should be used to avoid issues if the following excludes are used.

`.config('spark.jars.excludes', 'org.scala-lang:scala-reflect,org.apa

[2022-02-03 15:39] harresbintariq opened #1376 "VowpalWabbit - Train with Synapse on databricks and inference via native VW CLI"
Hi,

I am training my VW CB model using synapseml on databricks.

Code is same as in: https://microsoft.github.io/SynapseML/docs/features/vw/Vowpal%20Wabbit%20-%20Overview/#vw-contextual-bandit

the model and featurizers/zipper pipeline are saved once training is complete.

now I want to do the inference using the native VW CLI. This is because the inference environment does not support spark.

ca

[2022-02-03 18:02] memoryz commented on #1364
Sorry I'm not familiar with the internals of VW. Can you post a separate issue? Maybe @eisber can help answer.

[2022-02-03 19:16] jrdzha opened #1378 "Failed to Load DataConversion"
**Describe the bug**

`com.microsoft.azure.synapse.ml.featurize.DataConversion` doesn't implement read(). Saving works fine. This doesn't work when used on its own (`DataConversion().load()`), and also doesn't work when used with MLlib's Pipeline/PipelineModel.

**To Reproduce**

Minimally reproducable:

[code]

**Expected behavior**

- Expect that we should be able to save and load DataConversion

[2022-02-03 20:13] eisber commented on #1364
@arka-nitd  can you share a small repro of you current feature/training pipeline. Unfortunately, when using VWFeaturizer the reverse mapping is lost. Since this request comes in repeated, this might be a good new feature. @jackgerrits  and I brainstormed a bit, but it's not straight forward. The VWfeaturizer already hashes the data, but without namespaces (at least from what I remember). So there'

[2022-02-03 21:05] imatiach-msft commented on #1327
@sinnfashen have you tried using ONNX with lightgbm, there is an example here:
https://microsoft.github.io/SynapseML/docs/features/onnx/ONNX%20-%20Inference%20on%20Spark/
that should make predictions much faster.  I think it may be slow because we call one row at a time which has high constant cost, instead of batching rows.  I believe there are actually some recent optimizations and a new method

[2022-02-04 14:48] philmassie commented on #1374
hmm, this has happened with another unrelated library, making me think it might not have anything to do with SynapseML, no idea what it is though

[2022-02-07 06:09] musram commented on #1371
@eisber I was looking at your reply for  https://github.com/microsoft/SynapseML/issues/1364.

I am finding it difficult to understand your statement "> Additionally it depends on the learning algo how the features are mapped to weights."
If there are some additional transformations at the feature level happening within the VowpalWabbitRegressionModel, then it makes sense otherwise I am unable to u

[2022-02-07 11:54] eisber commented on #1371
not all algos in VW have just a single weight for each feature.

@jackgerrits  can help explain too.

[2022-02-07 15:54] jackgerrits commented on #1371
For exampling if using bagging, then internally VW maintains several models. Each occupying a different hash space. You need to know the number of bags in order to decipher what each hash may correspond to.

[2022-02-07 19:59] riserrad opened #1384 "Foo issue, testing Action"
**Describe the bug**
A clear and concise description of what the bug is.

Bar description.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Da

[2022-02-07 20:05] #1384 closed

[2022-02-07 20:21] riserrad opened #1386 "Bar bug by riserrad updated"
**Describe the bug**
Foo issue while doing Bar action.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stacktrace**
[code]

I

[2022-02-07 20:22] riserrad commented on #1386
Updating bar issue.

[2022-02-07 20:24] riserrad commented on #1386
Closing the issue.

[2022-02-07 20:24] #1386 closed

[2022-02-09 03:13] #1327 closed

[2022-02-10 19:37] riserrad opened #1393 "Foo issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-02-10 19:57] mhamilton723 commented on #1374
Hey thanks for reaching out! I see you are still on Spark 2.4. SynapseML 0.9.5 is for spark 3.2 and there are some known dependency challenges that will arise if these versions are mismatched. I would imagine this would be a cause of some of the challenges you are facing

[2022-02-11 03:05] luoguohao commented on #1332
@imatiach-msft thanks for the reply, i also tried to using lightGBM distributed case ,it sounds like i can get the same result. i will keep attention on it, thanks~

[2022-02-11 11:53] philmassie commented on #1374
@jonathansp only thing that worked for me was to manually rename the jars in their directory. it seems like whatever's managing the download isn't reliably renaming them once theyre down. its a little painful but it got me past those initial errors at least :) If you do find a solution Id appreciate a heads up :)

@mhamilton723 good catch, I missed that. Will close this for sure. I saw the same er

[2022-02-11 11:53] #1374 closed

[2022-02-11 14:04] jonathansp commented on #1374
@philmassie thanks, indeed renaming the file worked, as something has to do with the gradle versionless build. However, it's hard to maintain.

@mhamilton723 absolutely, I downgraded SynapseML to 0.9.4 and it worked with spark 3.1.

Thank you guys.

[2022-02-14 07:34] Nitinsiwach opened #1403 "Where to specify numClasses metadata in LightGBMClassifier?"
My ```labelCol``` is named ```label```

Post running vectorassembler I run ```df_modeling = df_modeling.withColumn('label',
            col('label').alias('label',metadata={'numClasses':self.num_classes}))``` and yet I get the warning:
```com.microsoft.azure.synapse.ml.lightgbm.LightGBMClassifier: com.microsoft.azure.synapse.ml.lightgbm.LightGBMClassifier inferred 2 classes for labelCol=LightGBMCl

[2022-02-16 04:30] imatiach-msft commented on #1403
@Nitinsiwach that warning is coming from spark code when calling:

https://github.com/microsoft/SynapseML/blob/master/lightgbm/src/main/scala/com/microsoft/azure/synapse/ml/lightgbm/LightGBMClassifier.scala#L47

This is actually a standard thing for spark ml models and not unique to lightgbm.

You can find the method defined here in spark mllib codebase:
https://github.com/apache/spark/blob/master

[2022-02-16 04:34] imatiach-msft commented on #1403
You can also try to add this metadata yourself, but it is a bit complex to do that.  I'm not sure if you want to delve into manipulating spark metadata if you're not familiar with it.  There might be a nice way to add this as a parameter to lightgbm and just pass it to the LightGBMClassifier as well, but I don't think other spark ml models do that.

[2022-02-16 06:54] julia-pp opened #1404 "LightGBM model doesn't converge when set SingleDatasetMode=True"
**Describe the bug**
Hi, I have tried to migrate the local python lightgbm 3.2  to SynapseML lightgbm, it successfully trained model but got a quite different result for feature importance.

**To Reproduce**
Train Data : 3.8M * 758 columns
Eval Data: 0.2M * 758 columns

migrating to synapseML lightgbm:
1. Use StringIndexer to transform 122 string categorical columns
2. Use VectorAssembler to assem

[2022-02-16 11:56] julia-pp commented on #1404
Found some info from logs:
`[LightGBM] [Warning] Met negative value in categorical features, will convert it to NaN`
Then I checked the input data for distributed training, the minimum value for categorical features are all equal to zero and the maximum ( the indexed value) is less than '78667.0'.
 It should be in range of int32. And I have no idea what cause the warning ?

[2022-02-16 18:54] xelax opened #1405 "Apple Silicon (ARM) Macs (arm64e) not supported yet because of missing dynamic library"
Running lightgbm on a Mac with apple silicon (M1 chip, aarch64 architecture) fails because of missing native library for the architecture:

[code]

I think the fix should be as simple as adding the appropriate library inside `lightgbmlib-3.2.110.jar`. Let me know if I can help with building it.

[2022-02-18 12:28] hoemblem opened #1407 "MLFlow Integration"
**Is your feature request related to a problem? Please describe.**
Being able to utilise Mlflow (https://docs.microsoft.com/en-gb/azure/databricks/applications/mlflow/quick-start) in Databricks when using SynapseML would be helpful for storing models and metrics. I did see this feat: https://github.com/microsoft/SynapseML/pull/1277/files but wasn't sure if there is any documentation on using Mlflo

[2022-02-20 05:00] nitinmnsn commented on #1053
numThreads ([int](https://docs.python.org/3/library/functions.html#int)) – Number of threads for LightGBM. For the best speed, set this to the number of real CPU cores.
Is this number of cores on my executor node, number of cores in my executor or number of cores on my cluster?

[2022-02-21 06:45] liuyxmax opened #1411 "mmlspark lightgbm support for spark2.4"
I am working on lightgbm on spark. Since Spark2.4 on my company doesn't support synapseML, I am trying old version of mmlspark.
I am doing as this link [[mmlspark](https://github.com/nubank/mmlspark). ](https://github.com/nubank/mmlspark/blob/1.0.0-rc1-NUBANK/docs/lightgbm.md). Spark on company is offline,  and has an old version of mmlspark and cannot upgrade:
 `pip show mmlspark
Version: 0.0.111

[2022-02-22 22:19] imatiach-msft commented on #456
Oh sorry.  I think the local notebooks have all been removed since then, that was several years ago.  You will need to get the datasets locally some other way now.

[2022-02-22 22:24] imatiach-msft commented on #456
I actually found this really old example here as I was hitting this same issue locally:
https://github.com/microsoft/SynapseML/blame/95bdef7c976822a967e86474434131e04863df74/notebooks/samples/106%20-%20Quantile%20Regression%20with%20LightGBM.ipynb
[code]

[2022-02-23 05:48] Jess0-0 opened #1420 "'JavaPackage' object is not callable for Cognitive Services"
TypeError: 'JavaPackage' object is not callable
Traceback (most recent call last):

  File "/opt/spark/python/lib/pyspark.zip/pyspark/__init__.py", line 114, in wrapper
    return func(self, **kwargs)

  File "/home/trusted-service-user/cluster-env/env/lib/python3.8/site-packages/synapse/ml/cognitive/EntityDetector.py", line 95, in __init__
    self._java_obj = self._new_java_obj("com.microsoft.az

[2022-02-24 18:04] mhamilton723 commented on #1420
hey @Jess0-0 thanks for raising this issue, could you share a repro so we can check this out on our side? Thanks

[2022-02-24 18:11] mhamilton723 commented on #1411
Hey @liuyxmax we really suggest updating to spark 3 as 2.4 is now several years old with potential security ramifications.

However to use an older version please

1. uninstall that pip package (not sure why that's on pip and we have just moved to delete it so that it doesn't confuse others)
2. Follow older install guidance [here](https://github.com/microsoft/SynapseML/tree/v1.0.0-rc3)

Such as

[

[2022-02-24 18:11] #1411 closed

[2022-02-24 18:11] mhamilton723 commented on #1407
Thanks for raising this @hoemblem, adding the MLFlow lead @serena-ruan  for her comments

[2022-02-24 18:13] mhamilton723 commented on #1405
Thanks for bringing this up @xelax , I believe the fix would have to be added to the lightGBM repo itself as they package and publish this jar. @imatiach-msft who can point you to more info on this

[2022-02-24 18:15] mhamilton723 commented on #1376
Adding @jackgerrits and @eisber   for visibility here

[2022-02-24 18:17] mhamilton723 commented on #1378
@jrdzha thank you for raising this we will try to repro on our side!

[2022-02-24 18:55] jrdzha commented on #1378
@mhamilton723 I just tried it with `DataConversion.load(path)` and it's still giving me this error: `com.microsoft.azure.synapse.ml.featurize.DataConversion.read does not exist in the JVM`. The DataConversion load also doesn't work when used in a Pipeline, so it seems like an implementation mistake on DataConversion?

[2022-02-24 21:11] eisber commented on #1376
you should be able to get the binary model saved: https://github.com/microsoft/SynapseML/blob/master/vw/src/main/scala/com/microsoft/azure/synapse/ml/vw/VowpalWabbitBaseModel.scala#L111

the tricky piece is to get the featurization right. did you use the VW featurizer or MLSpark featurize?

[2022-02-25 03:35] serena-ruan commented on #1407
Thanks! Will update our website with some MLFlow examples.

[2022-02-25 06:51] xelax commented on #1405
ok. should I open an issue at https://github.com/microsoft/LightGBM/issues ?

[2022-02-25 09:29] hoemblem commented on #1407
That's awesome - thank you!

[2022-02-25 10:05] Nitinsiwach opened #1429 "java: malloc.c:4033: _int_malloc: Assertion `(unsigned long) (size) >= (unsigned long) (nb)' failed."
setting ```useSingleDatasetMode``` to ```True``` gives
[code]
I keep everything else the same and set that flag to ```False``` and the code runs just fine. At the surface the error looks like some memory overflow but, the single dataset mode was supposed to reduce the memory burden among other things.

Could you please help me understand what is going wrong?

I am using 0.9.4 synapse. My spark ver

[2022-02-25 14:53] bjohn22 commented on #1420
I also got the same error while downloading synapse.
I am on Ubuntu 20.04 (WSL2) I installed Spark using pip and it's working fine.
I also installed synapse with pip successfully.

No execution error with these imports:
`import pyspark
sc = pyspark.sql.SparkSession.builder.appName("MyApp") \
            .config("spark.jars.packages", "com.microsoft.azure:synapseml_2.12:0.9.5") \
            .confi

[2022-02-25 22:50] mhamilton723 commented on #1420
I cant repro this so it is probably an install issue.

Are you running locally or on a cluster provider like Synapse. If the latter than the spark session builder wont add the package and you should install via the synapse-specific install instructions at the bottom of our homepage:

https://microsoft.github.io/SynapseML/

[2022-02-28 09:55] harresbintariq commented on #1376
I used the VW featurizer as detailed here:  https://microsoft.github.io/SynapseML/docs/features/vw/Vowpal%20Wabbit%20-%20Overview/#vw-contextual-bandit

[2022-02-28 09:58] harresbintariq commented on #1376
I am able to save the binary model but issue lies with the featurizer (as was mentioned above as well).

[2022-02-28 17:11] musram opened #1431 "Doubts regarding the contextual bandit"
We are  using  VW with  map reduced framework. Now we want to move to the databricks  framework. I have few doubts.
Let us take the example from synapseML test case
schema = StructType([
            StructField("shared_text", StringType()),
            StructField("action1", StringType()),
            StructField("action2_feat1", StringType()),
            StructField("action2_feat2", StringType()

[2022-02-28 18:10] mhamilton723 commented on #1429
@imatiach-msft for visibility

[2022-02-28 18:12] mhamilton723 commented on #1407
https://microsoft.github.io/SynapseML/docs/next/mlflow/examples/

For others looking for examples they have just been published here!

[2022-02-28 18:12] #1407 closed

[2022-03-01 05:14] imatiach-msft commented on #1429
@Nitinsiwach I wonder if you should instead try setting:

spark.executor.instances=32 (2*16 cores?)
spark.executor.cores=1
spark.executor.memory=4 (64 GB per machine/16 executors per machine?)

You can also try the opposite extreme:

spark.executor.instances=2
spark.executor.cores=16
spark.executor.memory=64g

I'm not sure about the second case, but the first one looks more similar to databricks I

[2022-03-01 07:42] eisber commented on #1376
The input for the featurizer is the follow table (except the target column)
Data types are either int or float, thus the [NumericFeaturizer](https://github.com/microsoft/SynapseML/blob/master/vw/src/main/scala/com/microsoft/azure/synapse/ml/vw/featurizer/NumericFeaturizer.scala#L12)  is used.

VW Featurizer [outputColumn](https://github.com/microsoft/SynapseML/blob/master/vw/src/main/scala/com/mic

[2022-03-01 07:50] eisber commented on #1431
Q1: not sure what action_merger is? chosenAction indexes the actionFeature array (see Q2)
Q2: maybe that's the biggest confusion here. the actionFeature column is [expected to be of type Array of Vector](https://github.com/microsoft/SynapseML/blob/master/vw/src/main/scala/com/microsoft/azure/synapse/ml/vw/VowpalWabbitContextualBandit.scala#L172). The size of the array can vary with each row, thus

[2022-03-01 10:22] harresbintariq commented on #1376
I understand. But how should I port a model trained on databricks using synapseml (python) to VW CLI. Please refer below for further explanation:

I am training my VW CB model using synapseml on databricks.

Code is same as in: https://microsoft.github.io/SynapseML/docs/features/vw/Vowpal%20Wabbit%20-%20Overview/#vw-contextual-bandit

the model and featurizers/zipper pipeline are saved once traini

[2022-03-01 10:57] musram commented on #1431
@eisber
As could not understand the relation between the action features and chosenAction clearly let us take the below example.
One sample data point from the data set which  is taken from (https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/train-sets/cb_load.dat)  is

shared |User user=Tom time_of_day=morning
|Action article=politics
|Action article=sports
0:0.0:0.14285714498588012 |

[2022-03-01 12:02] eisber commented on #1431
action1, 2, 3, ... 4 are not individual columns, but there is a single "actions" column hold an array of Spark vectors.

As in the original example, the actions usually share the same namespaces. (e.g. Action). thus you can just do "-q UA" which forms quadratic features between |User and |Action.

[2022-03-01 13:07] musram commented on #1431
@eisber

I am clear with your reply.
"action1, 2, 3, ... 4 are not individual columns, but there is a single "actions" column hold an array of Spark vectors."  Is chosenAction a index in this vector pointing to that action taken?

[2022-03-01 14:16] eisber commented on #1431
@musram  correct, the choseAction indexes into the vector, indentifying the chosen action. @jackgerrits choseAction is still 1-based, right? while spark vectors are 0-based.

[2022-03-01 15:12] musram commented on #1431
Thanks @eisber  and @jackgerrits

[2022-03-01 15:12] #1431 closed

[2022-03-03 15:47] musram commented on #1431
@jackgerrits  and @eisber
https://github.com/microsoft/SynapseML/blob/58dd01fa7b17cbbfb7a53bc24ff508b2acd6d14c/vw/src/main/scala/com/microsoft/azure/synapse/ml/vw/VowpalWabbitContextualBandit.scala#L352.  In this line I think tuple (action_index, probability) should be saved. Otherwise we don't have the action to probability mapping as that information is lost by sorting.

When I do model.transfom

[2022-03-03 15:56] eisber commented on #1431
since the probs are sorted by actionIndex you can infer the (action_index) from the position of the probability in the array

[2022-03-04 16:17] shigengtian commented on #668
it seems that `brew install libomp ` will install to path `/opt/homebrew/opt/libomp/lib`
I link the libomp.dylib to `/usr/local/opt/libomp/lib/libomp.dylib`
An other error occurred
` Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (mach-o file, but is an incompatible architecture (have 'arm64', need 'x86_64')), '/usr/lib/libomp.dylib' (no such file)`

[2022-03-04 16:39] imatiach-msft commented on #668
@shigengtian please see the issue in lightgbm repo:
https://github.com/microsoft/LightGBM/issues/5035
sorry, currently there is no known workaround or fix for this yet

[2022-03-07 18:12] mhamilton723 commented on #1378
We test this as part of the build but will take a look. Thanks for bringing this back up!

[2022-03-08 18:45] JosephTLucas opened #1433 "Broken Link - ICETransformer Example"
**Describe the bug**
In [these release notes](https://github.com/microsoft/SynapseML/releases/tag/v0.9.5), you have this statement: "Learn about how to use the ICETransformer through [an example with the Adult Census dataset](https://microsoft.github.io/SynapseML/docs/next/features/responsible_ai/Interpretability%20-%20ICE%20explainer/)". I get a "Page not Found" from that link. I also don't see a

[2022-03-08 23:51] dayland opened #1435 "Simply setUrl() on Cognitive Services to not require full URL for different cloud environments"
**Feature Request Details**
Currently when using any of the Cognitive Service transformers against a sovereign cloud environment such as AzureUSGovernment, you must specify the entire URL including the version. This must match exactly the version that the SynapseML version is built for as the schema models are bound to the return structures from that specific version of the API.

For example, to c

[2022-03-09 19:43] mhamilton723 commented on #1433
Thank you its here and updating the release notes:

https://microsoft.github.io/SynapseML/docs/next/features/responsible_ai/Interpretability%20-%20PDP%20and%20ICE%20explainer/

[2022-03-09 19:43] #1433 closed

[2022-03-09 23:48] sagargoyal96 opened #1438 "Getting JAR files to run MMLSpark"
I need MMLSpark that runs on Spark 2.4 on HDI for my project as that is the supported version. I only see a release candidate (rc) for that. Is there a proper release that works with Spark 2.4 ?
Also in our setup we need to add the JAR file for any Spark dependencies that we want installed on the HDI cluster. What is the way to download a JAR (or multiple JAR's) that can be added to the spark cont

[2022-03-10 00:07] kishoresurana commented on #1070
@philmassie, @imatiach-msft, thank you for sharing the snippet above to retrieve the shap_values (by calling .select("shap_values")).

Can you please also provide code sample snippet that does this, to visualize the shap values - "_then your subsequent transforms will include the tree explainer based Shap scores - which is so cool._"?

I'm trying to visualize the shap values as shown below, but ru

[2022-03-10 04:28] imatiach-msft commented on #1070
@kishoresurana I believe, based on that error, you will need to convert the spark dataframe to a numpy array.  Then, I believe you should be able to use the shap plots directly.

[2022-03-11 01:23] jrdzha commented on #1378
@mhamilton723 Really appreciate it! Please let me know if there's any way I can help.

[2022-03-11 02:16] zhangpanfeng commented on #751
hi @imatiach-msft
my case is similar, when I use one executor, the train time is 5 mins, when I use two executors, the train time is more than 5 mins but very close, when I use four executors, the train time is about 15 mins.
**my environment is:**
spark: 3.2.0
synapseml: 0.9.4
instance type: m5.9xlarge (18 cores, 36 threads, 72G memory)
**my spark config is:**
--driver-memory 4g --executor-cores

[2022-03-11 02:44] zhangpanfeng commented on #751
I have tried synapseml 0.9.5, it is similar and even worse than 0.9.4 for my case

[2022-03-11 07:06] philmassie commented on #1070
@kishoresurana, I am sorry but I dont have a simple way to test this right now. As @imatiach-msft says though I think the datatype is wrong for plots etc.

The `select("shap_values")` bit returns a Spark DataFrame, but for plotting you need to collect the data back into your driver's Python context (as opposed to the Spark context/session). Something like this might get you closer (but watch out f

[2022-03-11 14:46] imatiach-msft commented on #751
@zhangpanfeng how large is your dataset?  Indeed, for very small datasets, the network communication overhead will actually make it slower to train, this is common knowledge.  If you have a small dataset, it doesn't make sense to use spark or distributed compute since it will usually just make things slower due to the network communication overhead.

[2022-03-11 15:12] imatiach-msft commented on #751
@zhangpanfeng also your driver memory is really low, I would recommend a higher value, based on:

--driver-memory 4g --executor-cores 34 --num-executors {executor_num} --executor-memory 50g

Also this setting is a bit strange.  You have 18 cores, 72G memory per machine, yet you are using 34 cores overall (which is just 2 machines).  I think you can increase executor cores and decrease memory to ru

[2022-03-11 17:35] kishoresurana commented on #1070
@philmassie , @imatiach-msft , thank you so much for trying to help. I honestly didn't expect that you folks would respond!

See code below (if you like to repro), which should be self-contained once you install the corresponding packages.
Basically, the shap plot is throwing an error expecting "base_values". Any idea how to get this working? @philmassie, could you share some code on how you use t

[2022-03-14 16:57] mhamilton723 commented on #1435
Hey @dayland, thanks so much for reaching out about this. Do you know if this proposal would also work with cognitive service containers? Thats originally why we made it pretty open-ended

[2022-03-25 07:19] dayland opened #1452 "TextAnalyze transformer does not properly handle failed ResponseTasks from Cognitive Services"
**Describe the bug**
When processing files through SynapseML using the TextAnalyse() transformer, Cognitive Services can return an error status on one or more of the Analyze Tasks. When this error status occurs, SynapseML fails to parse the the returned JSON and generates and error that fails the tasks in the Apache Spark Application.

**To Reproduce**
Send a file to Azure Text Analytics Analyze e

[2022-03-28 13:06] zhangpanfeng commented on #751
hi  @imatiach-msft,
Thanks you.
but as you know the value of --executor-cores is v-cores not the real CPU cores, but numThreads of synapseml is real CPU cores. how to make sure they match each other. and how to set numTasks of synapseml?

`Does each task use 1 core? That would speed things up a lot since you would use a lot more cores.`
The lightgbm official website recommends users set up real CP

[2022-03-30 10:39] dayland commented on #1435
That is a valid point, as we have not tested with containerized cognitive services. I guess the easiest way would be to clearly document which version of the APIs each transformer is bound to so that when a user needs to specify the full URL, we know exactly which endpoints to specify.

[2022-03-30 14:50] anishazaveri opened #1459 "LightGBMRanker in example notebook throws `java.io.InvalidClassException: org.apache.spark.ml.Ranker`"
**Describe the bug**
I'm running the LightGBMRanker code (Cmds 37-41) in example notebook `LightGBM - Overview.ipynb` from [here](https://mmlspark.blob.core.windows.net/dbcs/SynapseMLExamplesv0.9.5.dbc) on Azure Databricks. I get a bug in command `lgbm_ranker_model = lgbm_ranker.fit(df)` (Cmd 41)

**Info (please complete the following information):**
 - SynapseML Version: 2.12
 - Spark Version 3.1

[2022-03-30 15:21] imatiach-msft commented on #1459
@anishazaveri what is your spark setup?  Based on this comment:
https://github.com/apache/spark/pull/629#issuecomment-42616622
it seems like it may be due to having two spark versions loaded somehow.  Or perhaps there are two synapseml versions loaded.  Regardless, perhaps we should add the SerialVersionUID just in case for serialized classes.

[2022-03-30 15:24] imatiach-msft commented on #1459
Based on the fact you are running on AzureDatabricks I'm not really sure that is the issue.  Wait, actually, can you show what libraries you have installed?  I wonder if somehow you have two synapseml libraries installed in the databricks cluster at the same time?  Perhaps ensuring you only have one version installed and restarting the cluster would fix this?

[2022-03-30 15:26] anishazaveri commented on #1459
I do have an older mmlspark version installed as well on the cluster. I will uninstall it and report back

[2022-03-30 18:45] imatiach-msft commented on #1459
@anishazaveri did you have a chance to uninstall, to see if the issue is fixed?

[2022-03-31 06:55] jinmfeng001 opened #1462 "Pairwise model have different performance with python api with the same configurations"
**Describe the bug**
We trained a pairwise model using LightGBMRanker with below settings, the model performance is poor, it event didn't split the records correctly(about 98% records in a single leaf node). But when we train the model with python lib with the same settings, it works fine.

[code]

tree infos:
[code]

**To Reproduce**
The parameters from the model dump file are:

[code]

**Expecte

[2022-03-31 12:59] anishazaveri commented on #1459
Yes, the uninstallation fixed the issue. Thank you!

[2022-03-31 12:59] #1459 closed

[2022-03-31 14:56] imatiach-msft commented on #1462
@jinmfeng001 could you provide some sample dataset (maybe some dummy ranking data that looks similar to your actual data and which can be run on synapseml and python versions of lightgbm ranker) that we could reproduce the issue on?  This could be happening for a variety of reasons (maybe some different parameters? or possibly even some bug?), but without a way to reproduce the issue it's hard to

[2022-03-31 23:45] mhamilton723 opened #1465 "Testing ADO Linker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-03-31 23:54] #1465 closed

[2022-03-31 23:54] mhamilton723 opened #1467 "test ado linker 2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-04-01 00:04] mhamilton723 opened #1468 "Test ADO Linker 3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-01 00:08] mhamilton723 opened #1469 "Test ADO Linker 4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-01 00:09] #1469 closed

[2022-04-01 00:09] #1468 closed

[2022-04-01 00:09] #1467 closed

[2022-04-01 18:49] jrdzha commented on #1378
@mhamilton723 Sorry for pushing, but this is really blocking for us. Any updates, or any way I can help? Thanks..

[2022-04-04 04:48] bipin2295 commented on #1289
@mhamilton723 , very sorry for such a late reply, these are the few sample records..

[code]

[2022-04-04 04:59] Amey2400 opened #1471 "Spark pod not getting terminated after completion of spark job"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-04 12:01] trover97 commented on #1289
Me and my colleague have the same problem. That's how i run LightGBM:
[code]

SynapseML Version: 0.9.5
Spark Version: pyspark 3.0.1
Spark Platform [e.g. Databricks]: custom hadoop cluster

[2022-04-12 22:54] mhamilton723 opened #1473 "Build conda step taking very long on build server"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-12 22:55] mhamilton723 opened #1474 "Python tests on build server are not using local maven repo to get scala code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-12 22:57] mhamilton723 opened #1475 "Form recognizer docs not working"
**Describe the bug**
I ran this sample code on my end but I don’t get the same output as on this doc([Tutorial: Form Recognizer with Azure Applied AI Service - Azure Synapse Analytics | Microsoft Docs](https://docs.microsoft.com/en-us/azure/synapse-analytics/machine-learning/tutorial-form-recognizer-use-mmlspark)). I get 'No data available'.

**To Reproduce**
https://docs.microsoft.com/en-us/azure

[2022-04-13 02:30] mhamilton723 opened #1476 "Test issue routing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

**Expected behavior**
A clear and concise description of what you expected to happen.

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stac

[2022-04-13 02:31] mhamilton723 commented on #1476
Fooo!

[2022-04-13 20:26] #1476 closed

[2022-04-13 20:26] mhamilton723 commented on #1475
User Error - did not use a SAS URL

[2022-04-13 20:26] #1475 closed

[2022-04-14 14:49] fonhorst opened #1478 "LightGBMClassifier suffers a great loss in quality in Single Dataset Mode if running with not enough chunkSize"
**Describe the bug**
 if chunkSize parameter of LightGBMClassifier is less  than dataset_size / cores_per_exec * num_of_execs, the resulting model degrades to very bad quality of predictions. See the table with predictions on the test part of data for different cores/chunkSize-s below.
![Screenshot from 2022-04-14 17-12-00](https://user-images.githubusercontent.com/3002739/163414077-0dd8ad5e-d6d1-

[2022-04-14 16:22] imatiach-msft commented on #1478
@fonhorst wow, that's so weird!  There must be a major bug somewhere.  This parameter is only for batching data.  It shouldn't have any impact on metrics at all.  It can only have some impact on execution time if the chunk size is a small value and there is a lot of data, since it would increase the number of copies done.

[2022-04-15 09:29] fonhorst commented on #1478
I think another posted issue may be related to the problem I described. Check this #1404

[2022-04-16 03:55] chengs commented on #1471
I have the problem also.

    SynapseML Version: v0.9.5
    Spark Version 3.2.0
    Spark Platform on Google Cloud DataProc

Likely, it appears from time to time.

[2022-04-18 04:39] imatiach-msft commented on #1332
closing as lightgbm is now deterministic with merged PR https://github.com/microsoft/SynapseML/pull/1387 as long as seed and deterministic=True parameters are set

[2022-04-18 04:39] #1332 closed

[2022-04-18 04:40] imatiach-msft commented on #928
closing as lightgbm is now deterministic with merged PR https://github.com/microsoft/SynapseML/pull/1387 as long as seed and deterministic=True parameters are set

[2022-04-18 04:40] #928 closed

[2022-04-18 04:40] imatiach-msft commented on #564
closing as lightgbm is now deterministic with merged PR https://github.com/microsoft/SynapseML/pull/1387 as long as seed and deterministic=True parameters are set

[2022-04-18 04:40] #564 closed

[2022-04-18 04:42] imatiach-msft commented on #1179
closing as lightgbm is now deterministic with merged PR https://github.com/microsoft/SynapseML/pull/1387 as long as seed and deterministic=True parameters are set

[2022-04-18 04:42] #1179 closed

[2022-04-18 04:45] imatiach-msft commented on #1478
@fonhorst where can I get the dataset you used, is it the same bankruptcy dataset as this one in our overview:
https://github.com/microsoft/SynapseML/blob/master/website/versioned_docs/version-0.9.5/features/lightgbm/LightGBM%20-%20Overview.md

I'm trying to run this line:
df = (
    spark.read.format("csv")
    .option("header", True)
    .option("inferSchema", True)
    .load("/opt/spark_data/co

[2022-04-18 04:59] imatiach-msft commented on #1478
"LightGBMClassifier's numThreads was set num_cores - 1 following what is recommended https://github.com/microsoft/SynapseML/issues/1316"
I noticed you were doing this in the script.  However, we do this automatically now, as part of PR https://github.com/microsoft/SynapseML/pull/1282 , so it's not needed.

[2022-04-18 05:00] imatiach-msft commented on #1478
I don't have lightautoml installed.  I'll just skip it for now in your script:

![image](https://user-images.githubusercontent.com/24683184/163757068-66d067f6-31d2-434d-9779-1097a87c557b.png)

[2022-04-18 05:07] imatiach-msft commented on #1478
I tried this on a cluster with 8 workers, 4 cores each, and 1 driver, also 4 cores.

For chunksize=10k, my AUC was 0.7055860805860806
For chunksize=1k, my AUC was 0.5897054334554336

It looks like I can reproduce this issue right now, will take a deeper look into it.

[2022-04-18 05:12] imatiach-msft commented on #1478
Interestingly, when I turn off single dataset mode, the chunk size can be 100, 1k or 10k, but I still get the same results.

[2022-04-18 09:42] fonhorst commented on #1478
The dataset was from the synapse ml example.
https://github.com/microsoft/SynapseML/blob/master/website/versioned_docs/version-0.9.5/features/lightgbm/LightGBM%20-%20Overview.md

While I'm not running on Azure I took csv file from here:
https://www.kaggle.com/datasets/fedesoriano/company-bankruptcy-prediction

Sorry for the lightautoml import. It is not really necessary for the example. Here is th

[2022-04-19 16:36] mhamilton723 commented on #1473
Fixed with caching and pinning versions!

[2022-04-19 16:36] #1473 closed

[2022-04-19 16:37] mhamilton723 commented on #1452
#1453 Fixes this :)

[2022-04-19 16:37] #1452 closed

[2022-04-19 16:39] mhamilton723 commented on #1438
https://github.com/microsoft/SynapseML/tree/v1.0.0-rc4

This is the last release we had on Spark 2.4. You can use the specified maven coordinates or use sbt assembly to make an uber jar. Hope this helps!

[2022-04-20 05:08] imatiach-msft commented on #1478
@fonhorst I was able to reproduce the issue locally, but interestingly only on this particular dataset - on a different dataset, I did not see this issue.  I found something strange.  I added debug here:

https://github.com/microsoft/SynapseML/blob/master/lightgbm/src/main/scala/com/microsoft/azure/synapse/ml/lightgbm/dataset/DatasetAggregator.scala#L37

And the last chunk count seems to be higher

[2022-04-20 05:09] imatiach-msft commented on #1478
note the first 4 are from labels and the last 4 are from the dataset (the debug is mixed on lines since it's from 4 threads writing at the same time)

[2022-04-20 10:35] denmoroz commented on #1094
@imatiach-msft 👋

I think it will be 100% very useful. For instance in my particular scenario: I am using hyperopt to tune booster parameters with `average_precision` as a metric using CV. From the code I see that from Scala I can override [afterTrainIteration](https://github.com/microsoft/SynapseML/blob/339e516e1c38d583c95c95d15d6b09fd86e6a43b/lightgbm/src/main/scala/com/microsoft/azure/synapse/m

[2022-04-21 04:46] imatiach-msft commented on #1478
@fonhorst I was able to fix the issue locally, the problem was that chunkSize was much larger for the features array (specifically, it was numCols * chunkSize, instead of just chunkSize).  I will send a PR soon.  Thank you for your patience.

[2022-04-22 10:49] fonhorst commented on #1478
@imatiach-msft Thank you very much for your swift response!

[2022-04-25 05:05] imatiach-msft commented on #1478
@fonhorst the issue should be resolved with the PR:
https://github.com/microsoft/SynapseML/pull/1490
thank you for discovering this problem, for the great repro steps, and for your patience!

[2022-04-25 11:19] divya-r-kamat opened #1491 "Performance of keyphrase extraction on huge dataset"
I am using cognitive service from mmlspark package to extract keyphrases, I have dataset with ~500k (5 lakh records), its taking too long (job runs for more than 24 hrs) to extract keyphrases, is there any faster or efficient way to extract key phrases for huge dataset.

[code]

I am running the job on Synapse notebook on spark cluster.

Thanks,
Divya

AB#1761861

[2022-04-25 12:34] imatiach-msft commented on #1478
You can try the build at:

Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.9.5-92-76c32ccf-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

[2022-04-25 12:38] imatiach-msft commented on #1336
closing as the associated PR for this issue has been merged

[2022-04-25 12:41] #902 closed

[2022-04-25 18:16] imatiach-msft commented on #1478
closing the issue as PR has been merged:
https://github.com/microsoft/SynapseML/pull/1490

[2022-04-25 18:16] #1478 closed

[2022-04-25 18:18] imatiach-msft commented on #1404
closing as this issue was likely related to the issue:
https://github.com/microsoft/SynapseML/issues/1478
the fix has now been merged with PR:
https://github.com/microsoft/SynapseML/pull/1490

You can try the build with the fix at:

Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.9.5-92-76c32ccf-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

The fix will be in the next relea

[2022-04-25 18:18] #1404 closed

[2022-04-25 18:21] imatiach-msft commented on #1462
@jinmfeng001 I think this may actually be related to the issue:
https://github.com/microsoft/SynapseML/issues/1478
can you please try the new build:

Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.9.5-92-76c32ccf-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

to see if it may fix your issue? Thank you!

[2022-04-26 05:52] jinmfeng001 commented on #1462
@imatiach-msft Thanks for your update, I tried com.microsoft.azure:synapseml_2.12:0.9.5-92-76c32ccf-SNAPSHOT, and the issue was resolved.

thanks for your help.

[2022-04-27 03:55] djshen opened #1494 "LightGBM does not save numIteration to string or native model"
**Describe the bug**
When the LightGBM model early stopped, `LightGBMBooster.numIterations` is set and this value will be passed to `lightgbmlib` while calling `predictForCSR` or `predictForMat`. However, `saveToString` and `saveNativeModel` do not save this information. Therefore, when we load the model from the saved string or native model again, the predictions would be different from the origi

[2022-04-28 16:52] mhamilton723 commented on #1491
Hey @divya-r-kamat yes there are some ways to improve perf

1 The most important way is batching: See here for some usage of the minibatch transformer
https://github.com/microsoft/SynapseML/blob/b25feab93a1c9e5ed879a5fcf9b1bfb9dfcbea55/cognitive/src/test/scala/com/microsoft/azure/synapse/ml/cognitive/split1/TextAnalyticsSuite.scala#L63

2. The next thing to check is whether you are getting throttl

[2022-04-28 16:53] mhamilton723 commented on #1494
Tagging in @imatiach-msft @svotaw

[2022-04-28 16:54] #1462 closed

[2022-04-28 16:55] #1438 closed

[2022-04-29 02:09] Ishitori commented on #1289
Same issue, using `com.microsoft.azure:synapseml-lightgbm_2.12:0.9.5` with Spark 3.0.1

[2022-05-04 11:51] denmoroz opened #1499 "LightGBMDelegate is not available for PySpark users"
**Is your feature request related to a problem? Please describe.**
`LightGBMDelegate` is not available for PySpark users

**Describe the solution you'd like**
`from synapse.ml.lightgbm import LightGBMDelegate`

**Additional context**
As described in https://github.com/microsoft/SynapseML/issues/1094#issuecomment-1103781493

I am using hyperopt to tune booster parameters with `average_precision` as

[2022-05-09 21:25] svotaw commented on #1494
@djshen  Can you provide code examples and specific "incorrect" model output for saveToString or saveNativeModel?  In my testing locally, if "early stopping" is hit, the returned model from `fit` only serializes the used iterations in `saveToString` (which uses the LightGBM library to actually do the serialization). What do you mean by _"`saveToString` and `saveNativeModel` do not save this inform

[2022-05-09 22:45] svotaw commented on #1494
nevermind, found the issue.  fixing it.  :)

[2022-05-10 02:19] Quentin-Song opened #1507 "Exception in loading lightgbm library"
User reported the following stack trace:

[code]

AB#1784670

[2022-05-10 20:00] #1494 closed

[2022-05-10 22:17] svotaw commented on #1494
Fixed with this PR:
https://github.com/microsoft/SynapseML/pull/1497

Build here:
SynapseML Build and Release Information
Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.9.5-104-9657a531-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

[2022-05-10 23:29] niehaus59 commented on #1499
Hi denmoroz - We have been discussing this and while the idea is good, we will need to have a bigger discussion about a more general hook facility that would cover the majority of SynapseML, if not all of it, and make that available in python and R.  Making LightGBMDelegate available in python would complicate that effort.  Please respond here if you have concerns.

[2022-05-10 23:37] KeerthiYandaOS commented on #1507
@Quentin-Song Can you please share when you are seeing this error and what were you trying to execute? I see a stack trace posted in the description but can you post the additional details to help us better understand the scenario.

[2022-05-11 01:47] djshen commented on #1494
Hi @svotaw,

Thank you for the fix! We will test this build later.

[2022-05-11 10:23] denmoroz commented on #1499
@niehaus59 Thanks for your response!

Am I getting this right: **there is** a plan (or intention at least) to make a more general solution and expose most of SynapseML to Python / R users?

[2022-05-11 11:14] denmoroz commented on #1499
Also I see that there is ROC AUC in `ComputeModelStatistics`, but at the same time Average Precision (areaUnderPR) is absent. It will be awesome to add it also as it is very useful for many binary classification tasks.

[2022-05-12 13:08] denmoroz commented on #1499
@niehaus59
Thanks for explanation!

Sure

[2022-05-12 15:01] denmoroz opened #1509 "Average precision metric for binary classification"
**Is your feature request related to a problem? Please describe.**
There is ROC AUC in `ComputeModelStatistics`, but at the same time Average Precision (`areaUnderPR`) is absent.

**Describe the solution you'd like**
It will be awesome to add it as it is very useful for many binary classification tasks.

**Additional context**
None.

AB#1789611

[2022-05-13 03:31] microsoft-github-policy-service[bot] opened #1512 "This repo is missing mandatory files"
There are several mandatory files we require in this
repository. A pull request has been opened to add the
missing files. When the pr is merged this issue will be
closed automatically.

[Merge this pull request](https://github.com/microsoft/SynapseML/pull/1511)

AB#1790569

[2022-05-13 20:04] #1512 closed

[2022-05-13 21:21] mhamilton723 commented on #1509
I think this already supported as the name "AUC" but tagging in @imatiach-msft for exact details

[2022-05-14 06:37] denmoroz commented on #1509
Hmm, `getAUC` calls `areaUnderROC` not `areaUnderPR`, so it should be ROC AUC not PR AUC.

Also it not clear what the difference between [areaUnderROC](https://github.com/microsoft/SynapseML/blob/383cb951811908fe29b85253edfd8dffb9b2241c/core/src/main/scala/com/microsoft/azure/synapse/ml/core/metrics/MetricConstants.scala#L19) (`MetricConstants.AreaUnderROCMetric`) and [AUC](https://github.com/micr

[2022-05-14 16:36] fox-gamer commented on #1471
Same problem leading to unnecessary costs when using auto-scaling:

- SynapseML version: v0.9.5
- Spark version 3.2.0
- Azure Kubernetes Service (AKS)

[2022-05-17 16:36] denmoroz commented on #1509
There is a common agreement in community that AUC = ROC AUC (areaUnderROC in spark terms), so probably no need to rename anything. Instead it will be nice to add ROC PR (areaUnderPR in spark terms) and name it as AP (average precision) for instance (naming is not my best 😓 ). At least it then will follow LightGBM metrics naming:
<img width="1391" alt="image" src="https://user-images.githubusercont

[2022-05-18 12:52] alzio2607 opened #1513 "mml spark Incorrect lightgbm predictions"
**Pretext**
I trained the model using the dataset created from a **pandas df** viz
`        train_dataset = lgb.Dataset(
            df,
            label=df["label"],
            weight=df["weight"].values,
            free_raw_data=True,
        )`

and then training
`        model = lgb.train(
            config["hyperparams"],
            train_dataset,
            verbose_eval=0,

[2022-05-18 14:51] imatiach-msft commented on #1513
@alzio2607 could you please send a notebook that reproduces the issue?

"The predictions on the pandas df should match with the predictions on spark df in mmlSpark."
I agree that these should match.

I see spark code above in your example following the line "The code that I am running on pyspark is:", but I'm not sure how you are calling the trained lightgbm spark model on a pandas dataframe.  Cou

[2022-05-18 17:31] mhamilton723 commented on #1509
@imatiach-msft i think area under PR is much better for unbalanced tasks

[2022-05-19 07:30] alzio2607 opened #1514 "Request to add certain training parameters present in classic Lightgbm to Synapse ML"
**Is your feature request related to a problem? Please describe.**
Some features present in the classic (non-spark) Lightgbm are not there in synapseML. These features are really needed for someone looking to switch from the classic way to Synapse .  It'll be appreciated if the parameters are integrated since they help with more precise training too.

**Describe the solution you'd like**
Would lik

[2022-05-20 04:42] imatiach-msft commented on #1514
@alzio2607 I think this is somewhat resolved with PR:
https://github.com/microsoft/SynapseML/pull/1444
which was merged recently, since
[code]
adding @svotaw
Ofcourse, we should add these parameters to the API directly as well, in addition to the custom args parameter.

[2022-05-24 06:38] ramab1988 commented on #1289
Facing the same issue. Could you guys please fix this?

[2022-05-26 22:06] bgereke commented on #804
Have there been any updates on this issue? I'm seeing the same error. If this has been resolved, would it be possible for someone to provide a simple working example?

PySpark Version: 3.1.2
Spark config:
  spark.jars.repositories: "https://mmlspark.azureedge.net/maven"
  spark.jars.packages: "com.microsoft.azure:synapseml_2.12:0.9.5-13-d1b51517-SNAPSHOT"
  spark.jars.excludes: "org.scala-lang:sca

[2022-05-27 15:15] seakelle commented on #1070
Also having some interesting issues with SHAP values calculated via SynapseML. It appears that there's an extra value added that does not correspond to any of the input features. Perhaps that's why the top features appear so different @kishoresurana? I'm including a snippet below which extends your example from above and compares the SynapseML SHAP values to SHAP values calculated by the native `s

[2022-05-27 16:16] imatiach-msft commented on #1070
@seakelle the extra value is the expected value, or what the model predicted on the background dataset - you can think of it as what the model predicted if all features were "off" in the sense that they would be replaced with the background distribution (ie the average of the training dataset or the population).

[2022-05-27 18:11] seakelle commented on #1070
Understood. Thanks for the quick response! Would it be possible to make this clearer in the documentation? Especially since the `VectorAssembler` is needed to aggregate the features into one column and thus the feature names become slightly obfuscated, it easy to mistake that the extra value is associated with one of the input features.

[2022-05-27 19:24] bgereke commented on #804
Modified from the adult census example:

[code]

[2022-05-30 16:19] eisber commented on #804
waiting for [VW PR](https://github.com/VowpalWabbit/vowpal_wabbit/pull/3961) to be approved and then we can look into merging [this](https://github.com/eisber/mmlspark/tree/marcozo/vw_oaa) for SynapseML

[2022-06-01 21:36] bgereke commented on #804
Thanks for the effort on the PR! I look forward to test driving once it gets merged :)

[2022-06-03 16:25] wjohnson opened #1519 "HealthCareSDK Returns NullPointerException on Synapse Spark"
**Describe the bug**
When using the HealthCareSDK class in SynapseML, I get a NullPointerException when running on a dataset of 1,000+ rows.

**To Reproduce**

On a medium amount of data (1,000+ rows) with StringType field between 250 and 4,000 characters long, execute the following code:

[code]
During the write, I receive the StackTrace below.

**Expected behavior**
I would expect to receive the

[2022-06-08 11:02] Snstark commented on #889
Why we cant use spark DF directly as an input for LightGBM?

[2022-06-13 17:56] sundeepks opened #1529 "Spark LightGBM support for re-training from the existing model"
Do we have a support for checkpointing/saving the model & re-use the already trained model to train against the next day dataset

I have gone over the docs but did not any around the same..any pointers would be of great help

Although I have come across setInitScoreCol for the same & any example of the usage would be helpful

AB#1829059

[2022-06-13 19:24] #1491 closed

[2022-06-13 19:49] svotaw commented on #1529
Yes, there is a saveNativeModel(filename) and getNativeModel() to return string as a variable.  With this string you can recreate the model that was previously trained.

[code]
To recreate model for use to transform, simply load the modelStr
[code]
To recreate the model for further training:
[code]

The dataframe column for initial scores (initScoreColName above) should contain a single double for

[2022-06-16 15:46] BrianMiner opened #1534 "Errors Training on Large Dataset : LightGBM"
Im trying to fit a classifier with LightGBM on a large dataset. There are about 900,000,000 rows and 40 columns, 7 of which are integers being treated as categorical.

 - SynapseML Version: com.microsoft.azure:synapseml_2.12:0.9.5
 - Spark Version 3,2
 - Spark Platform: AWS EMR

The current cluster is

6 workers with 16 VCPUS and 64GB RAM each.

The call to Lightgbm is as follows:

[code]

I have

[2022-06-16 16:14] imatiach-msft commented on #1534
@BrianMiner currently lightgbm loads all data into both java and native memory, but @svotaw is working on implementing a streaming mode which will allow lightgbm to stream the java data into a native binned representation which should be a fraction of the current memory usage.  You can find his current PR to lightgbm native code here:

https://github.com/microsoft/LightGBM/pull/5291

and once that

[2022-06-16 16:27] BrianMiner commented on #1534
Ill try the new code. Does the memory usage method above suggest that currently a certain configuration ( cluster size and spark properties to allocate the resources) is needed for this data? Is that somehow knowable?

[2022-06-16 17:15] imatiach-msft commented on #1534
I would know this much better if I could see the cluster logs.  Note the build above is just latest master, it doesn't yet include the new optimizations.  I wrote to @svotaw and he wrote that he will be able to send a PR by Monday, so sometime next week we can send you a build to try out with the new streaming optimizations to see if it helps prevent the error.

[2022-06-16 20:35] BrianMiner commented on #1534
If I bump up the executor memory to 64GB I can train 50% of the rows (450million). I noticed that this last step, if it has 4 tasks or less, it will crash. if the number of tasks is larger, it likely succeeeds

![image](https://user-images.githubusercontent.com/8807554/174159094-eb48f4f5-0277-484b-b8d4-2ea9a5037d4b.png)

[2022-06-17 21:01] imatiach-msft commented on #1534
Interesting, it might just be an issue with how much memory you have assigned to executors.  Maybe you have little memory assigned to each executor, hence this would explain that if you have more tasks you can run on more data.  I'm not sure how your cluster is configured, but from the UI it doesn't look like you are using a Databricks cluster or a Synapse cluster, which are the two that I am most

[2022-06-18 01:15] BrianMiner commented on #1534
I had 64 to 128 GB assigned to executors during various tests. I am using EMR.

Looking forward to the new memory efficient version!

[2022-06-20 13:58] ruotaozhang opened #1537 "How to process data when each event has different number of available actions in VW CB?"
Hi,

I was looking at the VW CB example given [here](https://microsoft.github.io/SynapseML/docs/features/vw/Vowpal%20Wabbit%20-%20Overview/#vw-contextual-bandit).

In the example data, each event (i.e., row) has the same set of available actions which is [1,2,3,4,5]. Each action has a feature called "topic", and the topic of each of the 5 actions is extracted from the original json log to form 5 c

[2022-06-22 21:25] cynthiajiangatl opened #1542 "Text-to-Speech example did not work in the Cognitive Service Overview notebook"
"{"errorCode":"AuthenticationFailure","errorDetails..."
errorCode: ""AuthenticationFailure""
errorDetails: ""HTTPAPI result code = HTTPAPI_OK. HTTP status code = 401. Reason: Unauthorized.""
errorReason: ""Error""

"dbfs:/output.mp3" is used as the output file which caused the issue.

I suggest the following bug fix:

# Mount a data lake storage with a linked service.
mssparkutils.fs.mount(
    "a

[2022-06-23 01:48] sunkun1997 opened #1543 "Ask questions about unbalanced data"
I have an unbalanced binary data. Its positive sample proportion is 0.0603.

First, I use the lightgbm package  to train the data. I set my argument num_leaves to 8 and scale _ pos _ weight to 2.5. After training, the F1-score of the positive sample is 0.7194, This is exactly what I want.

Then, I use synapse.ml.lightgbm by pyspark. First, I set the argument  isUnbalance to True. After training, t

[2022-06-23 10:18] #1543 closed

[2022-06-27 15:52] alidavoudian opened #1547 "Problem with reverse geocoding using SynapseML in Synapse Spark Pools"
**Describe the bug**
Reverse geocoding of some already generated coordinates of address returns "undefined"!

**To Reproduce**
Steps to reproduce the behavior, code snippets encouraged

# Create a dataframe that's tied to it's column names
df = spark.createDataFrame(((
    (45.32202, -75.83875),
    (47.62039, -122.34928),
    (45.37032, -75.70161),
    (45.3702793, -75.7037331),
    (45.28471, -7

[2022-06-29 00:53] alidavoudian opened #1548 "SynapseML v0.9.5 does not work over Synapse Spark Poolv3.1 for the Azure Form Recognizer"
**Describe the bug**
The following code returns an empty list: (Note that when using the REST API to connect to the Form Recognizer, the result is not empty)
emptyDf = spark.createDataFrame([("",)])

listCustomModels = (ListCustomModels()
                  .setLinkedService(cognitive_service_name)
                  .setOp("full")
                  .setOutputCol("models")
                  .setConc

[2022-07-01 09:30] serena-ruan commented on #1548
Could you try replacing `.setLinkedService(cognitive_service_name)` with `.setLocation("YOUR_COG_SRV_LOCATION").setSubscriptionKey("YOUR_SUB_KEY")` to see if it works?
Chances are there're problems with the linked service.

[2022-07-01 09:39] serena-ruan commented on #1548
BTW, 0.9.5 is for Spark 3.2. If you're using Spark3.1 pool, please use 0.9.5-13-d1b51517-SNAPSHOT. You can refer to the installation part on this website https://microsoft.github.io/SynapseML/

[2022-07-01 09:58] serena-ruan commented on #1547
What is your output? Do you mean you're expecting the freeformAddress and country not containing empty values at all? The output.response.addresses should be the result directly returned by the cog service.

[2022-07-01 17:05] alidavoudian commented on #1548
We really apprecitae if you schedule a meeting with us in Canada Revenue Agency, as we are stuck in two points with SynapaeML 1) connecting to Azure Form Recognizer and 2) connecting to Azure Maps

Kind regards, Cloud Database Services, Canada Revenue Agency

[2022-07-03 10:51] sundeepks commented on #1529
@svotaw to recreate the model for further training is it required to setInitScoreCol or just setting the model string is good enough ?

`val classifier = new LightGBMClassifier().setModelString(modelStr)`

Currently I am saving the model & reading it back for further training like below do let me know if I am missing anything here as I am observing higher binary log loss just want to make sure in

[2022-07-03 13:45] sundeepks opened #1549 "Facing error while training with large dataset : std::bad_alloc"
Intermittently facing this issue of `std::bad_alloc` while training with the below configuration,  can you please advise on the same

No of Executors : 30
No of Cores : 12, total 16 vcpu's
Ram : 128 gb Executor Memory : tried with 48 gb / 64 gb
Driver Memory : 64 gb

No of events : 250 Million
No of Features : 2010 columns

`Model Configuration : useSingleDatasetMode=True, numLeaves=512, featureFr

[2022-07-03 14:05] sundeepks opened #1550 "Inconsistency detected by ld.so"
Facing below intermittent error while training Lightgbm model

`Inconsistency detected by ld.so: ../elf/dl-tls.c: 488: _dl_allocate_tls_init: Assertion `listp->slotinfo[cnt].gen <= GL(dl_tls_generation)' failed!`

No of Executors : 30
No of Cores : 12, total 16 vcpu's
Ram : 128 gb,  Executor Memory : 64 gb
Driver Memory : 64 gb

No of events : 250 Million
No of Features : 2010 columns

Model Confi

[2022-07-04 02:19] serena-ruan commented on #1548
I'll reach out to the team and schedule a meeting. In the meantime, could you double check your subscription key and location is correct? And could you double check the result of calling `listCustomModels.transform(emptyDf)` directly to see if it's also empty?

[2022-07-04 06:36] NelGson commented on #1548
@alidavoudian please send an email to negust@microsoft.com so that we can arrange a call

[2022-07-04 11:48] alidavoudian commented on #1548
1) I sent the request to negust@microsoft.com
2) I did check they subscription key and location. Both are correct.
3) The result of (listCustomModels.transform(emptyDf)).show() is still empty

Thanks

[2022-07-04 11:49] #1548 closed

[2022-07-04 11:50] alidavoudian commented on #1548
I did check they subscription key and location. Both are correct.
The result of (listCustomModels.transform(emptyDf)).show() is still empty

[2022-07-04 11:50] alidavoudian commented on #1548
I sent the request to [negust@microsoft.com](mailto:negust@microsoft.com)

[2022-07-05 04:20] ttpro1995 commented on #876
So, i think in the code should describe more clearly, such as:

- The param contain column name
- That column type is boolean: true if that row is validate set, false if that row is training set

[2022-07-05 18:06] AlexandreOuellet commented on #1471
I don't know if related, but I have the same issue with sagemaker : I see the pyspark script finish, but the ProcessingJob times out

I am using a LightGBMRegressor, if that makes any difference.

- SynapseML version: v0.9.5
- Spark Version 3.1.
- Sagemaker ProcessingJob

[2022-07-06 10:23] ttpro1995 opened #1552 "LightGBM, should I setNumThreads to number of total cores, or cores per executor ?"
In source code, it said:

[code]
However, I want to clarify, should I set to total of cores (cores per executors x number of executors) or cores per executor ?

AB#1861366

[2022-07-07 01:54] sunkun1997 opened #1554 "LightGBM: How to print the training process"
In the LightGBM Python package, I can set the lightgbm.log_evaluation parameter to see the training process. But in Synapaseml.lightgbm, I can't see anything. How can I see the training process just like the LightGBM Python package.

Looking forward to your reply

AB#1862983

[2022-07-07 19:36] glogowski-wojciech opened #1555 "SynapseML docs: Wrong variable referenced in code example in docs in "Interpretability - Explanation Dashboard" wrapper class"
**Wrong variable referenced in code example in docs in "Interpretability - Explanation Dashboard" wrapper class**
In https://microsoft.github.io/SynapseML/docs/features/responsible_ai/Interpretability%20-%20Explanation%20Dashboard/ in the class `wrapper` there is:
[code]
which I believe should refer to `self.model` instead of just `model`:

[code]

Full body of the snippet for context:
[code]

I f

[2022-07-08 03:50] Vonatzki commented on #1478
Hi @imatiach-msft , I just want to understand this bug further.

From what I understand, the features array have a larger chunkSize as a parameter due to numCols value multiplied to the chunkSize input, how does this affect the model quality? Does this mean that the label and features array does not align when copying it to the workers of the cluster?

Sorry for the newbie question.

[2022-07-08 04:47] Shafi2016 opened #1556 "LightGBM task encountered empty partition, for best performance ensure no partitions empty"
Hi,  This issue was reported earlier by other people as well. But I could find the solution. The codes give below. I have a large data set.

MMLSpark version: com.microsoft.azure:synapseml_2.12:0.9.5
System version: 3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 06:08:53)
[GCC 9.4.0]
PySpark version: 3.3.0

[code]

![image](https://user-images.githubusercontent.com/56795978/177918900-8d

[2022-07-08 20:15] svotaw commented on #1552
this is the number of threads per executor, which can be considered a constant regardless of how many machines in your cluster (so **not** across all executors)

[2022-07-08 20:21] imatiach-msft commented on #1556
@Shafi2016 it looks like you have some empty partitions in your spark dataframe. That is just a warning though.  The problem is that you are running out of memory, based on the error "OutOfMemoryError: Java heap space".  You can try to fix the warning by calling repartition on your dataset, but even if it fixes the warning, the problem may remain.  To solve the problem, you can try to increase the

[2022-07-08 20:26] imatiach-msft commented on #1554
@sunkun1997 you can view the logs we print out to log4j (which goes to SparkUI if you are using databricks), and also other logs to standard out and standard error on each of the worker nodes.  We will be adding more information in the future as well.  If there is some specific information that you need, please let us know, and we can look into adding it.  I agree that having parity with lightgbm

[2022-07-08 20:33] svotaw commented on #1534
sorry, we are trying to coordinate PRs into both LightGBM repo and SynapseML repo.  I will update this when there is something to test.  The LightGBM PR has been up a couple of weeks, and part 1 of the SynapseML PR will go up today.  It will likely still be a week or two before we can give something to test.

[2022-07-08 20:38] imatiach-msft commented on #1478
please see the PR fix here with a longer description of the issue and the code changes:
https://github.com/microsoft/SynapseML/pull/1490

[2022-07-08 20:52] svotaw commented on #1550
This is not something we recognize or are familiar with.  A brief investigation shows that there are concurrency issues in glib, so maybe upgrade your version?  https://sourceware.org/bugzilla/show_bug.cgi?id=19329

Note, we are currently working on a big refactor of SynapseML LightGBM wrapper to better handle memory and large datasets.  PRs are up, although a testable version might not be availab

[2022-07-08 20:58] imatiach-msft commented on #1550
yes, it looks like a thread concurrency bug/race condition in glibc, which was fixed in 2021, so I wonder if upgrading might fix it:

related issue:
https://github.com/puppeteer/puppeteer/issues/2207

same link as @svotaw pasted above:
https://sourceware.org/bugzilla/show_bug.cgi?id=19329

or perhaps there's some change in native lightgbm code that could be made to avoid the race condition as well

[2022-07-08 21:47] imatiach-msft commented on #1555
@glogowski-wojciech great catch.  Yes, that needs to be changed to self.model instead of model.  I'll send a PR for the fix.

[2022-07-09 07:55] Vonatzki commented on #1478
Thank you for your response and the snapshot build fix! Helped me a lot!

[2022-07-09 13:10] esadler-hbo opened #1558 "LightGBMRegressor model quality degrades with additional data"
**Describe the bug**
I am training a `LightGBMRegressor` on simulated data and noticed some strange behavior. The model works perfectly for datasets with `n<100k`. However, when I increase the sample size to `200k` or `1 million`, the mean squared error is terrible.

I am 100% baffled by the behavior!

Would really appreciate someone testing this out. My code should run end-to-end. Just need to ch

[2022-07-09 13:28] esadler-hbo commented on #1558
I looked at the hyperparams and noticed `useSingleDatasetMode`. When I changed it to `False`, then it seemed to work with different `rows and partitions.

[code]

I believe this is the source of the issue.

[2022-07-09 13:58] sundeepks commented on #1529
Can you please help on the above observation ?

[2022-07-09 19:13] svotaw commented on #1558
I believe the actual source of the issue is probably how LightGBM creates datasets using sampling. In order to do its magic, LightGBM needs to bin the data, and to automatically detect the bin boundaries it takes a sample of the data before it starts.  LightGBM uses a default minimum sample size of 100K, but we (SynapseML) override that with a default of 200K. (my suspicion was piqued when you sai

[2022-07-09 19:34] svotaw commented on #1529
apologies, I have been on vacation the last week.

Yes, you must set setInitScoreCol().  This is part of our wrapper, and not part of the saved model in native LightGBM SDK.

[2022-07-09 19:37] svotaw commented on #1534
It is a large set of changes to both LightGBM and SynapseML code, so I have been splitting it up to make reviewing easier.  Unfortunatey this slows down progress checking in.

[2022-07-09 19:46] eisber commented on #1537
Working on it offline. We are waiting for the next VW release to get the required changes into the Java binding.

[2022-07-09 19:49] svotaw commented on #1549
We are currently working on a big refactor of SynapseML LightGBM wrapper to better handle memory and large datasets. Memory is currently not well utilized and can cause OOM errors.  The new "streaming" mode will use very little memory on top of what LightGBM itself requires.  PRs are up, although a testable version might not be available for a while. We are coordinating changes in both LightGBM na

[2022-07-09 19:57] svotaw commented on #1514
You should be able to set those as well as any other manual parameter after the above changes.

[2022-07-09 19:57] #1514 closed

[2022-07-09 20:02] svotaw commented on #1552
https://github.com/microsoft/SynapseML/pull/1559

[2022-07-09 20:02] #1552 closed

[2022-07-11 03:21] sunkun1997 commented on #1554
Thank you for your reply!

I had set the verbosity parameter to 100, and I found the following log from SparkUI
"""
[LightGBM] [Debug] Trained a tree with leaves = 21 and depth = 7
[LightGBM] [Debug] Trained a tree with leaves = 21 and depth = 8
[LightGBM] [Debug] Trained a tree with leaves = 21 and depth = 8
[LightGBM] [Debug] Trained a tree with leaves = 21 and depth = 8
[LightGBM] [Debug] Train

[2022-07-11 12:57] imatiach-msft commented on #1558
@esadler-hbo I think it might also be due to this bug, which was in 0.9.5 release but is now fixed on master:
https://github.com/microsoft/SynapseML/issues/1478
if you try latest build on master it may resolve the issue.
You can also try to increase chunk_size to number of rows in dataset to validate if it's the same issue.

[2022-07-11 13:19] esadler-hbo commented on #1558
@imatiach-msft changing the `chunkSize` seemed to fix it. Thank you!

@svotaw

Thanks for all the information. I really am missing a ton of context on the mental model required to really take advantage of this package, so I really appreciate your comment.

It sounds like you have extensive knowledge of the performance considerations for training and scoring. Have you thought of writing up a perfor

[2022-07-11 13:49] esadler-hbo commented on #1558
Ah it seemed to fix my issue, but then I increased the rows in my dataset to 10 million and tried again. Changing the row size didn't seem to help anymore. Going to build from master later and see.

[2022-07-11 15:41] #1499 closed

[2022-07-11 16:28] esadler-hbo commented on #1558
@imatiach-msft I still need to build from master! I am going to try that later today. I am hoping that will solve it.

[2022-07-11 17:45] svotaw commented on #1558
I will update the doc on useSingleDatasetMode.

Be careful on how many rows you do locally. Right now our memory usage is not great (fix in progress), but you can estimate by using #rows * #cols+1 * 16 as a minimum, so for your 10 mill row scenario is 640MB, so around 1 GB. We hope to reduce that by an order of magnitude soon.

[2022-07-11 20:12] esadler-hbo commented on #1558
@svotaw @imatiach-msft. I tried to build from master, but I am confused how to actually package and test out my pipeline referencing the code in the repo lol. The developer guide wasn't enough for me given my lack of experience.

I can work with the single dataset mode off now, but I will want to scale. Looking forward to the reduction of an order of magnitude of memory reduction. Really intereste

[2022-07-12 10:49] sundeepks commented on #1549
@svotaw Great & would like to try this out as currently the memory allocated is more than twice the memory of the dataset for getting it trained.. any idea by when it would be available for trying it out ?

[2022-07-12 17:32] svotaw commented on #1529
what version of SynapseML are you using?

[2022-07-12 17:36] svotaw commented on #1549
It will be a few weeks.  Much of that is due to the fact that we require changes to the LightGBM native SDK, so we are dependent on them to approve a pending PR with our changes (PR has been up for a month now).  Once those changes are in, we can make the official check-in on our SynapseML side to take advantage of the new APIs.  I will update here when I have a better timeline.  The new refactor

[2022-07-12 23:18] svotaw commented on #1554
I am not sure exactly, but those logs appear to be added by the LightGbm python code itself (and in searching the LightGBM repo, I only see those kinds of logs in python/R code).  We use the underlying native C++ code directly, and we manage the iterations in our SynapseML layer in a custom way.  So it just sounds like you want us to add logs around each iteration.  Is that correct?  If so, can yo

[2022-07-13 00:49] sundeepks commented on #1529
@svotaw following is the version I am using "spark.jars.packages": "com.microsoft.azure:synapseml_2.12:0.9.5"

[2022-07-13 01:07] sunkun1997 commented on #1554
@svotaw All right, I do want to see logs around each iteration, This seems to be done through Python by your answer.

Anyway, thank you very much for your answer, Expect to see such logs in the future.

[2022-07-13 13:34] imatiach-msft commented on #1529
This looks good to me.  Actually, if you are setting the model string, I don't even think you have to set the init score.  That's used more when you are using a different model, for example say an SVM model or a DNN model, to make an initial prediction and then you want to correct that with the new LightGBM iterations to train new tree models on top of the original model (a new tree model is train

[2022-07-13 13:46] imatiach-msft commented on #1529
@svotaw actually, I wonder if there is some way to change the code to call fit multiple times?  I recall I added functionality to train in batches (through numBatches parameter), which just calls the inner train (or fit equivalent) in a loop, to reduce memory usage but still allow lightgbm to run on more data at the cost of accuracy (or whatever performance metric is optimized for):

https://githu

[2022-07-13 13:51] imatiach-msft commented on #1529
Oh, I have an idea - just brainstorming here, maybe user could be allowed to do something like (in python code here, but equivalent could be added in scala):

[code]

User could use something like "untrained_model" property to get back a LightGBMClassifier that they could do further training on.  Hmm.

[2022-07-13 14:10] imatiach-msft commented on #1529
Maybe "untrained_model" is a bad name here.  Perhaps "init_model" might be better, since it is actually a trained model, it's just it's the right class type so it has a fit method and can be retrained.

Another alternative might be to actually add the fit() method API to the LightGBMClassificationModel.  I don't know of any spark learners with this API in the model as opposed to the untrained mode

[2022-07-13 17:10] sundeepks commented on #1529
@imatiach-msft Thanks for the detailed response on init_scores, would prefer easy way of calling fit as u suggested above, It took quite some time to figure how to get the model string (from booster) & set it back.

[2022-07-14 16:11] svotaw commented on #1554
We are adding more logs soon, but for now, I realized we also have the LightGBMDelegate.  This is a hook that allows you to do custom things at various stages. (e.g. extra logging if you want between iterations).  Check out LightGBMDelegate, and setDelegate() on the LightGBMClassifier (or whatever model you are using).  You might be able to get exactly what you want.

[2022-07-18 06:58] sundeepks commented on #1549
thanks a lot, keep me posted once its available will be happy to test it out

[2022-07-19 00:19] ppruthi commented on #1356
@Nitinsiwach -- if you are satisfied with the response, can we close the issue ?

[2022-07-19 00:21] ppruthi commented on #1363
@naadvar  -- can you confirm if you still the issue post the use of synapseml instead of mmlspark ?

[2022-07-19 12:52] MichalSzopinski00 opened #1568 "Speech to text example is not working in Databricks"
Hello Dear Product group,

I tried to re-run this example on my Databricks notebook:
https://microsoft.github.io/SynapseML/docs/features/cognitive_services/CognitiveServices%20-%20Overview/#speech-to-text-sample

I used DBR 10.4 LTS (with spark 3.2.1 and scala 2.12) and also accordingly to installation guide which is here:

https://github.com/microsoft/SynapseML#databricks

I installed the library

[2022-07-19 12:55] MichalSzopinski00 commented on #1568
Note#1: you won't be able to use the service key since the resource doesn't exist already :)

[2022-07-19 23:33] ss-github-code commented on #1363
I also get the same error on a dual CPU Linux Ubuntu pc (not Databricks):

MMLSpark version: com.microsoft.azure:synapseml_2.12:0.9.5
System version: 3.9.12 (main, Apr  5 2022, 06:56:58)
[GCC 7.5.0]
PySpark version: 3.3.0

running LightGBMClassifier on the full Criteo train.txt using the recommenders/examples/02_model_content_based_filtering/mmlspark_lightgbm_criteo.ipynb

[2022-07-20 02:07] yiming-lzx commented on #1411
the Link not work

[2022-07-20 18:29] ppruthi opened #1572 "TEST ISSUE: Testing label workflow"
**Describe the bug**
This IS A DRILL :)
Testing labelling workflow using this issue

**To Reproduce**
Just write something useful here

**Expected behavior**
Label should be created

**Info (please complete the following information):**
 - SynapseML Version: [e.g. v0.17]
 - Spark Version [e.g. 2.4.3]
 - Spark Platform [e.g. Databricks]

** Stacktrace**
[code]

If the bug pertains to a specific fea

[2022-07-20 18:39] ppruthi commented on #1554
@sunkun1997 - If you feel your question has been answered, can you close the issue ? Else, feel free to comment further.

[2022-07-20 18:41] ppruthi commented on #1572
Tested the bot adding `triage` label automatically. Closing the issue.

![image](https://user-images.githubusercontent.com/33642858/180058312-81e8096d-eaaf-4771-a14b-0efb75729a1a.png)

[2022-07-20 18:41] #1572 closed

[2022-07-20 18:50] ppruthi commented on #1547
@serena-ruan  --- can you help classify what focus area is this issue under? Also could you apply the relevant label to the issue ?

[2022-07-20 18:56] ppruthi commented on #1529
@sundeepks -- if you're satisfied with the comments, can you please close the issue ? If you feel there are improvements to be made, can you please file a feature request ?

[2022-07-20 19:02] ppruthi commented on #1474
@mhamilton723 -- Im guessing this is a test issue and we can close this ?

[2022-07-20 19:04] ppruthi commented on #1507
@Quentin-Song -- can you respond the the request above ?

[2022-07-20 21:24] aidin-zadeh opened #1574 "LightGBMRegressor.fit gets timed out running via databricks-connect."
**Describe the bug**
`LightGBMRegressor.fit` gets stuck (times out) when running via databricks-connect.

**To Reproduce**
Fit an instance of `LightGBMRegressor` via databricks-connect.

**Expected behavior**
`fit` method is successfully completed.

**Info (please complete the following information):**
 - SynapseML Version: 2.12
 - SynapseML Coordinate: com.microsoft.azure:synapseml_2.12:0.9.5
 -

[2022-07-21 00:45] #1554 closed

[2022-07-21 04:09] kenshinee opened #1577 "TextSentiment .setOpinionMining not returning opinion mining results"
**Describe the bug**

Using .setOpinionMining(True) in Pyspark does not return opinion mining results on Azure Synapse Analytics

**To Reproduce**

1. Using Pyspark, create the object e.g. (TextSentiment().setOpinionMining(True)....etc.
2. Run the results with a loaded dataframe
3. Results is indifferent from not setting the Opinion Mining

**Expected behavior**

Resulted JSON to include opinion m

[2022-07-21 06:05] #1529 closed

[2022-07-21 06:24] kenshinee commented on #1577
**Test code in Azure Synapse Analytics**

`columns = StructType([StructField('Id', StringType(), False),
                       StructField('Comments', StringType(), False)])

vals = [(1, "Food is great"),(2, "Service is poor but the restaurant is at a good location")]
firstDF = spark.createDataFrame(vals, schema = columns)
secondDF = spark.createDataFrame(vals, schema = columns)

AnalyticsTS = (T

[2022-07-21 23:24] serena-ruan commented on #1547
I think we can close this issue as we have internally discussed and solved the customer's problem 😃

[2022-07-21 23:24] #1547 closed

[2022-07-22 08:59] MichalSzopinski00 commented on #1568
I got this issue on west europe Vnet injected Azure Databricks workspace. I also tried to deploy non vnet injected workspace and on non vnet injected it was working fine. Strange since I don't have any custom DNS, firewall, or route table set up on Vnet injected workspace which could potentially block the traffic to the internet. From Vnet Injected workspace I'm able to perform the telnet to 8.8.8

[2022-07-22 22:32] mhamilton723 commented on #1577
Thank you! this is a known issue and it should be fixed in v0.10.0

[2022-07-24 13:10] kenshinee commented on #1577
@mhamilton723 thank you and much appreciated.

I see that v0.10.0 was released a few days ago. On Azure Synapse Analytics, will it be deployed automatically or we need to upgrade our spark pools from 3.1 to 3.2 to see the changes?

Reference.
![image](https://user-images.githubusercontent.com/863148/180648493-acdf30b5-58eb-4f76-9abf-b1fa3ebd559a.png)

[2022-07-25 06:11] serena-ruan commented on #1577
You need to create a spark 3.2 pool and add above config in the first cell of your code to install SynapseML v0.10.0. We will add it into Synapse Analytics as default at some point, but at this time you need to install it yourself 😃

[2022-07-25 08:54] kelvin-thegreat opened #1585 "LASSO REGRESSION WITH PYSPARK Error"
![Github-ML](https://user-images.githubusercontent.com/71261868/180738096-ddeac9de-c85d-41ce-8717-29dc3732bdaf.png)IllegalArgumentException                  Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_656/1060968647.py in <module>
----> 1 model = lasso.fit(train_lasso)

C:\spark-3.0.3-bin-hadoop2.7\python\pyspark\ml\base.py in fit(self, dataset, params)
    127

[2022-07-25 10:15] serena-ruan commented on #1585
Hi @kelvin-thegreat, from the stacktrace you need to specify your featuresCol, the default value is "features", and it can't find this column in your dataframe so throwing this error. BTW, kindly remind this Logistic Regression API belongs to pyspark library, not SynapseML 😄

[2022-07-26 09:49] serena-ruan commented on #1574
Hi @aidin-zadeh, could you have a quick sanity check to see if the above error only happens when using databricks-connect, or it also happens when running on databricks directly? If the same error happens on databricks, we should be able to dig deeper on our side, and in this case could you provide more details about your sample code snippet and where you store the data? Thanks!

[2022-07-26 14:44] aidin-zadeh commented on #1574
Hey @serena-ruan, I'm able to import and successfully run  LighgbmRegressor within the databricks workspace via databricks notebook. The issue only happens when running from databricks-connect.

[2022-07-27 03:35] kenshinee commented on #1577
Tested on v0.10.0. Opinion mining available on Synapse Spark 3.2 using the config method listed avove. Closing this now.

[2022-07-27 03:35] #1577 closed

[2022-07-27 08:28] mariinash opened #1587 "IsolationForestModel defaultParamMap has params that do not exist[BUG]"
### SynapseML version

synapseml: 0.10.0

### System information

- **Language version** python 3.7, scala 2.12
- **Spark Version** 3.2.2
- **Spark Platform** Local (Docker)

### Describe the problem

If I try to write a very simple IsolationForest, I can't transform the fitted model due to params in DefaultParamMap that do not exist. Moreover, I have not been able to get the attributes the model

[2022-07-27 09:54] serena-ruan commented on #1574
This looks like a network issue with databricks-connect though, ccould you have another check to see if this only happens for LightgbmRegressor or for a normal SparkML model, say LogisticRegression?

[2022-07-27 09:58] mariinash commented on #1587
Nevermind, I found the issue.

[2022-07-27 09:58] #1587 closed

[2022-07-27 23:49] HXY777 opened #1588 "Fail to load saved LightGBM model"
### SynapseML version

0.10.0

### System information

- **Language version**: python 3.9.5, scala 2.1.2
- **Spark Version**: 3.3.0
- **Spark Platform**: Databricks (11.1 ML Beta)

### Describe the problem

Failed to load LightGBM on a newly started Databricks ML cluster with the error

However, after I trained a LightGBM in the same cluster, I was able to load the saved model.

### Code to reprod

[2022-07-28 05:15] mhamilton723 commented on #1474
No this is still happening i think, the tests should pull from local maven repo instead of cloud

[2022-07-28 05:30] serena-ruan commented on #1588
@imatiach-msft @svotaw
Hi Ilya and Scott, it seems the user encountered problems with lightgbm when loading the model saved in dbfs (trained in another cluster) but not when training in the same cluster. Would you be able to take a look at this issue? Thanks!

[2022-07-28 05:39] svotaw commented on #1588
what version are you using?  This is an error that was hopefully fixed in a recent checkin.

[2022-07-28 05:45] svotaw commented on #1588
This is the PR that I think fixed that... (checked in 1 week ago)  https://github.com/microsoft/SynapseML/pull/1575

[2022-07-28 18:40] ppruthi opened #1589 "`area/website`: Website"
AB#1902395

[2022-07-28 18:41] #1589 closed

[2022-07-28 22:10] HXY777 commented on #1588
I was using com.microsoft.azure:synapseml_2.12:0.10.0

[2022-07-28 23:16] serena-ruan commented on #1588
Hi @HXY777 please try using this version: 0.10.0-6-4868e8bf-SNAPSHOT and see if it works

[2022-07-28 23:54] HXY777 commented on #1588
Thanks @serena-ruan, I'll try it out.

[2022-08-01 11:43] denmoroz commented on #1509
@ppruthi 👋
Sorry, it is still unclear to me from the above conversation whether this feature will be implemented or it will not.
I can surely close it if it is not in plans anytime soon.

[2022-08-02 01:18] jcdang commented on #1405
If anyone is wondering how to get it working without getting lost in all these upstream toolchains and CIs, this worked for me:
[code]

[2022-08-02 17:14] HXY777 commented on #1588
Hi @serena-ruan, it works! Thank you for the help!

[2022-08-02 17:14] #1588 closed

[2022-08-03 03:52] gdtydm opened #1594 "[BUG]Why is Pyspark's LGB performance significantly lower than Python's"
### SynapseML version

synapseml-core_2.12:0.9.5

### System information

- **Language version**  python 3.7.4, scala 2.12;
- **Spark Version** 3.0.1;
- **Spark Platform** Cluster
{
  "spark.yarn.priority": "9",
  "spark.driver.memory": "40g",
  "spark.executor.memory": "40g",
  "spark.dynamicAllocation.minExecutors": "5",
  "spark.dynamicAllocation.initialExecutors": "5",
  "spark.dynamicAllocati

[2022-08-03 07:44] timpiperseek opened #1595 "java.lang.UnsatisfiedLinkError: com.microsoft.ml.lightgbm.lightgbmlibJNI.voidpp_handle [BUG]"
### SynapseML version

0.10.0

### System information

- Language version: python 3.8.10
- Spark Version: 3.2.1
- Spark Platform  Synapse - Databricks

So I have followed the installation instruction into databricks as per https://microsoft.github.io/SynapseML/docs/getting_started/installation/#databricks

### Describe the problem

Conversion of predictions data set to numpy is resulting in unsati

[2022-08-04 06:19] JessicaXYWang commented on #1594
Hi @gdtydm, thank you for reporting the issue!

To help us reproduce this issue, would you please share your data preprocessing and predicting code? It seems the original table do not have some of the columns you shared in your code. (kfold, pred, etc...)

[2022-08-04 06:25] gdtydm commented on #1594
@JessicaXYWang Thanks, my complete code is as follows.
[code]

[2022-08-04 06:33] JessicaXYWang commented on #1595
Hi @timpiperseek, thank you for reporting this issue.

To help us repro this issue, can you please share the dataset you used? (df)

Thanks!

[2022-08-04 08:56] serena-ruan commented on #1595
@timpiperseek Could you please try version: 0.10.0-6-4868e8bf-SNAPSHOT to see if the error still exists?

[2022-08-04 21:47] JessicaXYWang commented on #1594
Hi @gdtydm ,

Thank you for providing the code. Confirm that I can reproduce the result.

Can you try SynapseML version 0.10.0? Below is the result I got with the latest version.

<img width="365" alt="CA_result" src="https://user-images.githubusercontent.com/108437381/182958282-1a10f5ca-3e01-4666-99b6-ca7edf8e7790.png">

[2022-08-05 07:51] martamaslankowska commented on #1595
Hi, I'm having the same problem with SynapseML (0.10.0) LightGBM on Databricks.

I previously thought I was getting this error each time I used a bigger dataset but I recently found out that I'm getting the error randomly... I've run exactly the same notebook 6 times in a row and I got the error 2 times, while for the other 4 runs I was able to successfully train the model and obtain predictions.

[2022-08-05 08:06] serena-ruan commented on #1595
@martamaslankowska Hi please add a resolver of `https://mmlspark.azureedge.net/maven` when you try to install version 0.10.0-6-4868e8bf-SNAPSHOT.
A quick sample in pyspark would be like:
[code]
And please refer to our [website](https://microsoft.github.io/SynapseML/) in case you need to install on other platforms.

[2022-08-05 08:08] serena-ruan commented on #1585
Closing this as haven't heard back from the user for 10 days. Feel free to reopen once you have more questions :)

[2022-08-05 08:08] #1585 closed

[2022-08-05 08:30] martamaslankowska commented on #1595
Hi, thank you for the quick response. I was using the resolver already as I was following the [Databricks installation](https://microsoft.github.io/SynapseML/docs/getting_started/installation/#databricks) steps. So it looked like this in my case:

![synapseml-snapshot-installation](https://user-images.githubusercontent.com/35998535/183036607-4cbb47c7-5005-4a62-b5ae-aef9fbb6f971.png)

[2022-08-05 08:37] serena-ruan commented on #1595
The coordinate is not correct, please use `com.microsoft.azure:synapseml_2.12:0.10.0-6-4868e8bf-SNAPSHOT`. We have been renamed to SynapseML 😃

[2022-08-05 08:59] martamaslankowska commented on #1595
Yes, my bad, thank you for clarifying this 😄 I previously used the correct `com.microsoft.azure:synapseml_2.12:0.10.0` but for some reason mixed the links now.

I was able to successfully install this snapshot and run my `predict.ipynb` notebook just after starting the cluster without getting the error - so it looks promising. I'll try to train my model a couple of times and let you know whether I

[2022-08-05 11:19] svenharris commented on #691
Has any work been done on this? Would also find the feature very useful, happy to contribute if it's within my skill level (which I suspect it may not be)

[2022-08-05 13:52] martamaslankowska commented on #1595
Ok, so I've been testing it for the last several hours and it looks like the problem is gone! ❤️

I've run my prediction notebook over 20 times and all runs were successful. I've also run the *train_and_predict* notebook 20 times (10 times with the same params, and 10 times experimenting with different configurations) and didn't encounter the error anymore. Yesterday I've trained 55 models from wh

[2022-08-07 10:56] timpiperseek commented on #1595
Yes thank you, it also looks like it is gone for me to.

[2022-08-07 10:58] timpiperseek commented on #1595
as a side note is it possible to pickle the model object or is the only option to use the saveNativeModel method?
Just asking as using as a pickle object would be easier with my current workflow

[2022-08-09 05:57] martamaslankowska commented on #1595
Hi @serena-ruan, I have just one more question regarding [this `4868e8bf` fix](https://github.com/microsoft/SynapseML/commit/4868e8bfed15da4d40cad1a910a272bc43bafc92). Are you maybe able to release this version somehow (like a patch version)? Because I'd really like to use LightGBM in my production code but I have concerns about using the snapshot version.

[2022-08-09 10:15] gdtydm commented on #1594
@JessicaXYWang Thanks, I tested version 0.10.0 and the results were correct.

[2022-08-09 10:15] #1594 closed

[2022-08-09 11:42] timpiperseek commented on #1595
So the above error is gone, but I suspect that something is still wrong when training on large data sets of 100 million plus.
But I cannot put a finger on what is going wrong. It maybe just related to https://github.com/microsoft/SynapseML/issues/1534.
But I keep either getting `Could not recover from a failed barrier ResultStage. Most recent failure reason: Stage failed because barrier task Resul

[2022-08-12 03:15] serena-ruan commented on #1595
Normally we cut versions at some point and for example the next version would be v0.10.1 and that should include this fix. Loop in @mhamilton723 Mark to see if we want to support a special version by cutting the SNAPSHOT suffix?

[2022-08-12 03:18] serena-ruan commented on #1595
Sorry to here this, looping in @imatiach-msft and @svotaw who are the owner and master in lightgbm area. Could you help take a look, and if the issue is similar to #1534 we can move to that issue. Thanks guys!

[2022-08-12 03:39] timpiperseek commented on #1595
okay so I think I have found the issue on my end. It is all good now

[2022-08-12 03:40] serena-ruan commented on #1595
Sounds good!

[2022-08-17 03:12] TomFinley opened #1615 "Enhanced Code Generation"
SynapseML relies on code generation to automate much of the boilerplate regarding many methods, especially the parameter setting/getting methods. Right now the way that this work works for many of the objects in this library is based on an enumeration of the parameters, and then the methods are generated.

This works fine for the way the library is structured, but it could use some enhancements. I

[2022-08-18 02:53] yihui8776 opened #1616 "[BUG] TypeError: 'JavaPackage' object is not callable"
### SynapseML version

0.9.4

### System information

- **Language version**  : python 3.9.12
- **Spark Version** : spark 3.3.2
- **Spark Platform** : Synapse
- **Scala Version** : 2.12.15

### Describe the problem

run the py file in docker  to  execute  LightGBMClassifier
got  error：

Traceback (most recent call last):
  File "/notebooks/features/test/test.py", line 33, in <module>
    model = L

[2022-08-18 21:33] Jidong0726 opened #1618 "LightGBM classifier training keeps failed, spark executor exit with code 134 due to unrecognized issue"
### SynapseML version

0.10.0

### System information

- **Language version** (e.g. python 3.8, scala 2.12): python3
- **Spark Version** (e.g. 3.2.2): 3.0
- **Spark Platform** (e.g. Synapse, Databricks): GCP data proc

### Describe the problem

Hi team. My LightGBM classifier training job keeps failing due to an unrecognized issue. After checking the full log of yarn application, I can only find t

[2022-08-19 02:42] songhappy opened #1621 "pip install lightgbm"
Currently, the only way to install python synapseml lightgbm  is from spark configuration.
[code]
pip install synapselml does not pull the jar

**Describe the solution you'd like**
it should support pip install or conda install package into a conda environment

BTW, where is the source code of LightGBMClassifier and so on. it only has LightGBMClassificationModel on the website of
https://github.co

[2022-08-19 14:57] Rhys-Thompson opened #1625 "How to set up online/incremental learning with LightGBM model"
For my use case I need to update my LightGBM model using new data that comes in over certain periods.

In standard LightGBM we have the .refit(X,y) functionality, can this be achieved in Synapse LightGBM?

[2022-08-21 18:43] mirekphd commented on #728
It's not rare, in fact very reproducible (even on a single machine). Not restricted to classifiers (regressors are affected too). Not even in SynapseML, because `lightgbm_ray.RayLGBMRegressor` is affected too. Seems to be not related to training time, but to:
1) early stopping AND
2) a particular (useful in practice!) combination of the number of estimators and learning rate:

[code]

[2022-08-24 07:21] TT568 opened #1630 "Is there any way to debug SynapseML?"
Is there any way to debug SynapseML(LightGBM)?

AB#1945020

[2022-08-25 05:48] rrekapalli opened #1632 "[FEATURE REQUEST]: Support for ML.fpm (Frequent Pattern Mining)"
Team, Is there a plan to implement full Spark's  MLLib, especially ML.fpm (Frequent Pattern Mining) anytime soon? It has only 2 algorithms as per Spark v3.1.2 (FP-Growth & PrefixSpan) and are very useful ML algorithms in some scenarios. Would be a great help if it's a part of this library.
Thanks.

[2022-08-25 12:39] yashdiscite commented on #886
Link is not active any more

[2022-08-25 23:50] mhamilton723 commented on #1595
Hey @timpiperseek @martamaslankowska we cut a new version 0.10.1, please let us know if this solves your issues thanks for your patience!

[2022-08-25 23:53] mhamilton723 commented on #1519
The new version of SynapseML fixes this and HealcareSDK is now renamed to `AnalyzeHealthText` Hope this helps and thanks for your patience :)

#Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.10.1-5-1381db52-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

Documentation Pages:
[Scala Documentation](https://mmlspark.blob.core.windows.net/docs/0.10.1-5-1381db52-SNAPSHOT/scala/in

[2022-08-25 23:56] mhamilton723 commented on #1621
Thanks for trying SynapseML @songhappy yes this is by design as our project has python and java components. We actually have a feature request to core spark team to try to give a better design for the community. Please vote and comment on this to drive community support

https://issues.apache.org/jira/browse/SPARK-39779

[2022-08-25 23:56] #1621 closed

[2022-08-25 23:57] mhamilton723 commented on #1616
Hey @yihui8776 it looks like the scala side is not installed, did you add the spark.jars.packages line to your spark session as described in the install docs for your platform? Thanks for your patience and feedback and hope this helps fix your issue!

[2022-08-25 23:59] k-rush commented on #1618
@svotaw can you please take a look at this LightGBM native-layer error?

[2022-08-26 00:01] mhamilton723 commented on #1630
You can debug locally in intellij or pycharm following the developer readme here. You can also view spark logs on your cluster or SparkUI to learn more about the issue

https://microsoft.github.io/SynapseML/docs/reference/developer-readme/

[2022-08-26 00:07] mhamilton723 commented on #1632
Hey @rrekapalli thanks for reaching out, not sure what the request is here but SparkML seems to already support these algorithms:
https://spark.apache.org/docs/latest/ml-frequent-pattern-mining.html#:~:text=Mining%20frequent%20items%2C%20itemsets%2C%20subsequences,rule%20learning%20for%20more%20information.
And our library is completely inter-operable with SparkML so feel free to mix this into you

[2022-08-26 05:11] rrekapalli commented on #1632
Hi @mhamilton723 , thank you for the quick response!
I believe SynapseML depends on [.Net for Apache Sparl](https://github.com/dotnet/spark), which does not have full implementation of SparkML. Thought SynpseML would have full interoperability with SparkML, but I could not find any references to the "org.apache.spark.ml.fpm"  in this repo.  Appreciate if you could point me to a reference about thi

[2022-08-26 06:48] svotaw commented on #1630
What in particular do you want to debug? Note that SynapseML is a scala wrapper around a native C++ LightGBM library, so there are different levels of "debugging".

[2022-08-26 10:56] fidelgf opened #1634 "[BUG] FitMultivariateAnomaly: Py4JJavaError: An error occurred while calling o855.fit. : java.lang.NoClassDefFoundError: com/azure/core/util/logging/ClientLogger"
### SynapseML version

0.10.0

### System information

- **Language version** : Python 3.8, Scala 2.12.15
- **Spark Version** : Spark 3.2
- **Spark Platform** : Synapse

### Describe the problem

After running the command model = estimator.fit(df) , I get the following error:

---------------------------------------------------------------------------
Py4JJavaError                             Trac

[2022-08-26 12:52] wjohnson commented on #1519
Thank you so much as usual @mhamilton723 !

[2022-08-26 12:52] #1519 closed

[2022-08-26 13:43] imostafizur opened #1635 "Make an easy installation process ."
The installation process is so hard for beginners. So make it easier.

AB#1949473

[2022-08-28 21:06] niehaus59 commented on #1635
Hi @imostafizur  -  Thanks for your interest. Can you describe in more detail where in the installation process you ran into problems?

[2022-08-29 01:35] shoaibpatel4u opened #1636 "[BUG] unable to set force_col_wise or force_row_wise in SynapseML lightGBM regressor/classifier"
### SynapseML version

0.10.0

### System information

- **Spark Platform** (e.g. Synapse, Databricks): Databricks Runtime 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)

### Describe the problem

I am trying to run LightGBM regressor from Synapse ML lib latest version. I am able to set the deterministic parameter but the 2 runs of my experiment produce different results. Hence I tried to set

[2022-08-29 07:35] martamaslankowska commented on #1595
Hi, thanks a lot for the new version! I just checked it out and it seems to be working - so that indeed solves my problem 😊

[2022-08-29 07:53] yihui8776 commented on #1616
ok thanks , I found the problem ,I depoly the spark in docker as the document ,but it didnt work .

[2022-08-29 13:32] imatiach-msft commented on #1636
@shoaibpatel4u with new synapseml version you should now get deterministic results.  You need to set seed=777 and deterministic=True.
You can set any other parameters through the new passThroughArgs parameter @svotaw added very recently:

https://github.com/microsoft/SynapseML/blob/0e6bb3557aff7314fd791bd40d8dccaaed7c5093/lightgbm/src/main/scala/com/microsoft/azure/synapse/ml/lightgbm/params/Light

[2022-08-30 10:21] YKX-A commented on #559
Hello, I just want to make sure that codes like the below are enough for SynapseML Pyspark Lightgbm to handle the categorical columns properly. @imatiach-msft

Approach 1
---

[code]

Approach 2
---

[code]

[2022-08-30 16:19] mhamilton723 commented on #1634
Hey @fidelgf please use the latest version of MVAD which now has no dependency on Azure SDKs (which is what this error is caused by)!

# SynapseML Build and Release Information
## Maven Coordinates
com.microsoft.azure:synapseml_2.12:0.10.1-7-289bd974-SNAPSHOT

## Maven Resolver
https://mmlspark.azureedge.net/maven

## Documentation Pages:
[Scala Documentation](https://mmlspark.blob.core.windows.ne

[2022-08-30 16:19] #1634 closed

[2022-08-30 16:54] mhamilton723 commented on #1632
Ahhhh yes i get what you are saying now. @serena-ruan will eventually contribute back all of SparkML to Spark.NET team. I will let her comment on timelines and whatnot

[2022-08-31 05:02] rrekapalli commented on #1632
Thank you, @mhamilton723 !

[2022-08-31 08:05] dhhailinh opened #1638 "How to add Phrase List to SpeechToTextSDK to improve transcription?"
### SynapseML version

synapseml_2.12:0.10.0

### System information

- **Language version** : Python 3.8.10
- **Spark Version** (e.g. 3.2.2): 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)
- **Spark Platform** : Databricks

### Describe the problem

Hello all,

I'm using SpeechToTextSDK of SynapseML Cognitives in Databricks to transcribe audio files into texts with below following code that w

[2022-08-31 15:25] serena-ruan commented on #1632
@rrekapalli Thanks for raising up this feature request!
Currently as you can see, not all SparkML models are supported in .Net for Apache Spark. But this `FPM` looks like a typical one we could solve by applying our codegen bindings.
Though I can't give you a precise ETA at this moment, because I think even after we contribute to dotnet/spark repo, we need to wait until Microsoft.Spark cut a newer

[2022-08-31 15:59] rrekapalli commented on #1632
Thank you very much for taking this up, @serena-ruan! Would be eagerly waiting this to be part of this Repo. Really appreciate your effort!

[2022-08-31 20:32] niehaus59 commented on #1638
Hi @dhhailinh -  It looks like we don't currently support the PhraseList functionality. Thank you for bringing this to our attention. It seems like something we should add.  I've added this request to our list of potential work items. Whether it gets picked up will depend on where it lands in relation to other already scheduled items.  Note that we do accept PRs from the public, should you be inte

[2022-09-01 07:25] dhhailinh commented on #1638
Hello @niehaus59 ,
Thanks for your answer.

PhraseList is indeed a very important funtionality, without this, I will need to come back to regular way of working with speechsdk in python and get rid of synapseml with spark power in Databricks. I guess that many spark or databricks users will be in my situation with SpeechToTextSDK or have to make a custom Transformer.

How can I contribute to accel

[2022-09-01 20:20] niehaus59 commented on #1638
@dhhailinh - Yes a PR would be the way to go. See https://github.com/microsoft/SynapseML/blob/master/website/docs/reference/contributing_guide.md and https://github.com/microsoft/SynapseML/blob/master/website/docs/reference/developer-readme.md

SpeechToTextSDK is at https://github.com/microsoft/SynapseML/blob/master/cognitive/src/main/scala/com/microsoft/azure/synapse/ml/cognitive/SpeechToTextSDK.

[2022-09-01 23:16] mhamilton723 commented on #1638
Hey @dhhailinh happy to hop on a call to help you get startyed. Thanks for your interest, it should be a fairly local fix!

[2022-09-02 03:30] mhamilton723 commented on #1638
Heres the main arch of this work

1. Add an extra `ServiceParam` on SpeechSDKBase with type Array[String]

2. Add the calls to add the phrases somewhere around these lcations

https://github.com/microsoft/SynapseML/blob/4115d4f0f2ea5210b9eafd777ff7dc6f4567a7fb/cognitive/src/main/scala/com/microsoft/azure/synapse/ml/cognitive/SpeechToTextSDK.scala#L445

and

https://github.com/microsoft/SynapseML/b

[2022-09-02 08:29] dhhailinh commented on #1638
Thanks @mhamilton723 and @niehaus59 ,

I will have a look on the source code and come back to you.

[2022-09-02 09:27] sunkun1997 opened #1642 "How do I add weight parameters in Lightgbm"
There seems to be no 'scale_pos_weight' parameter in synapse.ml. Lightgbm. How do I set weight parameters?

AB#1960925

[2022-09-06 21:16] songhappy commented on #1621
where is the source code of LightGBMClassifier pyspark?

[2022-09-07 00:02] shoaibpatel4u commented on #1636
Hi Ilya,
I have tried setting the parameters (seed=777 and deterministic=True) as suggested by you.
Two consecutive experiments ran with force_col_wise=True gave different results.
Hence, I have also tested another 2 experiments by setting force_row_wise=True and they gave different results.
I have saved the models for the different runs and while comparing the 2 models they look very different an

[2022-09-07 04:25] songhappy opened #1644 "lightGBM multi-class classifier"
**Is your feature request related to a problem? Please describe.**
Currently, LightGBMClassifier does not have a way to set numClasses for multiple classes.
https://mmlspark.blob.core.windows.net/docs/0.10.0/scala/com/microsoft/azure/synapse/ml/lightgbm/LightGBMClassifier.html

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
a method of setNumClasse

[2022-09-07 18:56] shsab commented on #986
@imatiach-msft Any update on this issue? We are facing the same issue and using the reparation(1) workaround however it is not feasible for large datasets.

[2022-09-09 16:50] Ishitori opened #1647 "[QUESTION] How to get the latest Spark 3.1 version?"
Hi team,

I see that the Spark3.1 branch is updated regularly, and I wonder what is the latest Spark 3.1 compatible version which I could use? Is there is a regularly updated list of available downloads?

Thank you.

[2022-09-09 17:13] svotaw commented on #1642
If there is a lightgbm parameter that SynapseMl has not explicitly exposed with a setter, you can use the generic setPassThroughArgs() to set your own values to pass directly to LightGBM.  Does this help?

https://github.com/microsoft/SynapseML/blob/8d552746951ab4190e82dda1d4f04699fc46c69f/lightgbm/src/main/scala/com/microsoft/azure/synapse/ml/lightgbm/params/LightGBMParams.scala#L16

[2022-09-09 17:17] svotaw commented on #1644
Can you explain more about what you are asking?  The number of classes is detected by the number of unique values in the labels column. You wish to set it explicitly?

[2022-09-09 17:30] svotaw commented on #1618
apologies for the delay, I didn't get a tag notification. There's nothing that I can see from the logs that indicates what the problem is.  It's possible it's just a OOM error that crashes the JVM in the native layer.  Can you try with fewer number of rows?  We are working on a new smaller memory footprint for training, but it's not yet available.

[2022-09-09 21:06] songhappy commented on #1644
yes, is it possible to set up num_class just like objective expressively?

[2022-09-09 21:16] songhappy opened #1648 "[QUESTION] where is the source code of python LightGBMClassifier?"
In the document, I can see LightGBMClassifier and LightGBMClassificationModel, in here.
https://mmlspark.blob.core.windows.net/docs/0.10.0/pyspark/_modules/synapse/ml/lightgbm/LightGBMClassifier.html#LightGBMClassifier
However, I can not find LightGBMClassifier on git, it only has LightGBMClassificationModel
https://github.com/microsoft/SynapseML/tree/master/lightgbm/src/main/python/synapse/ml/lig

[2022-09-10 00:07] svotaw commented on #1644
not currently, it is always auto-calculated from the data.  Out of curiosity, can you explain the scenario where you would want to set it explicitly?  This would be a feature request, since it would require a code change.

You could try using setPassThroughArgs() to set num_class explicitly, and it looks like the code will honor it (just visual inspection), but we don't test for that particular sc

[2022-09-12 17:53] svotaw commented on #1648
The LightGBMClassifier is here: https://github.com/microsoft/SynapseML/blob/master/lightgbm/src/main/scala/com/microsoft/azure/synapse/ml/lightgbm/LightGBMClassifier.scala

Note that most of SynapseML is written in Scala.  The python code for the most part is just a wrapper around Scala code, and is largely auto-generated. Test cases are at: https://github.com/microsoft/SynapseML/blob/master/light

[2022-09-12 18:25] svotaw commented on #1648
also, please use version 0.10.1 if you can. 0.10.0 has some model loading issues that have been fixed.

[2022-09-12 18:27] svotaw commented on #1595
awesome, closing this issue for now then.  :)

[2022-09-12 18:28] #1595 closed

[2022-09-12 18:34] svotaw commented on #1642
note that for python this is passThroughArgs="scale_pos_weight=x".

closing this issue for now.  if you have further questions please reopen it or a new one.

[2022-09-12 18:34] #1642 closed

[2022-09-12 18:37] svotaw commented on #1507
There were some bugs for a while in main that resulting in library loading error, so this could be related. Please use version 0.10.1 if this is still an issue.  closing this for now.

[2022-09-12 18:37] #1507 closed

[2022-09-12 18:40] svotaw commented on #1556
The low-memory streaming solution is a WIP, so closing this issue for now.  Please reopen if needed.

[2022-09-12 18:40] #1556 closed

[2022-09-12 18:48] svotaw commented on #1648
Closing this issue as answered. Please reopen for more questions.

[2022-09-12 18:48] #1648 closed

[2022-09-13 06:39] songhappy commented on #1648
how about 0.9.5

[2022-09-13 16:13] gkoneru opened #1652 "Multivariate Anomaly Detection fit method runs forever"
Hi team, We were trying to run the Multivariate Anomaly Detection recipe in Azure databricks with 10.5 runtime and spark 3.2.1 version. The fit method does not submit any job to the cluster and just displays running command for more than 12 hours. We used the sample data provided as part of the recipe. Can you please help us on how we can troubleshoot in this scenario?

[2022-09-14 00:02] mhamilton723 commented on #1652
Hey @gkoneru can you share a minimal repro of this behavior and we will try to investigate? Appreciate the patience!

[2022-09-14 01:20] serena-ruan commented on #1647
Hi @Ishitori, could you try com.microsoft.azure:synapseml_2.12:0.9.5-35-e962330b-SNAPSHOT? Thx

[2022-09-14 11:42] iemejia opened #1653 "Adapt SynapseML for the new client and server interface of Spark"
**Is your feature request related to a problem? Please describe.**

There is ongoing discussion on a new client and server interface for Spark [SPARK-39375](https://issues.apache.org/jira/browse/SPARK-39375), this future interface will default to DataFrame-like operations and not RDDs.

This might impact users of SynapseML because the library relies internally on RDD operations and it is probably

[2022-09-14 11:43] iemejia commented on #1653
Note that this is super early on to consider any action, but a review of the impact on SynapseML is worth, as well as to be involved in the discussions that help us transition smoothly to this feature.

[2022-09-14 16:51] mhamilton723 commented on #1653
Thanks so much @iemejia, most models we use are based on the dataframe API and the only time we have to drop to rdd is to use things like barrier execution. which hopefully will be eventually exposed through the DF but im not sure on their plans for that. I gave a quick read through of the proposal, but unsure of how this will look for a user and how it will affect Spark development. Do you have a

[2022-09-14 21:51] Ishitori commented on #1647
Yes, working! Thanks for sharing.
Is there a way to follow the updates for Spark 3.1?

[2022-09-15 12:16] Namrata0507 commented on #1249
org.apache.spark.sql.execution.OutOfMemorySparkException: Size of broadcasted table far exceeds estimates and exceeds limit of spark.driver.maxResultSize=4294967296. You can disable broadcasts for this query using set spark.sql.autoBroadcastJoinThreshold=-1

[2022-09-15 16:53] Jidong0726 commented on #1618
Hi @svotaw  really appreciated for your reply. Actually those are all the relative log that I can get from my executors lol. I'm not sure about whether it's an OOM cuz our spark cluster and config is large enough for this dataset. We've also done some experiments to use this cluster to run a much large data size which works fine. In addition I checked that error code 137 indicates the OOM issue wh

[2022-09-15 20:30] memoryz commented on #1249
@Namrata0507 can you post the full error stack and code that triggers the issue?

[2022-09-15 22:28] littlegirl6688 opened #1655 "Is there a way to get the jar file for synapseml ?"
Is there a way to get the jar file for synapseml ?  The repositories: "https://mmlspark.azureedge.net/maven" does not exist anymore and I could not file the jar file anywhere. Please let me know if we can download it somewhere. Thank you!

AB#1983806

[2022-09-16 15:27] iemejia commented on #1653
We need to have more information. I will add more details here once the subject develops but from the proposal it seems they will keep the Dataframe API compatible but inside will generate some protobuf/grpc request payload to invoke stuff (this will help to support more easily other languages in the future).

So far I don't see anything worth to be worried apart of the execution mode that you men

[2022-09-19 07:11] serena-ruan commented on #1655
Hi @littlegirl6688 , you could install any version of SynapseML by specifying the repository resolver as "https://mmlspark.azureedge.net/maven". Detailed installation guidance can be found on the bottom of the [website](https://microsoft.github.io/SynapseML/).
If you mean that you want to manually download just the jar, we only support downloading official versions from maven central: https://sear

[2022-09-19 07:18] serena-ruan commented on #1647
@Ishitori We don't regularly update Spark3.1 for now, as we've upgraded the main branch to Spark3.2. If you'd like to migrate to Spark3.2, then you could find latest versions in our regular releases. We might also update Spark3.1 versions in our installation guidance at the bottom of the [website](https://microsoft.github.io/SynapseML/).

[2022-09-20 10:00] WanBenLe opened #1657 "How can I fit lightGBM in spark2.4.5 and scala 2.1.1?"
Or how can I download mmlspark jar files and warppers for spark2.4.5 and scala 2.1.1?

[2022-09-21 11:24] fonhorst commented on #1647
Hi @Ishitori, is there a version of synapseml 0.9.5 that supports Spark 3.0.1 (in particular, with working saving of trained LIghtGBM)? Or has its support been completely dropped already?

[2022-09-22 16:57] serena-ruan commented on #1657
@WanBenLe Hey, spark2.4 is back in the days, and we haven't updated it for a long time. It's even before we rename to SynapseML, so my suggestion would be that maybe you could upgrade to spark3.1/spark3.2 which contains lots of new features :D If spark2.4 is the only choice, could you try install mmlspark version `1.0.0-rc3-67-659feb9c-SNAPSHOT` and specify resolver as `https://mmlspark.azureedge.

[2022-09-26 17:00] ErwanBlain opened #1660 "[BUG] IsolationForest does not take predictionCol parameter into account"
### SynapseML version

0.9.4

### System information

- **Language version** : Python 3.9.13
- **Spark Version**: Spark 3.2.1
- **Spark Platform**: `pyspark` on local machine

### Describe the problem

The `IsolationForest` object does not take the `predictionCol` into account, and always set it to `prediction`. This occurs whether the parameter is given as an argument to the object constructor, o

[2022-09-26 23:24] kenshinee opened #1661 "[BUG] Azure Synapse Analytics throwing AttributeError: 'TextSentiment' object has no attribute 'setLinkedService' error"
### SynapseML version

Azure Synapse Analytics Spark Pool 3.1

### System information

- **Language version** (e.g. python 3.8, scala 2.12):
- **Spark Version** (e.g. 3.2.2):
- **Spark Platform** (e.g. Synapse, Databricks):

### Describe the problem

On Azure Synapse Analytics running Spark Pool 3.1

`    # Initialise SynapseML and Cognitive Services
    AnalyticsTS = (TextSentiment()
        .set

[2022-09-27 02:53] wil70 commented on #867
Hello, Any update on this? TY

[2022-09-27 02:53] ElysiumFan086 commented on #867
This is RongFan. I have received you mail just now, and I will read it soon.Thank you!

[2022-09-27 18:28] ODemidenko commented on #738
Is there any progress?
Is it possible to train lgbm model with SynapseML and to serve through a standard single-node LGBM implementation?

[2022-09-28 18:33] jakeatmsft opened #1664 "Enable Integration with API Management Service"
**Is your feature request related to a problem? Please describe.**
Customer is requesting to use OpenAI service behind Azure API Management for management of keys and security features.  My understanding is that they will not be able to use PySpark API without direct access to Az OpenAI service via access key.

**Describe the solution you'd like**
Ability to configure endpoints in PySpark OpenAI A

[2022-10-03 21:31] dylanw-oss opened #1667 "[BUG] TrainRegressor does not throw user friendly error message if some column has only one distinct value"
### SynapseML version

0.10.1

### System information

- python 3.8, scala 2.12
- Spark 3.2.1

### Describe the problem

If our training dataset has a column with only one distinct value, we'll get an error message, which does not make sense to end user, instead of it, spark ml will give precise error message about what's wrong.
_java.lang.IllegalArgumentException: **requirement failed: VectorSlic

[2022-10-04 23:21] vsilaeva opened #1669 "LightGBMClassifier: issue with featuresShapCol for multiclass model"
Hello,
I train the multiclass classification model.
Target variable consists of 5 classes.
**Problem**:  when I call shape values, I obtain 1D vector .
The code that I am running on pyspark is:
[code]
When I select shape values I get 1D array, instead of 5D array (as I have 5 classes in target):

[code]
Why am I getting a 1D vector for shap values even though the classification is multiclass?
Is i

[2022-10-09 20:16] dylanw-oss opened #1671 "[BUG] Failed to install SynapeML on existing cluster, package commons-codec not found"
### SynapseML version

0.10.1

### System information

scala 2.12.15
spark 3.2.2
local spark-shell

### Describe the problem

spark-shell --packages com.microsoft.azure:synapseml_2.12:0.10.1

got error:
 [NOT FOUND  ] commons-codec#commons-codec;1.10!commons-codec.jar (0ms)

### Code to reproduce issue

Execute:
spark-shell --packages com.microsoft.azure:synapseml_2.12:0.10.1

### Other info / log

[2022-10-10 02:52] dylanw-oss commented on #1671
There is a similar open issue, #771, but no solution works for me.

I installed JDK 8 Eclipse Temurin, Windows/X64/JDK/8,
https://github.com/adoptium/temurin8-binaries/releases/tag/jdk8u345-b01

%JAVA_HOME% = 'c:\jdk8'
%SPARK_HOME% = 'C:\spark\spark-3.2.2-bin-hadoop3.2'
%HADOOP_HOME% = 'C:\spark\spark-3.2.2-bin-hadoop3.2'
%PYSPARK_DRIVER_PYTHON% = jupyter
%PYSPARK_DRIVER_PYTHON_OPTS% = notebook

[2022-10-10 11:31] chenyuanxing opened #1672 "[BUG]How to adjust the number of tasks in the fit process"
### SynapseML version

0.10.1

### System information

Language version (python 3.9.1):
Spark Version(3.2.2):
Spark Platform(Synapse):

### Describe the problem

source data  : 200G.
executor number:  256
executor memory: 16G
driver memory: 16G

We are do the migration of gbdt to lightgbm, but found that under the same parameters, lightgbm will fail to execute. There has been one success, and all

[2022-10-10 21:34] AndresUr commented on #891
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------

thanks master with the version de spark 3.0.1 and scala 2.12 (DBR 7.3 LTS)  and  with MMLSpark Compilación e información de

[2022-10-11 05:42] JessicaXYWang commented on #1661
Hi @kenshinee, can you try
[code]
and see if it works?

[2022-10-11 07:40] chenyuanxing commented on #1672
we have many executors (1024) . but it looks like just run 32 active tasks (the tasks number is random each time we submit).
![image](https://user-images.githubusercontent.com/16252583/195025469-3d0ac069-c1cf-4e3b-a945-7c24d1736f0b.png)
![image](https://user-images.githubusercontent.com/16252583/195025814-65fd7cb3-9ec9-420b-aa86-382fa5308d93.png)

[2022-10-11 08:07] chenyuanxing commented on #1672
I found the numTasks parameter, will try

[2022-10-11 13:28] mhamilton723 opened #1675 "[BUG] Testing awaiting response removal"
### SynapseML version

Foo

### System information

- **Language version** (e.g. python 3.8, scala 2.12):
- **Spark Version** (e.g. 3.2.2):
- **Spark Platform** (e.g. Synapse, Databricks):

### Describe the problem

Foo

### Code to reproduce issue

Fooo

### Other info / logs

_No response_

### What component(s) does this bug affect?

- [ ] `area/cognitive`: Cognitive project
- [ ] `area/core`:

[2022-10-11 14:19] mhamilton723 commented on #1675
test2

[2022-10-11 14:20] mhamilton723 commented on #1675
foo

[2022-10-11 14:20] mhamilton723 commented on #1675
fooo foo

[2022-10-11 14:30] mhamilton723 commented on #1675
fooo fooo

[2022-10-11 21:04] #1675 closed

[2022-10-12 12:15] wang21jun commented on #1289
Facing the same issue. Could you guys please fix this?

[2022-10-12 23:28] kenshinee commented on #1661
@JessicaXYWang thanks for the update, I'll try that and update here.

One thing for using Subscription/Service_Key on Synapse is we may have to (powershell) map it across CI/CD process, since the key changes across Dev/Tst and Prod. The previous configuration to allow setLinkedService is a way to get around this problem as we can retain the same Link Service name across Dev/Tst and Prod.

Is setLi

[2022-10-13 03:03] rrekapalli opened #1678 "[FEATURE REQUEST]: Implement complete Spark binding using Autogen Technology"
Dear Team:

Is there a possibility to implement complete .Net bindings (including core and MLLib etc) for Spark using Autogen technology? .Net for Spark [.Net for Spark](https://github.com/dotnet/spark) seems to only have core bindings and doesn't seem to implement MLLib from long time!  Just wondering if it would be easy with Autogen technology to convert/port the whole Spark library to .Net.

Th

[2022-10-14 03:55] gnayoaixgnaw commented on #846
I got the same error when I update lightgbmlib from 2.2.350 to 2.3.10, then I check 2.3.10's jar and find there is no class named SWIGTYPE_p_int64_t.class. it seems that this class existed in 2.2.350 but its name changed in 2.3.10. I think this is the reason why I got this error. For some reason, I can only use spark 2.0+ which means I can't use synapseml, so is there any new version of mmlspark j

[2022-10-14 05:04] kenshinee commented on #1661
Tested with setLocation and SetSibscriptionKey, it is working for Text Sentiments, Key Phrase, NER and Opinion Mining.

Also, the CI/CD problem can be solved using TokenLibrary.

Thank you @JessicaXYWang, this can be close now.

[2022-10-14 23:57] sibyl1956 opened #1679 "java.lang.NoSuchMethodError: spray.json.package$.enrichAny(Ljava/lang/Object;)Lspray/json/RichAny; Issue"
### SynapseML version

0.10.1

### System information

- **Language version**: Python: 3.8.10, Scala 2.12
- **Spark Version** : Apache Spark 3.2.1,
- **Spark Platform**: Databricks

### Describe the problem

Installed the package through:
com.microsoft.azure:synapseml_2.12:0.10.1 with the resolver: https://mmlspark.azureedge.net/maven

But got this error message when try to initiate a lightgbm cla

[2022-10-17 03:01] #1672 closed

[2022-10-17 15:31] neptune05 commented on #1679
"io.spray" %% "spray-json" % "1.3.5"
there may be a problem with your spray-json version, it should be 1.3.5, please confirm

[2022-10-18 03:00] chenyuanxing opened #1681 "[BUG]SynapseML lightgbm must run after all task ready?"
### SynapseML version

0.10.1

### System information

Language version (python 3.9.1):
Spark Version(3.2.2):
Spark Platform(Synapse):

### Describe the problem

- The logic of Synapse seems to wait for all tasks to read the data before executing the subsequent logic. But when the spark cluster resources are tight, it will always be stuck waiting for node allocation.
- If the requested resources a

[2022-10-18 13:53] julia-pp opened #1682 "[BUG]'java.lang.NoClassDefFoundError: ai/onnxruntime/NodeInfo'"
### SynapseML version

0.10.1

### System information

- **Language version**:  python 3.8, scala 2.12
- **Spark Version**:  3.2.0
- **Spark Platform**: Local on mac M1

### Describe the problem

When I want to use onnx inference on spark, it throws a 'java.lang.NoClassDefFoundError: ai/onnxruntime/NodeInfo' error.
I clone the raw source and don't find 'NodeInfo' definition in the project which us

[2022-10-18 16:34] eerga commented on #1671
I have the same bug with for SynapseML 0.10.1

### System information:
scala 2.12.17
spark 3.2.0
local JupyterLab on MacOS Monterrey

### Path Configurations
JAVA_HOME% = '/Library/Java/JavaVirtualMachines/jdk1.8.0_341.jdk/Contents/Home'
SPARK_HOME% = '/usr/local/Cellar/apache-spark/3.2.0'
PYSPARK_DRIVER_PYTHON% = jupyter
PYSPARK_DRIVER_PYTHON_OPTS% = notebook
PYTHONPATH=$SPARK_HOME/python:$PYTHON

[2022-10-18 17:59] eerga commented on #1671
I tried to run the same code with Spark 3.1.1 but I keep on having jar issues.

### System information:
scala 2.12.17
spark 3.1.1
local JupyterLab on MacOS Monterrey

### Path Configurations
JAVA_HOME% = '/Library/Java/JavaVirtualMachines/jdk1.8.0_341.jdk/Contents/Home'
SPARK_HOME% = '/usr/local/Cellar/apache-spark/3.1.1'
PYSPARK_DRIVER_PYTHON% = jupyter
PYSPARK_DRIVER_PYTHON_OPTS% = notebook
PYTH

[2022-10-19 05:50] gnayoaixgnaw commented on #877
assembler doesn't support the string type, so how can I generate the input vector via assembler before fitting?

[2022-10-20 15:47] mhamilton723 commented on #1664
thanks for reaching out @jakeatmsft what do you mean by using APIM? Do you have a doc we can use to see how to support this?

[2022-10-20 15:56] mhamilton723 commented on #1667
Thank you for the thoughtful repro. Tagging in @imatiach-msft to take a look at this

[2022-10-20 17:21] dylanw-oss commented on #1671
This is always happening for me.

[2022-10-20 17:54] mhamilton723 commented on #1678
@serena-ruan  is working on this item and will follow up when she has updates to share

[2022-10-20 21:56] memoryz commented on #1682
Hi @julia-pp, this issue is because we depend on this library: `"com.microsoft.onnxruntime" % "onnxruntime_gpu" % "1.8.1"`, and it is not supported on MacOS.
To work around this problem, you can fork the code base, and swap out the dependency with CPU flavor:
https://github.com/microsoft/SynapseML/blob/f29318a274610dda543ee1422bdbd74cdb6a752a/build.sbt#L406
replace it with `"com.microsoft.onnxrunt

[2022-10-21 02:42] kenshinee commented on #1661
Awesome! That's really good to know. Will keep an eye on the PR and patch.

[2022-10-21 06:21] rrekapalli commented on #1678
This is great news!  Can't wait for the implementation!

[2022-10-21 07:11] chenyuanxing commented on #1681
Thanks .  I thought about the logic of lightgbm calculating the histogram. If it is executed in time, it will require many times to read the original data repeatedly. So it seems that reading the data once for all tasks is already the optimal solution.
So it seems that lightgbm is more suitable for running on a cluster that always has sufficient resources.
Thanks again for your reply.

[2022-10-21 07:12] #1681 closed

[2022-10-23 06:42] dylanw-oss opened #1690 "[BUG] Update development document to add statement that it does not support development on Windows?"
### SynapseML version

0.10.1

### System information

Windows OS with Spark installed.

### Describe the problem

On Windows OS, follow the development document and tried to create a virtual environment.
https://microsoft.github.io/SynapseML/docs/reference/developer-readme/

It failed on the step of installing package "horovod==0.25.0", which was added 3 months ago within this commit: https://git

[2022-10-24 19:42] dylanw-oss opened #1692 "[BUG] DropColumns shouldn't throw exception if column does not exist"
### SynapseML version

0.10.1

### System information

-  scala 2.12
- Spark Version 3.2.2
- Spark Platform: Databricks

### Describe the problem

If columns do not exist, DropColumns transformer will throw exception, it isn't consistent with Spark Dataframe.drop(), the issue restricts DropColumns to work with dynamic programming.

See if we have a program to update dataset, based on some conditio

[2022-10-25 00:45] timmhuang commented on #751
Checking in to see if anyone made any new discoveries? I recently started experimenting with this on Databricks but I see up to 20% of the CPUs are used at once even after tweaking numThreads and repartitioning training data...

[2022-10-25 05:11] serena-ruan commented on #1690
@dylanw-oss Thanks for catching this! I think you're right, that horovod doesn't support installation on windows, and you could just delete horovd==0.25.0 requirement in the environment.yaml file so other components except deep-learning with horovod still work. I'll update the developer-readme as well!

[2022-10-25 17:18] kharigardner opened #1694 "[BUG] SpeechToTextSDK transformer fails with MP3 input on with SPXERR_GSTREAMER_NOT_FOUND_ERROR"
### SynapseML version

0.10.1-22-95f451ab-SNAPSHOT

### System information

- **Language version**: Python 3.8
- **Spark Version** (e.g. 3.2.2): 3.2
- **Spark Platform** (e.g. Synapse, Databricks): Synapse

### Describe the problem

Attempting to transform a spark dataframe that contains a audio column containing mp3 audio bytes to text.
When using the SpeechToTextSDK transformer, it always return

[2022-10-25 20:01] eerga commented on #1671
@dylanw-oss, there is a jar that's missing. just download it from here:
https://archive.apache.org/dist/commons/codec/binaries/commons-codec-1.10-bin.zip and put it into an appropriate location. For me, it was /Users/username/.m2/repository/commons-codec/commons-codec/1.10/ folder. For you it should be at this directory: C:/Users/<name>/.m2/repository/commons-codec/commons-codec/1.10/

[2022-10-26 00:55] BrendanWalsh commented on #1694
Hi @kharigardner!

The Speech SDK uses a library called GStreamer to handle compressed audio like mp3s, but for licensing reasons those binaries aren't included in either the Speech SDK or SynapseML. More information is available [In the Speech SDK docs](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-codec-compressed-audio-input-streams?tabs=linux%2Cdebian%2Cj

[2022-10-26 00:56] #1694 closed

[2022-10-26 01:15] #1692 closed

[2022-10-26 21:41] dylanw-oss opened #1697 "[BUG] ComputeModelStatistics doesn't work on multiple trainings, java.lang.NullPointerException"
### SynapseML version

0.10.1

### System information

- scala 2.12:
- spark 3.2.2:

### Describe the problem

Tried to apply ComputeModelStatistics on the same dataset during multiple trainings. The latter one always failed with "java.lang.NullPointerException"

[code]

The problem is because TrainClassifier or TrainRegressor only update a few columns metadata, and tryGetSchemaInfo will get the o

[2022-10-27 12:46] mhamilton723 commented on #1296
@musram this error looks like its not properly loading the library from your spark packages. Please see the logs to ensure that the maven packages are properly downloading. If the spark session has already been created by the time you pass it the spark packages, it wont work. Also the python install isn't necessary as the spark package brings in the python bindings. You are probabbly in a state wh

[2022-10-27 12:47] #1296 closed

[2022-10-27 12:48] mhamilton723 commented on #1420
Please comment to reopen

[2022-10-27 12:53] mhamilton723 commented on #1671
This looks like an issue with a bad ivy cache state.

https://stackoverflow.com/questions/19751614/unresolved-dependencies-for-commons-codec

Please follow the top answer here and delete this entry from ivy cache to get it out of it's bad state

CLosing this issue for now but you can comment to re-open!

[2022-10-27 13:32] gnayoaixgnaw commented on #906
have the same issue

[2022-10-28 01:20] dylanw-oss commented on #1671
@mhamilton723 , deleting ivy cache of all subfolders does not help, still hit the same issue.
@eerga 's solution works for me. in .m2/repository/commons-codec/commons-codec/1.10/ folder, there is no jar files, I manually download the zip file and place the jar to this folder and there's no issue now.
Btw, I tested on Ubuntu there is no such issue at all.

[2022-10-28 15:49] mhamilton723 commented on #1679
Agreeing with @neptune05

[2022-10-28 16:54] #1655 closed

[2022-10-28 16:56] svotaw commented on #1644
please reopen if you have any more questions

[2022-10-28 21:18] #1644 closed

[2022-10-31 08:15] shuDaoNan9 commented on #751
local 模式训练本机cpu会被拉满100%利用率就很快，分布式训练的话你要登录到每个slave节点去看cpu利用率就会发现利用率很低（spark3有所改善），不能只看spark history server上的并行度。分的越细通信开销也越大

[2022-10-31 09:02] chenyuanxing commented on #1618
We also encountered this problem.
our dataset is 60G
executors: 128
memory: 16G
executor cores: 4
Is there any good solution now?

[2022-10-31 09:19] outsider049 opened #1700 "[BUG]getBoosterBestIteration method does not work"
### SynapseML version

com.microsoft.azure:synapseml_2.12:0.9.4

### System information

- **Language version ( python 3.8.10, scala 2.11.12):
- **Spark Version (e.g. 3.1.2):

### Describe the problem

For trained models imported by LightGBMClassificationModel().loadNativeModelFromFile, the output of the getBoosterBestIteration method is the default value of -1, not the number of best iterations i

[2022-10-31 16:40] sibyl1956 opened #1701 "[BUG] 'com.microsoft.azure.synapse.ml.lightgbm' has no attribute 'LightGBMClassificationModel'"
### SynapseML version

0.10.1

### System information

Language version: Python: 3.8.10, Scala 2.12
Spark Version : Apache Spark 3.2.1,
Spark Platform: Databricks

### Describe the problem

When try to load a pipeline model for lightgbm, I encountered this error message:
'com.microsoft.azure.synapse.ml.lightgbm' has no attribute 'LightGBMClassificationModel'

But I imported from synapse.ml.lightgb

[2022-10-31 21:51] svotaw commented on #1618
We are close to having a new execution engine, just waiting on a bug fix review from LightGBM.  I can update this thread when it is available.  With the error as is, there's not much I can diagnose about a crash in the native linux layer.

[2022-11-01 00:47] dylanw-oss opened #1702 "[BUG] Generated Python code isn't consistent with Scala code"
### SynapseML version

0.10.1

### System information

- python 3.8, scala 2.12:
- 3.2.2:
- Synapse

### Describe the problem

I found this issue that generated Python API is different with Scala's, and finally I realized that it uses parameter name rather than function name in code generation process.

For example, if I have this Scala code, in Scala I got API setOutcomeCol and getOutcomCol, but

[2022-11-01 03:01] chenyuanxing commented on #1618
okay ,thanks for your reply

[2022-11-02 05:53] serena-ruan commented on #1678
@rrekapalli Sorry for the late reply! It's definitely on the roadmap, and there is an initial PR https://github.com/dotnet/spark/pull/1096 that uses our existing codegen system to auto generate the code. I have talked to the owner that they're super interested. But we might need to wait as the dotnet spark team is quite busy recently, and we will work on polishing the existing .NET codegen binding

[2022-11-02 06:18] rrekapalli commented on #1678
Thank you for the update @serena-ruan!

[2022-11-02 06:34] rrekapalli commented on #1678
Thank you for the update @serena-ruan !

[2022-11-02 08:01] shuDaoNan9 commented on #915
https://github.com/microsoft/SynapseML/pull/768

[2022-11-05 16:03] chenyuanxing commented on #1618
hello, @svotaw I solved the problem with this parameter useBarrierExecutionMode=True .  But it confuses me even more.

![截屏2022-11-05 下午11 45 38](https://user-images.githubusercontent.com/16252583/200128254-79671442-68a8-464b-a4f0-121f6de4de41.png)
I looked at where the barrier works and can see why it can wait until all nodes succeed and get the correct topology, but I don't understand why it wou

[2022-11-05 23:00] svotaw commented on #1618
I can't see why it would be different either just looking at the code, although @imatiach-msft might have more context for the errors he was seeing without it and why he added it. I have mostly worked on new code soon to be released which does not use barrier execution mode.

Have you tried the latest release?  I know there were some fixes that went into 0.10.1 and after.

[2022-11-06 06:45] chenyuanxing commented on #1618
The version we are using now is the latest version. 0.10.1 . and thx for your reply.
hello, @imatiach-msft ，Can you help me why this problem occurs？

[2022-11-07 08:51] chenyuanxing commented on #1618
![截屏2022-11-07 下午4 41 19](https://user-images.githubusercontent.com/16252583/200264737-ace11ece-6fae-4077-9232-c4586d382465.png)
I think I found the root cause code of this error, @svotaw @imatiach-msft . if the number of tasks requested is inconsistent with the number of tasks allocated. There is currently an infinite loop of logic without the Barrier model.
Therefore, If not use Barrier Executio

[2022-11-07 09:02] chenyuanxing commented on #1618
Maybe there can have a strategy here to skip the check logic   and set numTasks to the number of workers obtained.:
strategy:  when a certain ratio of workers are connected & Wait 5 minutes and still no new worker joins
Then let the developer can set this ratio.  This will allow users to run normally outside of Barrier mode.

[2022-11-07 15:17] ppruthi commented on #1701
@svotaw  -- could you take a look at this issue ? Thanks !

[2022-11-09 10:51] chenyuanxing commented on #1618
Sorry for reply so late. In fact I am not sure why  numTasks not match the actual number of Tasks.While the driver is waiting for accept, will a task failure cause this problem? i don't know. and I tried several times, but it didn't reproduce(This may be because I reduced the number of taskNumbers to 128 when retrying). my taskNumber is not automatically assigned, it is set by param.
the config en

[2022-11-09 10:53] chenyuanxing commented on #1618
Even when my numTasks number is 512, it runs successfully most of the case.

[2022-11-13 18:01] svotaw commented on #1700
I believe this is an older bug from a few versions ago (if you are really using 0.9.4). Please use the latest version 0.10.1.

[2022-11-13 18:06] svotaw commented on #1701
Can you give more context here?  How did you save the model? What was the code to create the original Pipeline?

[2022-11-13 18:08] svotaw commented on #1702
@mhamilton723  Can you comment on this?

[2022-11-14 10:20] Usmaniatech opened #1717 "SERVER ERROR: Bad Gateway url. Not able to retrieve jar files"
To try out SynapseML on Spark3.1 version

.config("spark.jars.packages", "com.microsoft.azure:synapseml_2.12:0.9.5-13-d1b51517-SNAPSHOT")
.config("spark.jars.repositories", "https://mmlspark.azureedge.net/maven")

The code runs successfully in the start and downloads the jar files

![image](https://user-images.githubusercontent.com/14370981/201634285-0e48aa86-83e9-459f-8f24-48536087945d.png)

But

[2022-11-14 23:14] svotaw commented on #1717
Can you please try a newer version?

.config("spark.jars.packages", "com.microsoft.azure:synapseml_2.12:0.10.1")

[2022-11-15 09:49] Usmaniatech commented on #1717
Same issue on the new version as well.

    :: problems summary ::
    :::: WARNINGS
		[FAILED     ] com.microsoft.onnxruntime#onnxruntime_gpu;1.8.1!onnxruntime_gpu.jar: Downloaded file size doesn't match expected Content Length for https://repo1.maven.org/maven2/com/microsoft/onnxruntime/onnxruntime_gpu/1.8.1/onnxruntime_gpu-1.8.1.jar. Please retry. (302176ms)

		[FAILED     ] com.microsoft.onnxr

[2022-11-15 12:01] Usmaniatech commented on #1717
Also bintray is shutdown. So what's the alternative for this.

[2022-11-15 12:13] mhamilton723 commented on #1717
This looks like a connection issue on your machine. Are you able to visit
maven website yourself from a browser? What are you doing to trigger this
issue?

On Tue, 15 Nov 2022 at 12:01 pm, Muhammad Usman ***@***.***>
wrote:

[2022-11-17 12:47] live2awesome opened #1723 "[BUG] TypeError 'javapackage' object is not callable"
### SynapseML version

0.10.1

### System information

- **Language version** (e.g. python 3.8, scala 2.12):
- **Spark Version** (e.g. 3.2.2):
- **Spark Platform** (e.g. Synapse, Databricks):
python : 3.7
Pyspark version : 3.1.2

### Describe the problem

TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_33260\4209124749.py in <module>---->

[2022-11-21 09:50] chenyuanxing commented on #1618
I think I reproduced the problem. without Barrier Execution Mode.
dataset ： 40G
executors: 64
memory: 16G
executor cores: 2
numTasks: 128

I have checked all the 128 tasks log . they all end with : 22/11/21 13:14:55 INFO BulkPartitionTask: task 12488 sending status message to driver: ignore:xxxxxxx:12459:75:29  .

![image](https://user-images.githubusercontent.com/16252583/203018660-e49ae342-f5bf-

[2022-11-21 10:01] chenyuanxing commented on #1618
The abnormal executor ID i 65.And It can be seen from the job graph that it be caused by a node 14  removed in the middle and restarting a new node 65. And the new node cannot connect to driver.
![image](https://user-images.githubusercontent.com/16252583/203020975-41245508-c7b8-4fdc-9177-08a49b68a93b.png)

[2022-11-21 10:10] chenyuanxing commented on #1618
@svotaw  @imatiach-msft

[2022-11-21 18:04] svotaw commented on #1618
thanks so much for this great investigation!  I will take a look in more detail soon at what you sent.

[2022-11-22 03:17] serena-ruan commented on #1702
@dylanw-oss I think this is by design, because it's natural that if you have a param named paramA, the setter & getter should be named as setParamA & getParamA instead of setParamACol or getParamACol. If you use this parameters as the column for paramA you should name it as paramACol from the beginning to make it consistent.

[2022-11-23 11:02] fonhorst opened #1739 "[QUESTION] Is it possible to run LightGBM in useSingldeDatasetMode with all cores allocated until the end of fitting?"
Hello. I need to use parallel jobs in a single Spark application.
However, If I use lightgm with 'useSingleDataset=True' parameter it runs multiple tasks per executor (equal to a number of cores on it) and than all tasks except one will finish after data preparing.

![image_2022-11-22_23-44-25](https://user-images.githubusercontent.com/3002739/203530562-e0d00b7c-ea1c-4b47-aafb-8b36b33377c6.png)

T

[2022-11-23 12:15] Usmaniatech commented on #1717
What is the compatible mmlspark version for spark 3.1.1 and synapse 0.9.5?

[2022-11-23 12:51] Usmaniatech commented on #1717
I am using spark 3.1.1 and it is mentioned in the documentation that 0.9.5 is the compatible for this version.

[2022-11-23 12:58] Usmaniatech commented on #1717
On maven, mmlspark 0.18 is available which is very old and only supports spark 2.11

[2022-11-23 22:59] svotaw commented on #1717
0.10.1 should be compatible with Spark 3.1.  And we just released 0.10.2 yesterday.

Oh, are you running on a Mac?  I believe the gpu package is not supported on a Mac because onnxruntime does not support it.

[2022-11-23 23:02] svotaw commented on #1717
If you are running on a Mac, see this issue: https://github.com/microsoft/SynapseML/issues/1682

[2022-11-23 23:19] svotaw commented on #1739
I'm not quite sure what you are asking. In useSingleDataSet=true mode, only 1 Task per executor is left after the data preparation stage, and all other Tasks on the same executor are completed.  LightGBM does not use any thread directly except for that 1 Task per executor (besides any OpenMP parallelism that happens inside the native LightGBM library itself). That's what makes useSingleDataSet=tru

[2022-11-24 06:41] Usmaniatech commented on #1717
0.10.1 worked.

[2022-11-24 07:21] Usmaniatech commented on #1657
Is mmlspark necessary to save/serialize the model? I am able to train the model but not able to save it.

[2022-11-25 09:33] #1717 closed

[2022-11-27 04:10] shexuan opened #1741 "demo usage for setPassThroughArgs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I look for demo codes like other respositry best practice. I want to set force_row_wise for lightgbm and I find a related links about using `setPassThroughArgs`. But it's disappointed to find no demos.

Should I use `new LightGBMClassifier().setPassThroughArgs("force_row_wise=true")` OR .setPassThroughArg

[2022-11-28 05:37] serena-ruan commented on #1657
You should be able to save the model by calling 'model.write.save()' in Scala or 'model.write().save()' in Python.

[2022-11-28 07:47] JessicaXYWang commented on #1741
Hi shexuan, thank you for raising this question.

for Python, you can use:
[code]

and for Scala, you can use:
[code]

You may also want to check this issue: https://github.com/microsoft/SynapseML/issues/1642

Let me know if this works.

[2022-11-28 15:00] Usmaniatech opened #1742 "Does synapse ml lightgbm support mleap serialization"
Does synapse ml lightgbm support mleap serialization. If not, what type does this support ?

[2022-11-28 16:08] JessicaXYWang commented on #1742
@svotaw Could you take a look on this question? Thanks.

[2022-11-28 18:03] svotaw commented on #1618
I started looking at it, and basically this is just a limitation of using LightGBM in a Spark context. We use LightGBM in "distributed" mode, which requires all nodes to be working at the same time to be processing the data (i.e., no time parallelism). Spark, however, is designed to be resilient, and just restart any executors that it wants to (due to error, unresponsiveness, scaling, etc.). So if

[2022-11-29 04:34] serena-ruan commented on #1657
I think you can call Scala from Java and vice versa. If you've already got the trained model, you should be able to call write() method which generates the MLWriter, and then call .save() to save the model.

[2022-11-29 05:23] shexuan commented on #1741
Another questions，can negBaggingFraction work with featureFratcin at the same time?

[2022-11-29 05:50] shexuan commented on #1739
I have met the same problems, and according to your reply I reset my cluster resource 「200cores = 50executor x 4 core」to 「200cores = 200executor x 1core」greatly accelerate the traning time. But now I get stuck in other things https://github.com/microsoft/SynapseML/issues/1595. And I'm testing update the version from 0.10.0 to 0.10.2.

[2022-11-29 07:49] shexuan commented on #1739
Update version to 0.10.2 solved the error mentioned in [#1595](https://github.com/microsoft/SynapseML/issues/1595), .

[2022-11-29 19:19] JessicaXYWang commented on #1741
negBaggingFraction and featureFraction should be able to work at the same time.

Hi @svotaw ,can you help to confirm that negBaggingFraction should works the same way in SynapseML as neg_bagging_fraction works in [LightGBM](https://lightgbm.readthedocs.io/en/v3.3.2/Parameters.html#neg_bagging_fraction). Which means
1. to enable this, you need to set baggingFreq and posBaggingFraction as well
2. if

[2022-11-30 01:08] nikos-kal commented on #1405
Hey @jcdang - sorry to revive an old issue but unfortunately it's still unresolved.

I tried to recreate your solution but still got the same error as @xelax

Would you mind sharing your full configuration (Java version, LightGBM version, any rebuilt jars)?

[2022-11-30 06:04] Usmaniatech commented on #1742
??

[2022-11-30 17:04] svotaw commented on #1741
Yes, we (SynapseML) set all the params to LightGBM that we expose directly (this includes baggingFraction, posBaggingFraction, and negBaggingFraction).  So you can use setNegBaggingFraction (or negBaggingFraction=x in python) rather than setPassThroughArgs.

setPassThroughArgs is really only for cases where we do not expose a LightGBM param directly, and you want to directly add something to Light

[2022-11-30 17:16] svotaw commented on #1741
I believe you have to set both. SynapseML is just a wrapper around LightGBM, so you'll need to follow the LightGBM docs for particular parameters. https://lightgbm.readthedocs.io/en/v3.3.2/Parameters.html

[2022-11-30 17:34] svotaw commented on #1742
Can you give a little more detail about the use case and context?  I'm not familiar with mleap. SynapseML LightGBM models can be serialized in either Spark (save) or native LightGBM format (saveNativeModel) and can be included in pipelines. I would think mlflow serialization of pipelines would be external to usage in SynapseML LightGBM, but I have not done any work in that area.

@mhamilton723 or

[2022-11-30 18:34] svotaw commented on #1742
From mhamilton723:

"No, we don't support MLeap, but a user can save the native LGBM model for use in a single-threaded inference environment"

[2022-11-30 18:59] svotaw commented on #1741
https://github.com/microsoft/SynapseML/pull/1749

[2022-11-30 19:01] jcdang commented on #1405
Hey @nikos-kal, I was setting up the pipelines for a client that I'm not working with right now so I don't have the exact details.  I've tested it to work with java8 and java17.  LightGBM 3.2.X.  Worked with SynapseML 0.10.2 and 0.9.5.

I forgot but I think you may also need the USE_SWIG flag too.
[code]

The apple+arm jar should be in the folder.  You need to replace artifact jar referencing com.

[2022-11-30 21:29] nikos-kal commented on #1405
Thanks @jcdang 🙌

I actually ended up on an alternate solution for now:

- use x86 brew to install libomp
- Switch to x86 Java

This combination works but obviously there is some performance hit due to emulation.

Hopefully the Synapse team can provide native jars in the near future so we don’t have to rely on workarounds.