[2017-06-06 15:32] rastala opened #11 "Add support for missing value cleaner"
Add an Estimator that computes a missing value replacement value, such as mean, median or mode, for training data. The Estimator then produces a Model that can be applied to replace missing values.

The missing value cleaner should support one or more input columns. Different types should be supported as follows:

- Floating point numbers: mean, median, mode
- Integer numbers: median, mode
- Strin

[2017-06-06 15:35] rastala opened #12 "Add pre-trained DNNs for text data"
Add support for pre-trained DNN models that can be used to extract features from free-form text data, such as word embedding vectors.

These features could then be used as inputs, for example, for document classification models.

[2017-06-06 15:39] rastala opened #13 "Support scoring of TensorFlow-based neural network models"
Add support for scoring Tensorflow-based DNN models, similar to CNTK models with options for selecting a pre-trained network and output layer for featurization.

[2017-06-06 15:45] rastala opened #14 "Support cross-validation based FindBestModel"
Add a new Estimator - FindBestModelCV - that is like FindBestModel, but uses cross-validation instead of evaluation against dataset.

FindBestModelCV would take a list of **un-trained** model or models, do cross-validation for each of them using the same fold splits, and compare metrics. It would then train the best model against full data, and return that as output Model.

Additionally, FindBestM

[2017-06-12 20:05] hning86 opened #24 "show RMSE in the flight delay sample notebook."

[2017-06-13 14:56] rastala opened #26 "In GPU VM template, allow user to specify existing storage account"
For example, user might have a very large dataset of images on an existing storage account. It'd be time-consuming to copy it over to newly created blob storage every time user spins up a cluster.

[2017-06-14 21:08] phonchi opened #32 "Try to running the sample notebook results error"
Hi, I just include the package using

[code]

However,  when I run the sample notebook example 302, the following code
[code]
results error:

[code]
Any idea? Thanks in advance!

[2017-06-14 22:09] drdarshan commented on #32
Could you please let us know what platform you are running this on (uname -a)? I suspect it's a missing native dependency that happens to existing on Ubuntu 16.04. Thank you so much and sorry for the inconvenience!

[2017-06-14 22:19] phonchi commented on #32
Thanks for the prompt reply. Here is the output of  `uname -a`

`Linux WONGLABSERVER01 3.13.0-106-generic #153-Ubuntu SMP Tue Dec 6 15:44:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

The underlying operating system is Ubuntu 14.04.

In addition, the output message when kernel is started is as follows

[code]

[2017-06-14 23:15] drdarshan commented on #32
I suspect our OpenCV native dependencies need neww

[2017-06-14 23:18] drdarshan commented on #32
I suspect our OpenCV native dependencies need a newer version of glibc than what's available by default on Ubuntu 14. Is there any way you could try on Ubuntu 16 until we figure out how to compile against an older version? If you are testing locally, you can just pull our Docker image and open a bash session into it. We have spark-shell, pyspark, etc all in the path. Thank you and apologies again

[2017-06-14 23:28] phonchi commented on #32
Sure, I will use the docker image to test instead, thanks again for your help!

[2017-06-15 17:00] dakirsa commented on #32
ok, let me look into what whether we cold have an OpenCV build compatible with Ubuntu 14 and 16.

[2017-06-16 17:11] drdarshan commented on #32
Marking this as closed for now - please feel free to reopen if you are still blocked. Thank you!

[2017-06-16 17:11] #32 closed

[2017-06-19 13:54] rastala commented on #24
I'm fixing this.

[2017-06-19 16:09] drdarshan commented on #11
Closing since the basic missing value cleaner transform is now merged in #22

[2017-06-19 16:09] #11 closed

[2017-06-19 16:56] rastala opened #37 "Add doc page describing example datasets"
Add a doc page that describes the source and properties of example datasets available on CDN, similar to [this page](https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-use-sample-datasets).

[2017-06-19 18:17] #24 closed

[2017-06-23 15:33] #37 closed

[2017-07-07 06:43] Myasuka opened #63 "How to read CIFAR images with scala in mmlspark"
Currently, [example 301](https://github.com/Azure/mmlspark/blob/master/notebooks/samples/301%20-%20CIFAR10%20CNTK%20CNN%20Evaluation.ipynb) which evaluates pre-trained CNTK model with CIFAR10 images, is totally written by python. This example use `pickle.load` to read `cifar-10-batches-py/test_batch` and then parallelize to distributed RDD, however, I cannot directly use `pickle` to read data in s

[2017-07-07 14:50] drdarshan commented on #63
Dear Myasuka,
1. For reading CIFAR-10 in Scala, we have a version of the dataset in a zip file hosted on our CDN.  I will send you an example as soon as I have verified that it works.
1. We would love to have your Scala examples! Could you please let us know how you have them implemented? Is it as a standalone application or does it use the Jupyter Scala kernel? If you could please send us a point

[2017-07-07 22:53] drdarshan commented on #63
Dear Myasuka,
You can get a zip version of the CIFAR test dataset here: https://mmlspark.azureedge.net/datasets/CIFAR10/test.zip.

Once you copy the zip file to HDFS (or local file system), I just confirmed, you can do something like this in Scala:

[code]

Please let me know if this helps. Thank you!

[2017-07-10 02:40] Myasuka commented on #63
@drdarshan , thanks for your help.
From your reply, MMLSpark seems can only support to read images instead of original CIFAR binary format from [official site](http://www.cs.toronto.edu/~kriz/cifar.html) with scala, did I misunderstand? That's to say, if we download original binary format file, we need to first transform them into images one by one?

[2017-07-11 16:13] drdarshan commented on #63
Hello @Myasuka, yes, you would need to transform the images. I might be able to write a UDF to do this from Scala since looks like they have a binary format in addition to pickle and MAT. Please let me know if that would help and I can write one for you. Thanks!

[2017-07-12 03:23] mhamilton723 opened #68 "Train Classifier and Train Regressor need API review"
- Relying on metadata and magic numbers not idiomatic and makes it hard to parameterize these pipeline stages
- our automatic compute model statistics modules rely on this metadata making the two unnecessarily coupled and not friendly to the rest of the ecosystem
- metadata wrangling makes code unnecessarily complex
- the two share a huge amount of code and both should just output pipeline models

[2017-07-12 03:24] mhamilton723 opened #69 "Featurize needs API review"
- The featurize estimator has a strange API, namely it takes a map from a string to a sequence of strings as a parameter.
- the featurize estimator uses assemble features which for some reason is an estimator (should be a transform)
- featurize should have a helper function that maps a column types to featurization pipelines. The logic of the estimator should be very simple and just compose a pipe

[2017-07-12 03:27] mhamilton723 commented on #14
We should delete FindBestModel as it duplicates funtionality from sparks CrossValidation and GridSearch models. If we decide to keep FindBestModel it should use these spark primitives, and the MetaEstimator (see the new stages PR) under the hood.

[2017-07-12 03:51] mhamilton723 opened #70 "Need to Organize Repo Structure"
- we should organize our additional pipeline stages into a project: src/stages
- all other additions to spark can be their own projects either in core, or in src

[2017-07-12 04:20] Myasuka commented on #63
Really thanks for your kindness help, I already use [my modified cookie-datasets](https://github.com/Myasuka/cookie-datasets) to read original CIFAR10 binary format data.

BTW, I think you can also share the transform script since there maybe someone else want to try MMLSpark with scala but found hard to read original CIFAR10 binary format data without your provided https://mmlspark.azureedge.net/

[2017-07-12 19:49] drdarshan commented on #63
Hello @Myasuka, here is a simple Python3 script that extracts the images from the original CIFAR Python dataset and writes them out as PNG images. You can then zip the directory and use ``spark.readImages`` to read it. Please let me know if this is sufficient.

Thank you!
Sudarshan

[code]

[2017-07-12 20:56] rastala commented on #14
AFAIK, SparkML CV and GridSearch have the limitation that you can't sweep over different types of models that expect different data layout, for example logistic regression vs random forest with categorical data. However, with FindBestModel you can do this, because it supports implicit featurization strategies.

[2017-07-13 06:34] elibarzilay opened #72 "`ZipIterator` issues"
The current implementation of `ZipIterator` has a bunch of issues:

1. If it's possible, it would be much better to implement a plain
   iterator that returns the entries as lazy values that actually do the
   reading when needed.  This would make it possible to drop the
   sampling completely, and use something like
   `.filter(_ => r.nextDouble < someRatio)` instead of baking it in.

2. Reading

[2017-07-14 15:06] mhamilton723 opened #75 "Make CNTKModel support Multi-in Multi-out models"
- right now it only supports single in single out

[2017-07-14 15:07] mhamilton723 opened #76 "Remove dependence on brainscript for GPU training"
- make the CNTKModel API completely in python and make it operate on python CNTK computation graphs and trainers

[2017-07-14 15:08] mhamilton723 opened #77 "Extend DefaultParamsWritable to complex params"
right now we cannot serialize custom params without custom code

[2017-07-14 15:09] mhamilton723 opened #78 "Reduce Memory Consumption of CNTKModel"

[2017-07-17 18:11] rastala opened #80 "Need PySpark method to access the raw CNTK model"
This is needed to inspect the neural network models, especially to get the shape of input and output layers. There appears to be a Scala method for this purpose, but it's not available in PySpark API.

[2017-07-24 12:45] thdeltei opened #83 "Save and load model using FindBestModel"
How do I save and load the best model found using FindBestModel?

[code]

`loaded_best_model` doesn't seem to be a sparkML model, it has a `.getModels()` method which fails when called and no transform() method.

[2017-07-24 21:00] imatiach-msft commented on #83
This is a defect, this should be fixed with this PR:
https://github.com/Azure/mmlspark/pull/84

[2017-07-25 09:52] thdeltei commented on #75
Does this mean that currently I couldn't have a model that say, has 50 sigmoids on the last layer to do multi label classication?

[2017-07-25 13:24] KlausSchaefersAtWork opened #85 "Maven Dependency"
I added the following dep to my poml.xml

  <dependency>
            <groupId>com.microsoft.ml.spark</groupId>
            <artifactId>mmlspark</artifactId>
            <version>0.6</version>
            <scope>test</scope>
        </dependency>

and also added the repo

 <repositories>
        <repository>
            <id>azureedge.net</id>
            <name>MS Azure Maven Repo</name>

[2017-07-25 14:54] drdarshan commented on #85
Dear @KlausSchaefersAtWork, thanks for reporting this - I'll take a look right away.

[2017-07-25 18:41] drdarshan commented on #85
Dear @KlausSchaefersAtWork, it is possibly an issue with the CDN on our side.

Could you please try the instructions to get it working via SBT [here](https://github.com/Azure/mmlspark#sbt)? I just tried a simple program and it worked for me.

Also, if you are able to attach your POM file, we can look into it more.

Sorry for the inconvenience and thanks for your patience while we figure this out!

[2017-07-25 18:42] drdarshan commented on #63
Hi @Myasuka, I'm closing this issue for now.. please reopen if you are still blocked. Thank you!

[2017-07-25 18:42] #63 closed

[2017-07-25 20:07] rastala commented on #75
In the multi-label case, if you have access to the CNTK model, you could manually splice the outputs into single vector on CNTK side, and then split them apart on Spark side. However, doing this manually in both training and scoring workflow is not very convenient.

[2017-07-27 23:55] gopitk opened #88 "Provide sample on how to deploy a model in Spark"
MMLSpark provides a way to save the model. It would be nice to take this to the next step to show how to  deploy the model to Spark using one of the methods - Spark UDF and/or Livy endpoint. It woudl be great to update one of the notebook to demostrate this.

[2017-07-28 20:21] drdarshan commented on #77
Resolving since PR #81 fixes this issue. Thank you @mhamilton723!

[2017-07-28 20:21] #77 closed

[2017-07-28 21:56] mhamilton723 opened #90 "CNTKTrain does not clean up after itself"
This occurs when you run the tests/ ./runme

[2017-07-31 23:44] drdarshan commented on #90
Closing since this is fixed as of #91

[2017-07-31 23:44] #90 closed

[2017-08-01 05:27] imatiach-msft commented on #83
The issue should be fixed now, thank you for reporting it.

[2017-08-01 05:27] #83 closed

[2017-08-02 13:24] rastala opened #93 "Make ImageReader fail fast if file path is invalid"
Currently, if the path to images is incorrect, the ImageReader fails lazily when it tries to read images. This makes debugging hard because the failure might happen much later in the pipeline during some different operation.

Add check to ImageReader to validate the correctness and existence of the file path upon instantiation, for better debugging experience.

[2017-08-02 16:58] marabout2015 opened #94 "Removed issue"
Removed issue

[2017-08-02 17:56] #94 closed

[2017-08-03 01:00] usuyama opened #95 "Docker image with Python 2.7"
It'd be handy if we can use Python 2.7 out of the box. Currently, the image on Docker Hub (https://hub.docker.com/r/microsoft/mmlspark/) has only Python 3.5.

[2017-08-09 18:18] mhamilton723 commented on #75
@thdeltei I think your use case is fully supported. What I mean by this is multi-vector ins and outs. A input/output that has shape (50) is completely supported. What is not supported are models that require 2 different tensor inputs or outputs. This is common in multi-task learning, but uncommon in most classification/regression setups.

[2017-08-14 18:00] mawah opened #105 "Finding the mapping of string class labels to integer indices used by a TrainedClassifierModel"
Hi folks,

I created a TrainedClassifierModel using a training dataset in which the label column is string-valued. I've noticed that when I apply the TrainedClassifierModel's `transform` method to a validation dataset, the resulting `scored_labels` column is integer-valued: presumably those are integer indices for the predicted labels. To produce a human-interpretable result, I'd like to map the `

[2017-08-14 20:47] imatiach-msft commented on #105
we can add a transform to map back the scored labels, but as a workaround for now you can use the index to value transform.
Thank you, Ilya

[2017-08-17 18:24] rastala opened #112 "Add support for Spark 2.2"

[2017-08-25 17:10] mawah opened #121 "Install script action fails on HDInsight cluster"
Hi folks,

I recently provisioned an HDInsight Spark 2.1 cluster and tried to install MMLSpark using the [script action URI](https://mmlspark.azureedge.net/buildartifacts/0.7/install-mmlspark.sh) and [instructions](https://github.com/Azure/mmlspark), as I've previously done for MMLSpark 0.6 without any issues. The script action fails, showing the following "Debug information" in Azure Portal:
[cod

[2017-08-25 17:14] mawah commented on #105
Thanks again @imatiach-msft! The IndexToString feature transformer in pyspark.ml.feature did the trick for me so I'll close this issue. (Not sure whether you were thinking of adding this as an option for trained models' transform() method; if so, might want to add it to the backlog if that hasn't been done already.)

[2017-08-25 17:14] #105 closed

[2017-08-25 21:18] mawah commented on #121
Hi folks,

I wasn't able to reproduce this problem when I created a brand new cluster. I had executed a few scripts remotely on this cluster using a utility that I believe could have created the conda environment mentioned in the error message above. In the future I'll ensure I perform all script actions before using that utility. Sorry for the false alarm!

[2017-08-25 21:18] #121 closed

[2017-09-15 15:26] mhamilton723 commented on #80
THis should be availible now that the parameter is a CNTKModel

[2017-09-15 15:26] #80 closed

[2017-09-15 15:26] mhamilton723 commented on #78
Done and in Master

[2017-09-15 15:26] #78 closed

[2017-09-15 15:27] drdarshan commented on #12
We have this as of PR #115

[2017-09-15 15:27] #12 closed

[2017-09-15 20:27] akshaya-a opened #133 "MMLSpark model.save changes dfs working directory"
With the following diagnostic code,

    hdi_wd = get_hdispark_working_dir()
    print("AFTER STATS TRANSFORM, BEFORE WRITE")
    print(hdi_wd)

    # save model
    model.save("outputs/aot-mmlspark.model")
    hdi_wd = get_hdispark_working_dir()
    print("AFTER WRITE")

AFTER STATS TRANSFORM, BEFORE WRITE
wasb://**snip**/testhdi_1505503317753
Running HDI/Spark job in wasb://**snip**
AFTER WRITE

[2017-09-16 16:44] mhamilton723 commented on #133
hhmmm, thats odd because looking at the save code there doesn't seem to be any directory changing smoking guns. Is this a blocking issue?

[2017-09-20 18:19] #133 closed

[2017-10-03 20:45] elibarzilay commented on #85
@KlausSchaefersAtWork -- have you tried the above?

[2017-10-03 20:56] drdarshan commented on #88
Resolved as of PR #134

There is now an example in the notebook showing structured streaming. Please reopen if you'd like something more.

[2017-10-03 20:56] #88 closed

[2017-10-15 22:13] #112 closed

[2017-10-16 04:19] alg-jmx commented on #63
why mmlspark hasn't more example using scala? I'm more interesting in scala with spark in mmlspark~

[2017-10-16 10:59] alg-jmx opened #155 "I want to know how to get a DNN model using mmlspark"
I has seen many examples with loading DNN model,But I want to know how to get a DNN model using mmlspark?

[2017-10-17 01:42] mhamilton723 commented on #155
Hey, I'm not quite sure what you mean by "get a DNN model", we curate a collection of pre-trained models you can download, use, and inspect in the `ModelDownloader` class. You can also train your own CNTK model or grab a model from that repo and bring it into the spark ecosystem.

[2017-10-17 01:42] #155 closed

[2017-10-17 01:43] mhamilton723 opened #158 "Document Pip install"
- Is this currently possible
- If so how
- This might make the lives of those using pycharm easier

[2017-10-17 06:00] alg-jmx commented on #155
I just want to know how to get my own training CNTK model. Is there any demos?

[2017-10-17 15:00] mhamilton723 commented on #155
https://github.com/Microsoft/CNTK/blob/v2.2/Examples/Image/Classification/MLP/Python/SimpleMNIST.py

here is an example of training a model in CNTK. Once this model is trained you can save it to HDFS or a local file, then point the MMLSpark CNTKModel to it so that it can load it and execute it in parallel for deployment. Hope this helps!

[2017-10-17 15:14] imatiach-msft commented on #155
you can also train with an attached GPU VM to spark with CNTKLearner, see here:
https://github.com/Azure/mmlspark/blob/gpu/docs/azure-setup.md
you will need to setup the GPU branch though, which we will be releasing to master soon.

[2017-10-17 15:16] imatiach-msft commented on #155
you can see the example here:
https://github.com/Azure/mmlspark/blob/gpu/notebooks/gpu/401%20-%20CNTK%20train%20on%20HDFS.ipynb
We will also soon be adding a parquet reader to CNTK with a new example

[2017-10-20 11:34] KlausSchaefersAtWork commented on #85
Hi,

I took the latest dependency from maven central...

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.quant-ux</groupId>
    <

[2017-10-24 19:24] sujitbiswas opened #166 "are there in any scala examples"
Are there in any scala examples, or scala notebooks, databricks or Apache Zeppelin etc

[2017-10-24 22:14] imatiach-msft commented on #85
I don't believe 0.6 version exists, see here:
https://mvnrepository.com/artifact/Azure/mmlspark
The latest version is 0.9, so I would recommend using that:
https://mvnrepository.com/artifact/Azure/mmlspark/0.9

[2017-10-24 22:15] imatiach-msft commented on #85
@KlausSchaefersAtWork can you try my suggestion and let us know if the newer version in maven central works for you?

[2017-10-25 10:01] elibarzilay commented on #85
I'm not sure what's wrong exactly, but in general, we have no early packages (definitely not 0.6) on maven central itself, I think that it went on there later as part of the spark package uploads.  But if you're specifying our maven url as a repository, then it should exist there.

[2017-10-25 18:17] imatiach-msft commented on #14
This issue is resolved by the randomized grid search hyperparameter tuner (with cross validation)

[2017-10-27 17:15] imatiach-msft opened #173 "Add LightGBM learners to MMLSpark"
Add LightGBM learners to MMLSpark as spark Estimators and Transformers

[2017-10-28 13:55] drdarshan commented on #166
Hello @sujitbiswas, great suggestion! We've had this on our backlog. I'll work on porting some of our PySpark example to Scala.

Thanks.

[2017-10-29 19:27] drdarshan commented on #158
Closing issue.

[2017-10-29 19:27] #158 closed

[2017-10-31 18:02] elibarzilay commented on #85
Something that came up now when @mhamilton723 was entering the coordinates of a build: the artifact id for the maven coordinates should be `mmlspark_2.11`.

[2017-11-01 20:16] mhamilton723 commented on #166
@sujitbiswas are there any things that you would specifically like to see examples of in scala? That way we can target your needs first. Also to get you unblocked in the meantime our tests for each estimator are written in scala and show simple and canonical use cases.

[2017-11-01 20:17] mhamilton723 commented on #72
This is no longer in the code as part of the streaming functionality pr

[2017-11-01 20:17] #72 closed

[2017-11-02 13:34] sujitbiswas commented on #166
@drdarshan @mhamilton723 thanks for the response, preferably if you start with RNN / LSTM examples, or feel free to follow the python notebook examples.

[2017-11-08 20:11] elibarzilay opened #183 "GPU Work"
- [ ] `README.md` link to the 401 notebook as a demonstration of the GPU functionality.
- [ ] Possibly figure out a way to still include the 401 notebook so it's visible.
- [ ] Add to the release procedure an item for testing the 401 notebook.

[2017-11-11 06:04] elibarzilay opened #185 "Add a notebook to demonstrate `TextPreprocessing`"

[2017-11-11 15:06] elibarzilay opened #186 "Find the problem with ComputeModelStatistics in NB 104"
Find why the two commented cells with ComputeModelStatistics take so much time and fix it in some better way.

[2017-11-14 14:12] elibarzilay opened #187 "Additional R wrappers work"
- [x] Documentation
- [ ] Tests (this will also require adding R to the stuff that gets installed on dev environments.)

[2017-11-14 14:16] elibarzilay opened #188 "Notebooks for R wrappers"
Notebooks demonstrating R code.

[2017-11-17 18:23] mhamilton723 commented on #70
One potential structure could have

-src
     - stages
          - image
          - text
     - udfs
     - plot
     - fuzzing
     - codegen
     - io

[2017-12-04 04:18] mhamilton723 commented on #187
Also Documentation for R wrappers is needed!

[2017-12-04 04:19] mhamilton723 commented on #95
@elibarzilay has this been adressed?

[2017-12-04 04:20] mhamilton723 commented on #85
@elibarzilay can this be closed?

[2017-12-06 11:09] elibarzilay commented on #85
Likely stale.

[2017-12-06 11:09] #85 closed

[2017-12-14 04:33] mhamilton723 opened #193 "Make sklearn dep optional"

[2018-01-11 02:29] dciborow opened #201 "Missing Power BI URL breaks local tests"
This should probably be turned off by default in the tests and only run if the required parameters are set.

[2018-01-16 16:14] dciborow opened #208 "Code Gen does not autogenerated Evaluators"
When trying to add a new Evaluator, the python class is not autogenerated.

[2018-01-16 20:00] #201 closed

[2018-01-19 05:26] David082 commented on #173
Where can I found the package com.microsoft.ml.lightgbm？

[2018-01-19 17:36] #14 closed

[2018-01-19 21:03] elibarzilay opened #214 "src/cntk-train/src/main/scala/*Builder*"
- [ ] Should use immutable classes with constructor arguments instead of `setFoo`s.
- [ ] Rename `printOutput` -> `runWithOutput`
- [ ] Go over bogus quotes in `CommandBuilders.scala`

[2018-01-22 19:57] mhamilton723 opened #215 "Make Python Wrappers for Hyperparameters"

[2018-01-25 14:55] imatiach-msft commented on #173
Hi @David082,
We will be uploading it to maven central as soon as we are done.  It is currently in a private repository.
Thank you, Ilya

[2018-01-30 06:19] dciborow opened #225 "Python AutoGen does not append "_" to nested classes."
I have a program...
ALS.scala:
class ALS {}
@InternalWrapper
class ALSModel {}

I have methods in a program called
ALSModel.py

In _ALS.py
def _ALS(self):
def ALSModel(self):

Which is conflicting with the name in my provided .py.

[2018-02-01 05:01] imatiach-msft commented on #215
this will be fixed by #232

[2018-02-01 05:37] imatiach-msft commented on #173
@David082 I have checked in the code to generate the SWIG wrappers into the LightGBM repo.
To build, you just need to run:

mkdir build ; cd build
cmake -DUSE_SWIG=ON ..
make -j4

This will generate a jar file containing the LightGBM c_api wrapped by SWIG.
You will need to load the native .so files as in the lightgbm branch before calling into the Java API.
I am currently working on the LightGBM e

[2018-02-06 22:04] imatiach-msft commented on #173
@David082 LightGBM is now available in maven central:
https://repo.maven.apache.org/maven2/com/microsoft/ml/lightgbm/lightgbmlib/
You can import it with sbt via:
"com.microsoft.ml.lightgbm" %  "lightgbmlib" % "2.0.120"

[2018-02-08 06:33] dciborow opened #236 "Can not install R packages on DataBricks, different expected folder structor."
On Databricks to add an R library I enter to items. URL and package name.

https://mmlspark.azureedge.net
mmlspark-0.10.dev24+145.g6c0cdfcc6.zip

It then creates  a URL
https://mmlspark.azureedge.net/web/packages/mmlspark-0.10.dev24%2B145.g6c0cdfcc6.zip

But, my R package is at...
https://mmlspark.azureedge.net/rrr/mmlspark-0.10.dev24+145.g6c0cdfcc6.zip

[2018-02-09 06:11] David082 commented on #173
Thank you!

[2018-02-09 15:17] imatiach-msft opened #239 "Fix sparklyr wrappers regressions for new version of sparklyr"
The newest version of sparklyr does not have ml_model function anymore.  The fix would be in the code generation.

[2018-02-09 16:56] ezerhoun commented on #173
Hello,

I saw that `LightGBMClassifier` has been added [LightGBMClassifier](https://mmlspark.azureedge.net/docs/0.10.dev26+4.g8fa9cc3a4/pyspark/LightGBMClassifier.html) Do you plan to add also a LightGBMRegressor ?

Thank you very much

[2018-02-09 17:10] imatiach-msft commented on #173
Yes, I will add a separate LightGBMRegressor in the near future, I think it should be trivial.  I'm also going to extend the current classifier to support multiclass in addition to binary labels, this should be easy to do as well.  Adding the ranker may take some planning and thought though in order to make it fit into the spark ecosystem.

[2018-02-09 17:28] ezerhoun commented on #173
@imatiach-msft Thank you !

[2018-02-12 04:06] imatiach-msft commented on #215
Closing as PR #232 has been merged

[2018-02-12 04:06] #215 closed

[2018-02-12 04:06] imatiach-msft commented on #239
Closing as PR #240 has been merged

[2018-02-12 04:06] #239 closed

[2018-02-12 04:07] imatiach-msft commented on #186
closing as PR #237 has been merged

[2018-02-12 04:07] #186 closed

[2018-02-13 23:35] mhamilton723 opened #243 "UDFtransformer should not extend HasInputCol and HasInputCols"
This is a bit confusing and will cause complications if both parameters are independently set. Try extending the latter and adding custom setters in scala and py side

[2018-02-15 08:05] troszok commented on #173
@imatiach-msft great job with the classifier, thank you very much! We are waiting now for the regressor as well.

[2018-02-16 22:10] elibarzilay opened #247 "Get rid of `getEnv` and all `System.getenv`"
More generally switch to using `sys` instead of `System`.

Specifically: `src/core/env/src/main/scala/EnvironmentUtils.scala`

[2018-02-21 18:19] imatiach-msft commented on #173
@troszok Thanks!  The classifier has been checked in and I have created a PR to add the regressor here:
https://github.com/Azure/mmlspark/pull/249

[2018-02-21 19:14] gopitk opened #250 "Pl update coordinate for MMLSpark in Databricks section"
Looks like the coordinate structure has changed. In the Databricks section on the README.md it is still showing the old structure.

[2018-02-24 20:55] drdarshan commented on #250
Updated, thanks for pointing this out.

[2018-02-24 20:55] #250 closed

[2018-02-27 21:11] imatiach-msft commented on #173
@troszok the LightGBM regressor has been merged into master, we would love to hear any feedback you might have for the interface and the parameters we currently expose - in my testing the learner was 10-30% faster in execution time than spark's GBTClassifier and had 15% better AUC on the Higgs dataset

[2018-03-02 07:43] ezerhoun commented on #173
@imatiach-msft Thank you for adding LightGBM regressor !

I am trying to train a LightGBM Quantile regressor. However, I don't see how to pass the quantile parameter (`alpha` parameter in LightGBM). Do you have an example of how to do it ?

[2018-03-02 19:55] imatiach-msft commented on #173
@ezerhoun thank you for the great feedback!  I've created a PR which adds the alpha parameter for lightGBMRegressor and a pyspark notebook example for how to use lightGBM with quantile regression:
https://github.com/Azure/mmlspark/pull/254
It's currently in code review.
If you need to add more params but can't wait for us to add them to the learner you can also put the param=value inside the "appl

[2018-03-03 21:29] ezerhoun commented on #173
@imatiach-msft Thank you for your quick reply and PR !
Moreover, I have couple of other questions:
- I would like to use the `jar` produced by a PR, but after the PR being merged, the `jar` is deleted. Do you have an existing jar in https://mmlspark.azureedge.net/maven which contains the lastest code (`SNAPSHOT`) ?
- Will it be possible to save a LightGBM model and load it using the python or java

[2018-03-05 14:42] imatiach-msft commented on #173
@ezerhoun Is the scenario to train in spark but score in a java environment?  In that case, I think it is possible
1.) For now, you can use the maven coordinates that are produced through the build but you will need to add our resolver or repository (https://mmlspark.azureedge.net/maven) -- as soon as we have a new release you will be able to use coordinates from maven central as explained in the

[2018-03-05 16:10] imatiach-msft commented on #173
@ezerhoun for now, you can use the following options when running spark:
--packages com.microsoft.ml.spark:mmlspark_2.11:0.11.dev31+1.gf23ab7852
--repositories https://mmlspark.azureedge.net/maven
please let me know if you have questions or comments

[2018-03-05 16:55] ezerhoun commented on #173
@imatiach-msft Thank you for your replies . Indeed the idea would be to train in Spark and test in Java.
I don't know if it is the right place to ask but I have the following error :

[code]
Should I do as in [LightGBM Parallel Learning Guide](https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html) and create a `mlist.txt`

Thanks !

[2018-03-05 17:08] imatiach-msft commented on #173
@ezerhoun this might be a bug -- do you see this line printed out:
log.info(s"Nodes used for LightGBM: $nodes")
What do you see as the nodes?  It should contain a list of hostname:port which is used to initialize lightgbm when calling NetworkInit.  Are you running this on a spark cluster or a VM?  What is the spark cluster setup?  Currently I am retrieving the nodes in getExecutors(...) method via

[2018-03-05 17:17] imatiach-msft commented on #173
@ezerhoun just to note in case it wasn't clear, the error you are seeing, specifically:
"Network init call failed in LightGBM with error: Machine list file doesn't contain the local machine"
Is coming from this call in the scala code:
LightGBMUtils.validate(lightgbmlib.LGBM_NetworkInit(nodes, localListenPort,
        LightGBMConstants.defaultListenTimeout, numNodes), "Network init")
In the file Tr

[2018-03-05 17:34] imatiach-msft commented on #173
The logs should look something like this (taken from my logs on a spark HDI yarn cluster):

18/03/05 17:32:08 INFO LightGBMClassifier: Nodes used for LightGBM: 10.0.0.10:12401,10.0.0.11:12410,10.0.0.13:12403,10.0.0.14:12406,10.0.0.15:12407,10.0.0.16:12404,10.0.0.17:12408,10.0.0.18:12405
--

[2018-03-05 22:43] imatiach-msft commented on #173
@ezerhoun I believe I have figured out the issue, there was a bug in my new code.  I've created a new build, will send you the new package when it is finished.

[2018-03-06 02:04] imatiach-msft commented on #173
@ezerhoun the fixed package is:
--packages com.microsoft.ml.spark:mmlspark_2.11:0.11.dev31+1.g4ad3176c9
--repositories https://mmlspark.azureedge.net/maven.

[2018-03-06 09:41] troszok commented on #173
@imatiach-msft  great news!!! I forgot to check the progress here. We will try to do POC with new model and we will let you know!

[2018-03-06 12:16] ezerhoun commented on #173
@imatiach-msft I tried the new package and I still have the same problem.

[2018-03-06 14:29] imatiach-msft commented on #173
@ezerhoun could you give me information about your cluster setup?  I have validated the following scenarios:
1.) Local tests (running under local[*])
2.) Running on HDI with yarn and # partitions < # executors (this was failing before the latest PR)
3.) Running on HDI with yarn and # partitions >= # executors (this worked before but my PR broke it yesterday, and I fixed it with the latest package

[2018-03-06 14:38] imatiach-msft commented on #173
@ezerhoun it might be faster to discuss over skype.  You can email:
mmlspark-support@microsoft.com
and I can send you a link to a skype meeting

[2018-03-16 01:07] #193 closed

[2018-03-16 01:08] mhamilton723 commented on #173
@imatiach-msft should this be closed?

[2018-03-16 09:59] iainmillar23 commented on #173
Any idea when the mmlspark v0.12 that includes the new LightGBMClassifier will be released to maven central?

[2018-03-16 17:28] elibarzilay commented on #173
@iainmillar23 Hopefully by Monday (ish).

[2018-03-16 18:54] imatiach-msft commented on #173
@mhamilton723 I think we can leave this open for now, maybe for at least 2 release cycles, since I would still like to add multiclass classification and possibly the ranker

[2018-03-21 14:28] ekaterina-sereda-rf commented on #173
Hi!

I tried to use this packages and was not successful on downloading dependency. Did something change?

[2018-03-21 17:26] elibarzilay commented on #173
We're going to release 0.12 very soon, it'll have that with more thing.
(It got delayed with some technical issues.)

[2018-03-21 18:14] elibarzilay opened #268 "`/tmp` cleanups"
There are still a pile of stuff left in `/tmp`, all directories.  The offending name patterns that need to be clean up are:

- [ ] `SavedModels-<N>` (I just cleaned almost 19 *thousand* of these)
- [ ] `MML-Test-<N>` (about 700)
- [ ] `MML-Test-<N>powerBI.parquet` (about 160)

Most of these are empty directories, so perhaps there is some broken cleanup that removes files but not the directories.

[2018-03-21 19:37] mhamilton723 opened #269 "Ensure CNTK model has no race conditions for old streaming API"

[2018-03-21 20:53] mhamilton723 commented on #268
Check the test base for that logic

[2018-03-22 12:07] ekaterina-sereda-rf commented on #173
Thank you, waiting for that!

[2018-03-26 17:27] mhamilton723 opened #273 "Improve Benchmark Test Utility"
This functionality

- [ ] should not rely on modifying a list buffer (make it functional)
- [ ] Not rely on string comparisons
- [x] Not rely on specific running directories (This is modified int the refactor the build PR)
- [ ] Us standard spark CSV saving and loading
- [ ] Hook into scalatest in a meaningful way either through a specific type of test, or a mixin that applied to all of the cases

[2018-03-29 11:00] ekaterina-sereda-rf commented on #173
Hi! I have one more question. I found development version that you posted earlier, but now i faced problem, that i can't pass all parameters that i need.
`max_bin, bagging_fraction,bagging_freq,bagging_seed,feature_fraction,max_depth,min_sum_hessian_in_leaf`
i tried to change your code, and added them to parent parameter list to the `trait LightGBMParams`. so i see parameters set now, but i don't

[2018-03-31 06:15] Ragavenderan commented on #173
Can we train this in Azure batch?

[2018-04-03 09:59] mayank77 opened #278 "MMLSpark Pandas Issue"
I am trying to use the real-time web service on Azure mentioned in : https://docs.microsoft.com/en-us/azure/machine-learning/preview/tutorial-classifying-iris-part-3

and run this command : az ml service run realtime -i <web service ID> -d "{\\"input_df\": [{\\"petal width\\": 0.25, \\"sepal length\\": 3.0, \\"sepal width\\": 3.6, \\"petal length\\": 1.3}]}"

Using : baseDockerImage: "microsoft/mm

[2018-04-03 12:54] #278 closed

[2018-04-03 12:57] mayank77 commented on #278
Seems like it refers to an incorrect schema. The error message wasn't clear enough on this. My first instinct was to look at : https://tmiguelt.github.io/PandasSchema/index.html#

[2018-04-06 15:05] imatiach-msft commented on #173
@peay this should supposedly not be an issue if you are using the LightGBMClassifier or LightGBMRegressor -- from here we get all "executor:ports" and pass that to the network init method in LightGBM:

https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala#L57

so supposedly if you have two executors on the same VM you should be using the same executor ip add

[2018-04-06 15:08] imatiach-msft commented on #173
"I gave the bindings a try"

@peay sorry, maybe I misunderstood, are you specifically using the scala learners or the Java bindings from the LightGBM maven artifact directly?
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMClassifier.scala
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMRegressor.scala

[2018-04-12 15:28] ekaterina-sereda-rf commented on #173
@imatiach-msft sorry for long absence. So here is my changes
https://gist.github.com/ekaterina-sereda-rf/b7b718da8a14f755b2dfcea62cf54123
Question is - is it enough to pass it engine? (of course I set them in my code after it)
And also I have question about performance. Do you have some statistic about how long should model should train on different amount of data, with different params so on?
p.s

[2018-04-12 15:41] imatiach-msft commented on #173
@ekaterina-sereda-rf this looks great!  Note you will need to pass those params to the underlying LightGBM C++ api here (similar to the other parameters):
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/TrainParams.scala#L15
If you like I can create a pull request with your changes, but if you are interested in doing this you can also contribute, you just need to fork the

[2018-04-12 15:51] imatiach-msft commented on #173
@ekaterina-sereda-rf one nit-pick, could you remove the "_" in the parameter names to be consistent with the other parameters?
Also, for your question about performance, I've only tested this on the Higgs dataset as was recommended by @guolinke, and the results showed that LightGBM was faster than GBTClassifier by 10-30% and had a better AUC by 15%.  I'm sure we will need to do more performance te

[2018-04-12 17:33] katerinagl commented on #173
Thank you for your answers! yes, I did not add it to trainParams before, so I think it will help. I created PR https://github.com/Azure/mmlspark/pull/282 , please have a look and let me know if I need to fix something.
And about performance I'll let you know when will have fresh results.

[2018-04-13 19:42] mhamilton723 commented on #273
#284

[2018-04-17 07:01] peay commented on #173
Ah, I see -- I was a bit too quick to assume executor collisions then: the fact that executors were running on the same node may have been a coincidence.

I've investigated a bit more, and here is a more accurate description of what I run into:

- I load and persist some data with Spark
- Call `mmlspark.LightGBMRegressor` (from Python)
- A job is scheduled, with a couple dozens of `persist` stages

[2018-04-17 14:39] imatiach-msft commented on #173
@peay one possibility is that port number, 12400, is actually in use - currently there is no logic to find open ports on the workers and each worker just opens port ("defaultListenerPort" + executor_id), this parameter is defined here:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMParams.scala#L19
And the logic to calculate the port number is here:
https://githu

[2018-04-17 14:51] imatiach-msft commented on #173
@iainmillar23 @ekaterina-sereda-rf v0.12 has been released for spark 2.2.1 if you want to try it out

[2018-04-17 14:53] imatiach-msft commented on #173
@peay I'm going to try to reproduce it today, would you be able to give me your yml file too?  I will try to create the cluster on AKS (I've been using HDInsight so far for testing).

[2018-04-17 16:07] iainmillar23 commented on #173
Does v0.12 required Spark 2.2.1 or will it work with Spark 2.1.0?

[2018-04-17 16:32] imatiach-msft commented on #173
@iainmillar23 It should work with 2.1.0, although our source code is using 2.2.1 they are backwards compatible.
However once we move to 2.3.0 it won't be because OneHotEncoder was changed to OneHotEncoderEstimator.

[2018-04-17 16:34] imatiach-msft commented on #173
@iainmillar23 @ekaterina-sereda-rf sorry, it looks like we haven't yet uploaded to spark packages, we will be doing that later today - so some of the installation instructions might not work yet.

[2018-04-17 16:37] imatiach-msft commented on #173
@peay I tried the latest 0.12 on HDInsight with LightGBMClassifier on Higgs dataset and it worked fine, I'm still trying to create the AKS cluster.  One useful log to look for in the yarnui might be the list of nodes and ports:

18/04/17 16:03:48 INFO LightGBMClassifier: Nodes used for LightGBM: 10.0.0.10:12454,10.0.0.11:12458,10.0.0.13:12453,10.0.0.14:12451,10.0.0.14:12459,10.0.0.15:12455,10.0.0.

[2018-04-17 18:42] imatiach-msft commented on #173
@iainmillar23 @ekaterina-sereda-rf the spark package has been uploaded, so the release is complete, in case you want to try out LightGBMClassifier/Regressor

[2018-04-17 19:52] ekaterina-sereda-rf commented on #173
@imatiach-msft Thank you very much :) already tried it today. and have new questions.
1. in general, seems we also saw  `Network init call failed in LightGBM with error: Binding port 12400 failed
	at com.microsoft.ml.spark.LightGBMUtils$.validate(LightGBMUtils.scala:16) ` in some cases, when we used more then one machine - but I can't describe conditions now.(will do if i see it again)
2. [Here](h

[2018-04-17 20:12] ekaterina-sereda-rf commented on #173
And one more thing. Do you have some insights about memory usage? for example i have 10gb of data for training and 100 features - how much memory should i have to finish training?(i don't know if i formulated correctly, i understand that there is a lot of factors, but if you have some examples that you can share - it could really help me)

[2018-04-17 20:42] imatiach-msft commented on #173
@ekaterina-sereda-rf yes memory usage is definitely an issue, as the data needs to be copied to lightgbm into native code in order to train the distributed learner - so basically we create a second copy of the dataset on each partition.  I assume the 10 GB dataset would use about 10 GB memory for spark and another 10 GB memory for lightGBM, so approximately 20 GB of data.  Are you seeing any memor

[2018-04-17 21:15] imatiach-msft commented on #173
@ekaterina-sereda-rf yes, currently I am parallelizing by number of executors.  Performance may be improved more by parallelizing by number of cores.  In my testing I used a cluster with one core per executor.  I discussed with @mhamilton723 and it sounds like one executor can process multiple partitions at once on all threads.  If that is the case then when doing network init we can pass each thr

[2018-04-18 21:10] katerinagl commented on #173
Hi :) so, i run training, on pure your code (without my changes). i have no data prep - i have ready data with features and load it from parquet, it's only step on my side. i have 1 executor with 400gb of ram and 64 core, and for last 5+ hours i see this line in logs. `INFO LightGBMRegressor: LightGBM worker listening on: 12450` - so as i see iterations even did not start. for sure as we discuss a

[2018-04-18 21:11] katerinagl commented on #173
@iainmillar23 i use this resolver - and v0.12 was loaded `resolvers += "MMLSpark Repo" at "https://mmlspark.azureedge.net/maven"`

[2018-04-19 03:46] imatiach-msft commented on #173
@katerinagl @iainmillar23 it should eventually be in maven central like the other versions here:
https://mvnrepository.com/artifact/Azure/mmlspark
@elibarzilay I believe all spark packages are added to maven central, is this correct?  It may take an extra day or so for it to show up as we just released a day ago.

[2018-04-19 03:56] imatiach-msft commented on #173
@katerinagl interesting, I'm guessing there must be a bug.   I would need to reproduce the issue somehow to understand what is going on.  If you use a smaller dataset do you see the same behavior?  Our sample notebooks in the docker run on a single core so LGBM would fail in those, and I do have some tests (the fuzzing tests) that run on a single executor:
https://github.com/Azure/mmlspark/blob/ma

[2018-04-19 10:34] julioasotodv opened #290 "LightGBMClassifier on OSX"
I believe that the mmlspark jar pushed for spark packages (version 0.12) has C libraries inside, and perhaps are just .so files for Linux.

Therefore, when using LightGBMClassifier on spark on OS X, the following error is raised:
[code]
Given that IMO the best idea is that every user builds is own LightGBM with the SWIG wrapper (just to avoid creating multiple jars for every mmlspark version and O

[2018-04-19 16:18] sosmond opened #291 "Java 7 support"
Java 7 is deprecated as of Spark 2.0 but not dropped until Spark 2.2. As mmlspark specifies Spark 2.1+, it should support Java 7. This would be very helpful to users who want to take advantage of mmlspark on Spark 2.1 but can't upgrade Java, for example if they don't have privileges to install on their firm's Spark cluster.

Currently trying to train a LightGBM classifier will give this error if y

[2018-04-19 21:30] imatiach-msft commented on #290
@julioasotodv sorry, we only test running spark on linux right now (windows and OS X are currently not tested).  I added the SWIG Java wrappers to LightGBM, the logic to construct the jar file, and built and uploaded the jar to maven central.  Prior to uploading to maven I should probably build lightGBM on OS X and add the related osx/x86_64/lib_lightgbm.dylib files to the jar.

[2018-04-19 21:32] imatiach-msft commented on #290
@julioasotodv Sorry, could you please elaborate more on:
"Perhaps it is better idea to add com.microsoft.ml.lightgbm as a "by hand" requirement before installation, and remove it from mmlspark dependencies?"
Sorry, I'm not sure what you mean by a by-hand requirement?  It needs to be a dependency because the lightGBM classifier and regressor depend on the package.

[2018-04-19 21:33] imatiach-msft commented on #173
@katerinagl @iainmillar23 the package is in maven central now - you can see v0.12 there now:
https://mvnrepository.com/artifact/Azure/mmlspark
It seems it just takes a couple of days.

[2018-04-20 04:50] imatiach-msft commented on #173
@katerinagl @peay @ezerhoun  I tried running lightGBM in an azure databricks cluster with a configuration of 3 worker nodes, 3 executors and 8 cores per executor.  I was hoping to reproduce the problem with network init by running multiple cores per executor (as opposed to HDI case where there was 1 core per executor) but LightGBM completed.  However, I found that it was 2X slower than GBTClassifi

[2018-04-20 06:27] katerinagl commented on #173
Hi:) so when i run multiple executors on one machine i run into the problem with ports, so i need to change this moment, and bind as many addresses as many executors i have. this works. but when i split one machine into, several executors, i fell in problems with memory.
so for me is still big question what is the difference from algorithm/calculation perspective when i run several executors or i

[2018-04-20 14:58] imatiach-msft commented on #173
@katerinagl I've put the azure databricks and HDInsight notebooks here for the Higgs dataset in my branch (note I will not be checking these in):
https://github.com/imatiach-msft/mmlspark/tree/ilmat/higgs-notebooks/notebooks/higgs
You can get the Higgs csv dataset here:
https://github.com/guolinke/boosting_tree_benchmarks/tree/master/data
Specifically this link:
https://archive.ics.uci.edu/ml/data

[2018-04-20 15:26] elibarzilay commented on #173
Yes, I think that spark packages will put the jar file into maven central, but probably not the lightgbm thing?

[2018-04-20 15:30] imatiach-msft opened #292 "Improve lightGBM performance on clusters with multiple cores per executor"
Currently lightGBM classifier and regressor underutilizes clusters that are configured with multiple cores per exector - I've created this issue to track this

[2018-04-20 15:32] imatiach-msft commented on #173
@katerinagl the length of this thread is quite long, and I'm now noticing some performance issues on github.  I've created a separate thread to track the performance issues with lightGBM when using clusters configured with multiple cores per executor here:
https://github.com/Azure/mmlspark/issues/292
I would also like to eventually get a repro of the network init failures some people are having, b

[2018-04-23 02:54] ericwang915 opened #293 "Load LightGBM native model"
Hello, team, I have a lightgbm model trained using python lightgbm pkg and would like to load the model and use it in spark for streaming purpose.

Do your guys know how to load the existing “txt” or “lgb” model using scala in mmlspark? I tried to read all the documents but cannot find a clue.

By the way, please also provide a scala example for us to learn about how to using lightgbm in scala？ Si

[2018-04-25 07:14] troszok commented on #292
@imatiach-msft I also have this problem - do you need some more information? Or you reproduced the problem already in your environment?

[2018-04-25 13:54] imatiach-msft commented on #292
@troszok I have a repro in an Azure Databricks cluster I created, I'm still investigating, I just need to figure out how to retrieve the number of cores per executor in an efficient way prior to the NetworkInit of lightGBM (which requires a list of host:port values, so all of the workers need to be known ahead of time - note for multiple threads you can have duplicate host addresses with different

[2018-04-27 00:45] little-eyes opened #294 "LightGBM save booster to file"
Hi,

How can I save the booster to the txt file like the scikit-learn version?

[code]

Thanks.

[2018-04-28 08:44] lppsuixn opened #295 "LightGBM error java.lang.NoClassDefFoundError: Lcom/microsoft/ml/lightgbm/SWIGTYPE_p_void;"
start a spark shell
[code]
and code like this
[code]

[2018-04-30 08:48] troszok commented on #292
@imatiach-msft great - let me know how can I help here I can do some testing with our data

[2018-04-30 14:35] imatiach-msft commented on #292
@troszok I've created a PR here:
https://github.com/Azure/mmlspark/pull/296
I'm still testing the fix, but the results so far look promising - it looks like it is using all cores now.

[2018-04-30 23:39] little-eyes commented on #294
Thanks @mhamilton723, I will contact Ilya.

[2018-05-01 03:34] imatiach-msft commented on #295
@lppsuixn @mhamilton723 it looks like the native so's are not getting loaded, is this being run on a linux machine?

[2018-05-01 04:48] imatiach-msft commented on #292
@troszok @katerinagl  @peay @ezerhoun I was able to benchmark the new classifier on the Higgs dataset in an Azure Databricks cluster with 3 executors, 8 cores per executor and LightGBM now took 1.36 minutes while GBTClassifier took 2.67 minutes, although LightGBM still had a better AUC (whereas previously, LightGBM took more than 5 minutes prior to the optimization).
If you are interested, you can

[2018-05-01 06:45] troszok commented on #292
@imatiach-msft awesome, thanks! We will give it a try this week.

[2018-05-01 12:50] lppsuixn commented on #295
@imatiach-msft yes.it's ubuntu16.04 .And do you have any  suggestion for this?Thanks.

[2018-05-02 02:17] clgsnail opened #297 "Exception in thread "main" java.lang.UnsupportedClassVersionError: com/microsoft/ml/lightgbm/SWIGTYPE_p_void : Unsupported major.minor version 52.0"
hi, everybody!
I use mmlspark to get a classifier model, and the parameters of environment are:

`spark version: 2.1.0
scala version: 2.11.8
default java version: 1.7`

when I run my code, there is a exception:
`at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
        at java.security.SecureClassLoader.defineClass(SecureClassLo

[2018-05-02 14:38] imatiach-msft commented on #297
Hi @clgsnail, unfortunately we only support Java 8 currently.  It would be good to support Java 7 but we currently have higher priority issues/features

[2018-05-05 18:03] alekcei1510 commented on #295
I ended with the same issue when i deploy to my cluster.

[2018-05-05 18:07] imatiach-msft commented on #295
@lppsuixn @alekcei1510 sorry I don't have a repro for this and I'm not sure what could be causing it, other than that the native .so's are not getting loaded - but since you are using a linux machine that should not be an issue

[2018-05-05 18:23] #297 closed, assigned to nobody

[2018-05-06 04:41] alekcei1510 commented on #295
I already know what happens for me, when i export like jar file with the command --jars, the swig pointers doesn´t load the native libreries. But when i load as package it works fine for me.

[2018-05-06 14:44] YangChaoKiKa commented on #295
@imatiach-msft  ,  In my macOS, I was trying to run the test code in the corresponding test directory,
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/test/scala/VerifyLightGBMClassifier.scala#L24 .  I got the exception as follows, I have already read https://github.com/Microsoft/LightGBM/issues/1326 and some others, Still No luck, please help, or tell me how to contribute to this i

[2018-05-07 14:00] imatiach-msft commented on #295
@YangChaoKiKa hi, sorry for any confusion, we currently do not support running LightGBM on mac OSX and windows.  This is something that we are planning to add in the future - basically we just need to compile the binaries (dylib for mac and dll for windows) and add them to the jar that is published to maven in the corresponding /osx/x86_64/*.dylib or similar for windows folder.

[2018-05-10 23:15] dvanasseldonk opened #301 "pyspark RandomForestClassifier featureImportances"
Hi team,

Is it possible to retrieve featureImportances from pyspark RandomForestClassifier when using TrainClassifier from mmlspark.

Something like this?

model = TrainClassifier(model=RandomForestClassifier(numTrees=20, maxDepth=20), labelCol="Click",
            numFeatures=100
                ).fit(train)

print(model.featureImportances)

[2018-05-10 23:43] dvanasseldonk opened #302 "Retrieving model hyperparameters"
Hi team,

Can you advise how to retrieve model hyperparameters from logistic regression after using FindBestModel?

My current code is:

logisticRegressions = [LogisticRegression(regParam = hyperParam)
                        for hyperParam in lrhyperParams]
lrmodels = [TrainClassifier(model=lrm, labelCol="Click", numFeatures=256).fit(train)
                        for lrm in logisticRegressions]

[2018-05-11 14:49] imatiach-msft commented on #292
@troszok you can try:
--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev6+1.gb8de8c3
--repositories https://mmlspark.azureedge.net/maven
But if the previous build was still slower than expected then I'm not sure what is wrong.  Can you post your example spark code?  Did you try to use both the GBTClassifier and LightGBMClassifier as a comparison, and what were your approximate times?  Did yo

[2018-05-11 15:25] imatiach-msft commented on #302
@dvanasseldonk thank you for the feedback!  You are correct, those methods are available only on the scala side and not generated automatically on the python side.
We should eventually expose the methods on the models written in scala in the python generator automatically, but for now you can use this:

from py4j.java_gateway import java_import
from pyspark.ml.common import _java2py
java_import(sc

[2018-05-11 15:30] imatiach-msft commented on #292
@troszok  strange!  I just tried it and it worked for me, and it seems like it is a public container, @mhamilton723 @elibarzilay any ideas what might be going on here - and could we possibly release another version with the performance fix soon (?):

ilya@ilya-Virtual-Machine:~/mmlspark$ spark-shell --packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev6+1.gb8de8c3 --repositories https://mmlspar

[2018-05-11 15:37] imatiach-msft commented on #301
@dvanasseldonk This looks like a good feature to add - there needs to be an easy way to retrieve the underlying model easily in the pyspark API.
if this was in scala you could do:
model.model.stages.last.featureImportances()

[2018-05-11 15:46] troszok commented on #292
@imatiach-msft is it possible that when the PR was merge the artifact was removed and you are just using the file cached on the CDN?

[2018-05-11 15:47] troszok commented on #292
@imatiach-msft yes! when i run it on the server in us-east-1 the package can be fetched just fine (I am based in Europe). Thank you very much!

[2018-05-11 15:52] imatiach-msft commented on #292
@troszok I queued another build from latest master and will post it here once it finishes, hopefully in the next 2-3 hours (as long as the build doesn't fail, we have some random test failures that need to be fixed still)

[2018-05-11 21:14] dvanasseldonk commented on #302
Thanks @imatiach-msft, I'm trying:

print("---getBestModelInfo----")
allmodelmetrics = _java2py(sc, bestModel._java_obj.getAllModelMetrics())
bestmodelmetrics = _java2py(sc, bestModel._java_obj.getBestModelMetrics())
print(allmodelmetrics)
print(bestmodelmetrics)

and receive this output:

---getBestModelInfo----
DataFrame[model_name: string, metric: double, parameters: string]
DataFrame[evaluatio

[2018-05-11 21:16] imatiach-msft commented on #302
@dvanasseldonk
you can just do:
allmodelmetrics.show()
or:
allmodelmetrics.toPandas()

[2018-05-15 16:24] jtfogarty opened #303 "Power 8 Availability"
We are looking to compile mmlspark on our IBM Power 8 server.  Has this been attempted?  We seen postings that mmlspark is for Intel only and not for ppc64le

Thanks

[2018-05-16 02:36] mhamilton723 commented on #301
Thanks for raising this issue, we are hoping to make this API a bit more tightly integrated with sparkML soon!

[2018-05-16 02:40] mhamilton723 commented on #303
Hey @jtfogarty, thanks for trying out MMLSpark. Most of our library should be fairly portable, though these pieces might be the tricky parts:

- CNTK on Spark uses CNTK's JAR which only has natives for linux and windows.
- Some parts of the build rely on bash (though we are trying to move away from this and any PRs in this area would be greatly appreciated!)
- LightGBM on Spark uses their JAR whic

[2018-05-16 09:03] troszok commented on #292
@imatiach-msft it looks like that when it starts it is using all the CPUs but sometimes we are having a problem that our job fails with following stack trace:

[code]

Maybe some timing issue?

As a side note:
- we are running on m5.24xlarge instance
- we use spark 2.2.1
- we are running in standalone cluster mode
- often the driver is running on the same node as the executor(s)

[2018-05-16 13:42] jtfogarty commented on #303
Hi Mark,
Thanks for the response.

We got pass CNTK configuration and dependencies but when we attempt compilation we encountered the below;

 fatal error: x86intrin.h: No such file or directory

Any ideas how to resolve this?

Thanks again.

[2018-05-16 19:30] mhamilton723 commented on #303
Hhhm, I dont have any experience with Power8 myself, but the the CNTK team would be of more help here as this seems to be the blocker. @thiagocrepaldi (who isnt in this repo so I cant link to him) is the current maintainer of the CNTK library and might know more about the feasibility of this and how to unblock you. I would suggest opening up an issue over there
https://github.com/Microsoft/CNTK/is

[2018-05-16 21:49] thiagocrepaldi commented on #303
I am not familiar with development on Power8 as well. Each platform has its own development libs/headers.
Did you try https://stackoverflow.com/questions/11228855/header-files-for-x86-simd-intrinsics?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa ?

From: Mark Hamilton <notifications@github.com>
Sent: Wednesday, May 16, 2018 12:31 PM
To: Azure/mmlspark <mmlspark@noreply.g

[2018-05-17 15:44] dvanasseldonk commented on #301
Thanks guys!

[2018-05-17 15:45] dvanasseldonk commented on #302
Thanks @imatiach-msft!

[2018-05-17 15:45] #302 closed

[2018-05-18 15:29] ekaterina-sereda-rf opened #304 "Featurizer should provide option to pass through missing values as Double.NaN instead of removing rows (currently the default)"
Hi! Using lightGBM I faced another problem. I'm not sure if it is bug or feature :) but in our data we have a lot of empty values, so before we used sparse vector to store features, and it worked fine with our previous lib. But when i tried to use featurizer, that you provide - i mentioned, that you skip all raws if any nulls are presents as a feature. you can see it in example in attachment. So i

[2018-05-18 15:39] imatiach-msft commented on #304
@ekaterina-sereda-rf thanks for bringing this issue up -- yes, the featurizer skips all rows with missing values in the featurizeData method - you can just replace missings with zero values in order to skip them using the CleanMissingData transform we have:
https://github.com/Azure/mmlspark/blob/master/src/clean-missing-data/src/main/scala/CleanMissingData.scala

Here's an example pyspark notebook

[2018-05-18 20:07] troszok commented on #304
@imatiach-msft thanks for fast response. I work together with @ekaterina-sereda-rf on that.
I think the way MMLSpark/LightGBM handles sparse data can be more explicit.

- Print some warning with the reason the data was dropped (this can be time consuming if the dataset is huge, so maybe just print it the first time?)
- Make it more explicit in the documentation how the data needs to be prepared

W

[2018-05-18 22:06] imatiach-msft commented on #304
@troszok I see, yes, we can pass nulls as double.NaN to LightGBM directly based on that documentation file.  It makes sense that the algorithm should be able to handle missings.  In fact, if you don't use my featurizer you should be able to do this directly (you just need to create a vector using VectorAssembler from spark directly for the features column).  Please note LightGBM learner itself has

[2018-05-19 05:28] troszok commented on #304
@imatiach-msft great! Thank you for the explanation - because of all the examples I thought that this is the expected way to use Lightgbm in MMLSpark and there are some limitations.  I think we can close this issue now.

[2018-05-19 19:50] imatiach-msft commented on #304
@troszok this sounds like a limitation in the featurizer we provide:
https://github.com/Azure/mmlspark/blob/master/src/featurize/src/main/scala/Featurize.scala
Perhaps we need an additional option there - so maybe we can keep the issue open for that.  This isn't related to LightGBM learner though.  I'll update the title.

[2018-05-20 11:39] troszok commented on #292
@imatiach-msft looks like increasing the timeout helped in our case. Thanks alot.

My first tests - single executor 96cores (m5.24xlarge) show that we are using more CPU but I suppose there is still something not optimal:
![screen shot 2018-05-20 at 09 21 47](https://user-images.githubusercontent.com/17826/40278490-12dc61f0-5c32-11e8-9ad0-564488a86006.png)

So in total we use >60% of the CPU but ~

[2018-05-24 00:56] mhamilton723 opened #305 "Train Classifier Overwrite does not work on Azure databricks."
in the 101 notebook this line fails if run twice

[code]

yields

[code]

[2018-05-24 03:25] puyvqi opened #306 "mmlspark-0.12 LightGBMClassifier on Spark using scala cannot do multi-classification"
``I just test iris dataset on LightGBMClassifier ,my label column has three distinct values( 1.0 , 2.0 , 0.0 )
but the output of prediction is always two values(0.0 , 1.0)(I just use the training dataset to test).
And i find the booster.numClasses 's value always is 1 ,there seem no way to specify to numclasses(like xgboost) in scala(i didn't find).
And I cannot find any using example for scala ,a

[2018-05-24 03:33] imatiach-msft commented on #306
hi @puyvqi we don't have multiclass classification implemented yet, just binary and regression.  If you really needed it, you could use the OneVsAll classifier from spark ML, but it wouldn't be as fast as using lightGBM directly.  It is on our TODO list to add the multiclass classification.
For scala samples you can take a look at our tests, eg:
https://github.com/Azure/mmlspark/blob/master/src/li

[2018-05-24 03:35] puyvqi commented on #306
thanks! so fast!

[2018-05-24 03:58] imatiach-msft commented on #292
@troszok we shouldn't be underutilizing the CPUs, I wonder if we are still not using all 96 CPUs in your cluster configuration?  Would you be able to send me your YARN UI logs (if you are using YARN), we print out debug for each task per executor that establishes a connection to the driver, so I should be able to tell if all CPUs are used.

[2018-05-25 03:16] mhamilton723 commented on #305
This also occurs with train regressor

[2018-05-25 03:26] mhamilton723 opened #307 "Data Conversion Takes Comma Separated String"
This should take an array of strings instead

[2018-05-25 13:12] troszok commented on #292
@imatiach-msft since we started playing with the training params we succeeded
to have higher load (for the same data and partitioning).  The user space is using  ~50% and the system is using only 10-15%:

These are the params I used today:

[code]
and got this:

![screen shot 2018-05-25 at 14 23 46](https://user-images.githubusercontent.com/17826/40544473-bbd65c44-6028-11e8-9236-145cf4af4f96.png)

[2018-05-25 16:33] imatiach-msft commented on #292
@troszok this is great to hear! I took a look at the logs and they look good to me, I see that there were 95 workers connecting to the driver.  Mainly, I was looking for these strings where the driver is getting information about socket connections from workers:

18/05/25 12:01:05 INFO LightGBMRegressor: driver received socket from worker: 172.33.4.151:12404
18/05/25 12:01:05 INFO LightGBMRegresso

[2018-05-31 07:04] puyvqi commented on #306
I have another problem , i want to get some information of trained model (ie . importance of each feature to the result).Could you help solving this problem?
i find a method called score in com.microsoft.ml.spark.LightGBMBooster,(and think this is what i am looking for) but there is no annotation,I cannot understand its meaning : it receive a Vector and return a boolean. what is the mean of thar v

[2018-06-01 09:23] bigdataexplorer opened #310 "LightGBM feature Importances"
In Spark, we can get the feature importances from GBT and Random Forest. Can we do the same with LightGBM ?

[2018-06-01 11:16] moyanojv opened #311 "mmlspark with Spark on Yarn. (Cloudera)"
We are trying to use mmlspark in a Cloudera environment using Hue pyspark notebooks through livy.
All our efforts have failed and we wonder if this option is possible. The only way we've got it working is to use pyspark without yarn.

Tested but not working:
We have modify Spark 2 Client Advanced Configuration Snippet (Safety Valve) in Cloudera manager to add --packages Azure:mmlspark:0.12 (spark.

[2018-06-01 13:21] icezzzzzz commented on #295
@imatiach-msft Hi, I had also met the same error while I running on spark cluster. How to fix it?

[2018-06-01 13:22] icezzzzzz commented on #295
![image](https://user-images.githubusercontent.com/7145431/40842874-d2862a5a-65e1-11e8-97a2-5ef19420a392.png)

[2018-06-03 16:51] mhamilton723 commented on #292
@imatiach-msft is this issue alright to close?

[2018-06-06 00:36] ywskycn commented on #310
Also looking for same information. Not sure whether LightGBMClassificationModel provides an API for accessing such information.

[2018-06-06 16:53] mhamilton723 commented on #311
Hey @moyanojv , Thanks for reaching out! MMLSpark should be entirely compatible with YARN as we do not rely on a particular scheduler. Are you able to install other Spark Packages on your system? Do you get a particular error message?

[2018-06-08 06:19] ywskycn opened #314 "The accepted parameters for LightGBMClassifier"
Currently LightGBMClassifier only accepts a subset LightGBM params. Params in https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMParams.scala compared to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst. Just would like to check whether there is a reason behind to put a subset there? I was trying to improve LightGBMClassifier result accuracy rece

[2018-06-08 14:47] imatiach-msft commented on #314
Hi @ywskycn,
We can extend the existing parameter set if there are more useful parameters for the classifier/regressor.  In fact, @ekaterina-sereda-rf  merged in some additional parameters here:
https://github.com/Azure/mmlspark/pull/282
If you have any additional parameters you would like to add please let us know (or you can send out a similar PR).

[2018-06-08 15:43] ywskycn commented on #314
Thanks @imatiach-msft . I was playing around with some internal datasets, but found LightGBM didn't deliver good result. I think I didn't tune some good parameters. BTW, have u tried LightGBMClassifier on some public datasets? If so, it would be great share some parameters and I can try to run in my cluster, just to make sure I config everything correctly.

[2018-06-08 15:56] imatiach-msft commented on #314
@ywskycn yes, we have some examples here for classifier and regressor as part of our test sets:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/test/resources/benchmarks_VerifyLightGBMClassifier.csv
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/test/resources/benchmarks_VerifyLightGBMRegressor.csv

The AUC is almost always better than that for all spark ML learners

[2018-06-08 15:57] imatiach-msft commented on #314
Can you also send us some of the tests you have done?  I would be interested in taking a look as to why you are not getting good results in some cases.

[2018-06-08 18:44] ywskycn commented on #314
@imatiach-msft Thanks for the datasets and detailed explanation, I'll try it out locally.
For the tests I did before, is a simple internal dataset and I run classification using both XGBoost and LightGBM (mostly just use default params). The result AUC is largely different (0.99 v.s 0.75). I guess I need to tune some more parameters there. But I would like to reproduce the job on your provided dat

[2018-06-08 18:47] imatiach-msft commented on #314
@ywskycn that is concerning, would you be able to share your dataset or a similar dataset that has poor AUC with the corresponding notebook?  I would like to take a look to see if I can somehow improve the results.  It may be the parameters or it could be something about the way you are preprocessing the data.

[2018-06-10 15:24] ywskycn opened #315 "LightGBMBooster's mergeModel function works?"
I was playing around the mergeModels function. The following function looks like not change the first booster, as it always creates a new LightGBMBooster using the old "model" value. Do I miss anything there?
[code]

[2018-06-11 14:41] imatiach-msft commented on #315
@ywskycn yes, I think we discussed over email already, but we aren't merging models (they should be the same after doing distributed training supposedly).
This function isn't actually used, it was merging models previously but since the code changed at some point in history the logic doesn't make sense anymore, I think we should remove the function altogether.
Thanks for catching this!

[2018-06-12 09:08] moyanojv commented on #311
Thanks @mhamilton723  for your help.

Right now I'm a little lost. As far as I can see, this package contains python code so I'm not sure how to install it. Do I have to install it as a python package in my environment?

[2018-06-12 12:53] ywskycn commented on #315
Thanks for the explanation, @imatiach-msft . Created https://github.com/Azure/mmlspark/pull/316 for removing this function.

[2018-06-13 17:39] mhamilton723 commented on #311
@moyanojv to add a python+scala library to spark you use "spark packages". when you create or spin up your spark session, you use the --packages to attach our maven repo. If you are using pyspark, attaching this maven repo will automatically load python bindings into your interpreter. Here is the section in the readme that describes the process:

https://github.com/Azure/mmlspark#spark-package

ht

[2018-06-14 08:49] moyanojv commented on #311
@mhamilton723 I used this commands on my Cloudera cluster:

pyspark2 --master yarn --deploy-mode client --packages Azure:mmlspark:0.12

And the shell comes up:

[code]

As you can see the package is downloaded, and it seems that also is correctly installed. But when i follow the tutorial:

[code]

I'm doing anything wrong?

Thanks for your help.

[2018-06-15 17:38] JeffMacaluso opened #317 "LightGBMRegressor Odd Behavior on Azure Databricks"
I'm running into two problems with the mmlspark.LightGBMRegressor function on Azure Databricks:

1) The port binding tends to fail fairly consistently. The solution from [this issue](https://github.com/Azure/mmlspark/issues/173) of changing the default port binding doesn't seem to solve this problem in all cases. It seems like this happens more consistently for quantile regression models, but that

[2018-06-15 17:46] imatiach-msft commented on #317
@JeffMacaluso sorry, this was already fixed here:
https://github.com/Azure/mmlspark/issues/292
It's just not released yet.
You can try using this build which has several fixes:

Maven package uploaded, use
--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev18+1.g6fbf39c
--repositories https://mmlspark.azureedge.net/maven

We will have the fixes in the next release.  There is still another iss

[2018-06-15 17:50] imatiach-msft commented on #317
@JeffMacaluso
Please see this PR here for more context:
https://github.com/Azure/mmlspark/pull/296

[2018-06-15 18:02] JeffMacaluso commented on #317
@imatiach-msft My apologies, I saw that and thought it in the most recent release - I guess I need more coffee today 😅

Thank you very much! Closing this issue.

[2018-06-15 18:02] #317 closed

[2018-06-15 18:22] imatiach-msft commented on #317
@JeffMacaluso here is a newer build off of latest master in case the other one I sent has been deleted or will be deleted soon (there is a retention policy for old builds, but I think it's at least one month):

--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev19
--repositories https://mmlspark.azureedge.net/maven

[2018-06-15 21:00] JeffMacaluso commented on #317
@imatiach-msft after attaching that version to my cluster, I was able to train regular regression models fine, but ran into a few issues when using the quantile regression method.

Using the same data set, I was able to train a regression model in <15 seconds, but had to cancel the first quantile model (model_upper_bound) after 47 since it somehow got stuck. The second quantile model (model_lower_

[2018-06-16 00:53] #315 closed

[2018-06-16 00:53] ywskycn commented on #314
Close for now. May add PR for adding additional params in the future if needed.

[2018-06-16 00:53] #314 closed

[2018-06-16 01:34] ywskycn opened #318 "Executors run at different training paces in LightGBMClassifier"
Just launched a simple LightGBMClassifier job, with 5 executors and each executor has 1 core. I found that different executors run at different paces, as seen in [log](https://gist.github.com/ywskycn/299decb6ca59ef1eba41d409e3f12ca8). Executor2 finishes quite early, while Executor1 is still running. Talk to @guolinke offline, and the executors should be at the same pace.

Some configs I used (I ch

[2018-06-16 02:47] imatiach-msft commented on #318
@ywskycn according to the output log:
https://gist.github.com/ywskycn/299decb6ca59ef1eba41d409e3f12ca8
one of the executors ran to 65 iterations while the other ran to the full 100 iterations, which is unexpected.
The "running iteration" log is coming from here:
https://github.com/Azure/mmlspark/blob/02642ce4fd1fc447d5e25e30e6a64d0b845da4f1/src/lightgbm/src/main/scala/TrainUtils.scala#L80
This is

[2018-06-16 02:57] imatiach-msft commented on #318
@ywskycn @guolinke I wonder if we need to synchronize the executors so that we have to block on each iteration?  I assumed this was already taken care of inside lightgbm.  eg should each iteration be a mappartitions (or if that is too costly maybe I need to add some synchronization logic for the executors/driver inside a single mapparitions)?

[2018-06-16 03:00] imatiach-msft commented on #310
@bigdataexplorer @ywskycn yes, this is definitely possible to do, we just need to add the functionality

[2018-06-16 03:54] ywskycn commented on #318
@imatiach-msft sorry for the confusion. The Executor 1 is still running (and current is round 65). I copied the log earlier before it finished. All executors finally finished at 100 iterations, but with different time.

[2018-06-16 15:28] ywskycn commented on #318
BTW, @imatiach-msft  is it possible to double-check whether your local env has same issue? Just to make sure we're in the same page

[2018-06-17 13:57] bigdataexplorer commented on #310
Anything I can help ?

[2018-06-18 09:07] ywskycn commented on #318
ok. After more debugging, the problem is, each executor still runs at serial mode, although passing "data_parallel". Will add a PR to fix this issue. BTW, I think this should also explain my previous accuracy questions...

[2018-06-18 09:07] #318 closed

[2018-06-18 13:27] tchemineau opened #319 "LightGBM and dynamic allocation"
Hello,

We are currently trying to use MMLSpark and LightGBM in our Spark cluster. We usually use default dynamic allocation of executors when starting jobs, but LightGBM seems to not work with this setting (the main Thread used to wait for executors connection only replies to the first ones created during the initialisation of the main Spark context).

How is it possible to make LightGBM work in

[2018-06-18 14:22] imatiach-msft commented on #318
@ywskycn it's great to hear that you have found the bug.  Sorry, could you give more info on how the executors are running in serial mode?

[2018-06-18 14:36] imatiach-msft commented on #319
@tchemineau lightGBM currently does not support adding new executors/machines dynamically after NetworkInit, adding @guolinke to see if this is a feature that might be added in the future to the underlying library.
Otherwise, if you could start all executors before the NetworkInit in the dynamically allocated cluster you could work around the issue, but it doesn't sound like a real solution.

[2018-06-18 14:42] imatiach-msft commented on #319
@tchemineau @guolinke
This is the network init API in LightGBM:
https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/c_api.h#L749
We are currently calling it from here:
https://github.com/Azure/mmlspark/blob/02642ce4fd1fc447d5e25e30e6a64d0b845da4f1/src/lightgbm/src/main/scala/TrainUtils.scala#L201
I don't believe there is any way to add or remove nodes dynamically currently.  I've co

[2018-06-18 22:14] mhamilton723 commented on #311
Hmm the first line looks right, but when you use pyspark as a command you dont need to recreate the spark object as it already exists. try just

[code]

and see if that works

[2018-06-18 22:17] mhamilton723 commented on #310
@imatiach-msft does light GBM provide this API? If not this might be a bigger add

[2018-06-18 22:20] mhamilton723 commented on #306
@puyvqi could you make this into a separate issue please? Thank you!

[2018-06-18 22:20] #306 closed

[2018-06-18 22:21] imatiach-msft commented on #310
@mhamilton723 yes it does, it should be simple to add

[2018-06-18 22:25] #291 closed, assigned to nobody

[2018-06-18 22:30] mhamilton723 commented on #292
This fix is in master and will be surfaced in v0.13. For those that are blocked, you can use our master build:

'''
--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev19 
 --repositories https://mmlspark.azureedge.net/maven.
'''

[2018-06-18 22:30] #292 closed

[2018-06-18 22:33] mhamilton723 commented on #269
Closing this issue as it is no longer relevant as old API is deprecated

[2018-06-18 22:33] #269 closed

[2018-06-18 22:35] mhamilton723 commented on #225
I will tackle these issues in our refactor of the code generation system

[2018-06-18 22:36] mhamilton723 commented on #214
We should ideally remove all reference to brainscript

[2018-06-18 22:45] mhamilton723 opened #321 "Easy Windows Developer Setup"

[2018-06-18 22:51] mhamilton723 commented on #95
Closing this issue as we are only supporting python 3.5 to minimize complexity

[2018-06-18 22:51] #95 closed

[2018-06-18 22:51] mhamilton723 commented on #93
Closing this issue as this issue is no longer applicable

[2018-06-18 22:51] #93 closed

[2018-06-18 22:52] mhamilton723 commented on #76
Closing as this is a duplicate

[2018-06-18 22:52] #76 closed

[2018-06-19 04:04] mhamilton723 opened #322 "Flaky Tests: HTTPSource"
HTTP Tests:

 Python Client sometimes fail with:
[code]
async client:

[code]

[2018-06-19 06:57] moyanojv commented on #311
@mhamilton723 here you have the result:

[code]
I have attached the spark environment information.

[PySparkShell - Environment.pdf](https://github.com/Azure/mmlspark/files/2114160/PySparkShell.-.Environment.pdf)

Thanks for your help.

[2018-06-19 09:35] ywskycn commented on #310
I think we can just add a new API in LightGBMBooster, calling LGBM_BoosterFeatureImportance() in c_api.cpp.

[2018-06-19 12:18] ywskycn commented on #318
@imatiach-msft, the issue that LightGBM still needs "numMachines" parameter. Created https://github.com/Azure/mmlspark/pull/323

[2018-06-19 14:43] imatiach-msft commented on #319
@tchemineau I spoke to @guolinke, and he wrote that it is possible to do this via the following (it will involve refactoring some of the current code):
"
Technologically, this can be achieved by using `init_score`.

Where there are new-coming nodes, we can do following to achieve that:
1.	Stop the training in current nodes, and get current trained model file
2.	Init new nodes
3.	Send model file fr

[2018-06-19 15:06] tchemineau commented on #319
Thank you all for your answers and having digging this question.

At the moment, we switched to start a bunch of static executors in our Cluster just for that LightGBM jobs. But even with that, we have some issues (I will not discuss about them, this is not the subject).

This would definitely be a big improvement of MMLSpark/LightGBM to be able to run jobs and let YARN allocate resources based on

[2018-06-20 03:02] mhamilton723 commented on #311
Is it possible to try this out with spark 2.2? That's what our package was built against.

[2018-06-20 07:09] moyanojv commented on #311
I'm sorry but right now this is not possible.
Any way we will try to modify our spark version as soon as possible to test your suggeriment. If we change the version for sure we will add our results here.

@mhamilton723 many thanks for your help.

Regards

[2018-06-21 13:18] swaritras opened #325 "I am getting this error when building light gbm model on spark on local node of my machine"
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Trying to bind port 12401...
[LightGBM] [Info] Binding port 12401 succeeded
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Warning] Connecting to rank 3 failed, waiting for 10000 milliseconds
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Trying to bind port 12402...
[LightGBM] [Info] Binding port 12402 succee

[2018-06-21 14:45] imatiach-msft commented on #325
@swaritras I've seen this error before on very small datasets - the suggestion of setting the min_data and min_data_in_bin seemed to fix it for me:

[code]

How large is your dataset?

[2018-06-21 19:09] swaritras commented on #325
ok, now I set min_data and min_data_in_bin, I again I am getting problem:---Traceback (most recent call last):
  File "/home/xpms/workspace/spark-env/lib/python3.6/site-packages/pyspark/ml/wrapper.py", line 105, in __del__
    SparkContext._active_spark_context._gateway.detach(self._java_obj)
AttributeError: 'LightGBMClassifier' object has no attribute '_java_obj'

[2018-06-21 19:57] imatiach-msft commented on #325
@swaritras this error looks very different... not sure what is going on, but it looks like the underlying scala/java part of our package is missing, how are you running or installing mmlspark?  It looks like you are now failing at a much earlier place than before

[2018-06-22 14:23] mhamilton723 commented on #311
@moyanojv  perhaps also try installing the pip package directly as it seems your spark submit is not installing the python bits as anticipated

https://mmlspark.azureedge.net/pip/mmlspark-0.12-py2.py3-none-any.whl

[2018-06-22 16:37] imatiach-msft commented on #319
"How do you plan to move forward on this new feature?"

@tchemineau this seems like a big change, I think we still need to stabilize the current implementation more.  It sounds like @troszok is still not seeing the same performance as LightGBM run in R which I need to investigate, and there is another issue where the learner seems to be getting stuck when using quantile regression which I need to

[2018-06-23 18:22] robertobigdata opened #328 "getting error in LightGBMClassifier on databricks with pyspark"
Hello, I've installed mmlspark using Maven Coordinates. I'm using a cluster with spark 2.1.
But I'm not able of making LightGBMClassifier to work.

My code is this, but always getting the same error, So I have to start from the beginning.

![mmlspark_error](https://user-images.githubusercontent.com/32799774/41812440-11f5222a-7723-11e8-9e68-b3b58f460d78.png)

And if I execute only LightGBMClassifie

[2018-06-25 03:34] imatiach-msft commented on #328
@robertobigdata hi, sorry for the trouble, there have been several fixes to lightgbm - does using the following build fix your issue (you will need to specify the repository as our maven build repo):
--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev21+4.g90b0ddc
--repositories https://mmlspark.azureedge.net/maven
Otherwise, if you are still having issues, if you could send us a public datas

[2018-06-25 10:36] swaritras opened #329 "Getting this issue while train model with object of TrainValidationSplit with param grid builder"
[LightGBM] [Info] Number of positive: 52, number of negative: 34
[LightGBM] [Info] Total Bins 80
[LightGBM] [Info] Number of data: 86, number of used features: 4
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [W

[2018-06-25 17:02] imatiach-msft commented on #329
@swaritras thanks for finding this, it is a bug in the copy method:
https://github.com/Azure/mmlspark/blob/dca1cc7de0dadcd5ea134bf8800190f45557e868/src/lightgbm/src/main/scala/LightGBMClassifier.scala#L107
we should instead be returning LightGBMClassificationModel(<same params as in constructor>)
I will send out a PR

[2018-06-25 17:39] imatiach-msft commented on #329
@swaritras I've created PR #330 to fix this issue - I was able to repro and verify the fix with a test case using TrainValidationSplit.

[2018-06-25 19:08] imatiach-msft commented on #329
@swaritras the PR has been merged in, I'm closing the issue - this build contains the fix:

--packages com.microsoft.ml.spark:mmlspark_2.11:0.12.dev24+1.gc5b6cb9
--repositories https://mmlspark.azureedge.net/maven

[2018-06-26 15:49] tnlin commented on #166
+1, Apache Zeppelin example needed

[2018-06-26 17:38] mhamilton723 commented on #75
Just merged!

[2018-06-26 17:38] #75 closed

[2018-06-27 01:53] mhamilton723 commented on #166
Thank you for adding these comments, well try to prioritize this in our next sprint!

[2018-06-27 04:21] tnlin commented on #166
Thanks you! I try to accelerate my preprocessing procedure (OneHotEncoder, Tokenizer, CountVectorizer)  with Zeppelin running on docker (Points of Interest data in tabular form, about 20G), but I don't know how to transform these processed data so that it can be used  by other library such as lightGBM, xgboost, tensorflow.

Then I found this amazing project, but not quiet sure how to use it ( how

[2018-06-27 13:46] mhamilton723 commented on #166
@tnlin sounds great and no worries spark can be daunting when you first use it as there are a bit more things going on under the hood than other python libraries. If you have spark installed already and are using it in a zepplin notebook on docker your best bet is to install out package using spark packages.

I am not amazingly familiar with zepplin, but if its like jupyter then theres a command s

[2018-06-27 19:33] imatiach-msft commented on #325
@swaritras can this issue be closed?  Were you able to resolve all of the issues you encountered?

[2018-06-28 06:50] ywskycn opened #332 "Including column names when saving LightGBM native model?"
When using LightGBMBooster.saveNativeModel() function, it looks like the model doesn't include original column names, but using "Column_*" instead. Do I miss any config here? @little-eyes @imatiach-msft

[2018-06-28 07:38] ywskycn commented on #332
I think this is because I use spark pipeline model, where assembles all feature columns into one vector, and the lightgbm library doesn't have the original feature column names.. Not sure any good solution to add column names back, or need to implement sth like https://github.com/jpmml/jpmml-sparkml-xgboost?

[2018-06-28 18:37] imatiach-msft commented on #332
@ywskycn yes, this is definitely something that needs to be fixed and @little-eyes already saw this issue before.  I need to figure out a way to pass the column names to vector assembler and then from vector assembler pass them to native lightgbm code.  It's something that would need to be investigated.

[2018-06-29 22:43] imatiach-msft commented on #310
@bigdataexplorer @rohanmonga @ywskycn @mhamilton723 I added a PR here for feature importances in LightGBM: https://github.com/Azure/mmlspark/pull/333

[2018-06-30 01:16] little-eyes opened #334 "LightGBM Param timeout does not exist"
Hi,

I'm running the new version 0.13, but it seems like we are getting the following error:

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<command-3708616085001278> in <module>()
      8   numIterations=100)
      9
---> 10 model = model.fit(train)
     11
     12 #scoredData = model.transfo

[2018-07-02 04:19] imatiach-msft commented on #334
hi @little-eyes , sorry about the error you are seeing, could you send me the full error log - I only see the stack trace in the java side and I don't see the full error message.  Also, how is the error related to the title ("LightGBM Param timeout does not exist"), I don't see anything mentioning timeout in the description above.

[2018-07-02 07:24] chibberto opened #335 "GLIBC Version"
Hi, i'm trying to run mmlspark (specifically lightgbm) but am getting the following error with glibc

/lib64/libm.so.6: version `GLIBC_2.23' not found (required by /hdfsdata/yarn/nm/usercache/ultra-job/appcache/application_1529615984505_0659/container_1529615984505_0659_01_000002/tmp/mml-natives4539490715051782423/lib_lightgbm.so)

We are currently running glibc version 2.17, and there is no appet

[2018-07-03 04:43] #334 closed

[2018-07-03 16:35] imatiach-msft commented on #310
@bigdataexplorer @rohanmonga @ywskycn @mhamilton723 the PR has been checked in so closing this issue - it will be in the next release (0.14) or you can use the latest custom build:

--packages com.microsoft.ml.spark:mmlspark_2.11:0.13.dev0+1.ga8e702f
--repositories https://mmlspark.azureedge.net/maven

[2018-07-03 16:35] #310 closed

[2018-07-03 17:14] rohanmonga commented on #310
thank you!

[2018-07-03 17:28] rohanmonga commented on #335
I'm having the same problem. I tried this on dataproc 1.2.40 (gcp) and EMR 5.14.0 (aws). They both use glibc 2.17. I think having a build against that would make it easier to experiment on at least emr & dataproc

[2018-07-03 17:30] rohanmonga commented on #335
@chibberto I tried upgrading my cluster manually to GLIBC 2.23 by upgrading `libc6 libc6-dev libc6-dbg libstdc++6 libstdc++-6-dev` all these. I started getting SIGSEGVs in random places :(

[2018-07-03 18:55] bigdataexplorer commented on #310
Thanks alot @imatiach-msft ! I will give it a try.

[2018-07-08 20:45] dvanasseldonk opened #338 "Spark 2.3 on Azure ML Workbench to enable Apache Arrow"
Is there a way to run Spark 2.3 on the Azure ML Workbench with the currently available mmlspark baseDockerImages?

I'm looking to enable Apache Arrow to improve the speed of .toPandas() on spark dataframes which requires Spark 2.3.

[2018-07-09 19:17] mhamilton723 opened #339 "Investigate ImageReader returning double the number of images"

[2018-07-10 07:29] ezerhoun opened #341 "Frozen notebook"
Hi,

I am trying to run a LightGBM quantile regression on a Toy example but the notebook seems to be stuck and cannot finish.
[code]
I already contacted @imatiach-msft, this issue is just for tracking purpose.

[2018-07-10 15:40] ericwang915 opened #342 "Support LightGBM for multiple class classification"
Currently, LGB in mmlspark only supports binary classification. When will you consider supporting the multiple class classification?

[2018-07-10 15:43] ericwang915 commented on #342
I saw you marked it as TODO in

https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/test/scala/VerifyLightGBMClassifier.scala

I hope this part will be updated soon.

[2018-07-16 18:50] ywskycn opened #346 "LightGBM uses entire host's available cores as one executor's configured cpu cores"
When calculating # cores for each executor, currently LightGBMUtils uses Java's Runtime API, which returns all CPU cores in the physical host I think (https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala#L127). From the function comment, it mentioned "this is more reliable than getting value from conf". But here we should use the value from the conf, right?

[2018-07-17 16:05] mhamilton723 opened #347 "Make Spark Serving Easier to Use"
- [ ] Add option to fail when it cannot parse the input
- [ ] Add tests on ADB
- [ ] Add syntactic sugars for adding input parsers
- [ ] Add ability to reply with other types

[2018-07-18 03:13] mhamilton723 opened #351 ""retry utility should catch flakiness""

[2018-07-18 03:15] mhamilton723 commented on #346
To me you seem to be right and the conf seems like the way to go, though it seems like there was some good reason to avoid it. @imatiach-msft what did you mean by "more reliable"?

[2018-07-18 03:22] mhamilton723 commented on #338
Hey @dvanasseldonk thanks for reaching out! We have already updated to spark 2.3, but i do not know if the workbench has updated yet. I would direct this question to the AML team here:

https://feedback.azure.com/forums/34192--general-feedback

which is the feedback tool at the bottom of this page:
https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-installation

[2018-07-18 03:22] #338 closed

[2018-07-18 03:23] mhamilton723 commented on #328
@robertobigdata, Thanks for raising this, if the 0.13 update does not fix this issue please feel free to re-open this issue.

[2018-07-18 03:23] #328 closed

[2018-07-18 08:08] peay commented on #341
@imatiach-msft I am hitting this as well, and can reproduce with the above notebook.

After a bit of debugging, I have observed:

- This only happens for `quantile` application. Other regression losses work fine.
- The call hanging is `Networking::GlobalSum` in the serial tree learner when doing `RenewTreeOutput`: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learne

[2018-08-04 00:00] nightflight-dk opened #353 "Tweedie for LightGBM"
Hello please add support for Tweedie and regressor export (only classifier can be saved today), thanks

[2018-08-04 00:05] imatiach-msft commented on #353
@nightflight-dk tweedie is already available as one of the options:

https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMRegressor.scala#L47

Regressor export has already been added here:

https://github.com/Azure/mmlspark/pull/333/files

but only after the official v0.13 release, you can use a custom build instead however, eg:

--packages com.microsoft.ml.spark:mmlsp

[2018-08-05 11:28] nightflight-dk commented on #353
Thank you for a quick response Ilya, for full Tweedie support please add the option to configure the variance power vs keeping the default 1.5. Early stopping rounds and verbosity during the training would be welcome as well. We could followup internally if you prefer, my alias dakowalc

[2018-08-06 14:48] valek commented on #335
Hi guys,

I have the same problem : on my computer everything is fine as I have glibc 2.23, however on my hadoop/spark cluster I have a glibc 2.17 because of centos 7.

Several questions :
1) Is it possible to build mmlspark with the glibc 2.17 without problems ?
2) Is there another solution to solve our problem ?

Thanks for all this work, and ( I hope ) for answers ;)
Julien

[2018-08-06 15:19] imatiach-msft commented on #353
@nightflight-dk thanks, I've sent a PR to add the variance power parameter to LightGBM regressor.
I will look into adding early stopping and verbosity as well.

[2018-08-06 17:33] imatiach-msft commented on #353
@nightflight-dk  The PR built successfully (and the test I added also passed), you can use the custom build with the following params:

--packages com.microsoft.ml.spark:mmlspark_2.11:0.13.dev21+1.gca24275
--repositories https://mmlspark.azureedge.net/maven.

Let me know if you get a chance to test it out, thanks!

[2018-08-07 07:13] valek commented on #335
I'm currently trying to build mmlspark on a centos 7 but it does not seem easy ^^

[2018-08-07 12:39] imatiach-msft commented on #335
@valek I don't think that will work - the binary in lightgbm needs to be packaged and rebuilding mmlspark won't change this, otherwise you should be able to use the non-native parts of mmlspark out of the box as they are platform agnostic (the java bits) and you don't need to rebuild it

[2018-08-08 12:36] valek commented on #335
Thanks for your answer !

You're right @imatiach-msft in fact I meant I was trying to build cntk on centos 7 so as to be able to run mmlspark, but it does not seem the right / appropriate approach

Now I'm trying something else : use a specific LD_LIBRARY_PATH for my yarn jobs with a more recent version of glibc. Do you think this may be a solution @imatiach-msft ?

[2018-08-09 12:35] nightflight-dk commented on #353
Impressive resolve time Ilya, thank you. I can confirm the setters now in use on my cluster.

Unfortunately  I am running into allocation errors and timing-out / lost workers, java.net.ConnectException: Connection refused (Connection refused)

Even on a large cluster with small dataset (96 cores, <1M data points with 20 features) but I suppose it’s not related to your changes.

Any ETA for GPU sup

[2018-08-17 00:06] imatiach-msft commented on #341
@peay @ezerhoun I've created a PR to fix this issue here:
https://github.com/Microsoft/LightGBM/pull/1593
I will update LightGBM to latest version in MMLSpark as soon as the other PR goes through code review and is merged

[2018-08-17 00:17] imatiach-msft commented on #353
@nightflight-dk closing this issue as tweedie variance power parameter has been merged in

[2018-08-17 00:17] #353 closed

[2018-08-17 06:39] nightflight-dk commented on #353
Thank you!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ilya Matiach <notifications@github.com>
Sent: Friday, August 17, 2018 2:17:31 AM
To: Azure/mmlspark
Cc: Damian Konrad; Mention
Subject: Re: [Azure/mmlspark] Tweedie for LightGBM (#353)

Closed #353<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fmmlspark%2Fissue

[2018-08-18 19:53] mhamilton723 commented on #339
Checked in a potential fix

[2018-08-18 19:53] #339 closed

[2018-08-18 19:53] #307 closed

[2018-08-22 08:49] friyal commented on #85
Hello, I use the following pom.xml:
<repository>
            <id>azureedge.net</id>
            <name>MS Azure Maven Repo</name>
            <url>https://mmlspark.azureedge.net/maven</url>
</repository>
<dependency>
            <groupId>com.microsoft.ml.spark</groupId>
            <artifactId>mmlspark_2.11</artifactId>
            <version>0.13</version>
</dependency>

But there is an error when I

[2018-08-22 14:55] imatiach-msft commented on #85
You can get mmlspark from maven central, eg:
https://mvnrepository.com/artifact/Azure/mmlspark/0.13

So this is what it would look like:

<dependency>
    <groupId>Azure</groupId>
    <artifactId>mmlspark</artifactId>
    <version>0.13</version>
</dependency>

Thank you, Ilya

From: Yichun Duan <notifications@github.com>
Sent: Wednesday, August 22, 2018 4:50 AM
To: Azure/mmlspark <mmlspark@noreply

[2018-08-23 11:54] jepma commented on #335
Did you get this to work @valek? We are running on EMR 5.15.0 and here the glibc library is also stuck at 2.17. I did manage to get the LightGBM package to work on its own on EMR, but when running an EMR step will still use the binary shipped with the PIP plugin, unfortunately.

[2018-08-23 16:14] imatiach-msft commented on #341
@peay getting a different error on an assert inside lightgbm in the distributed case but only when running on a cluster, the notebook runs for me locally, I created an issue here to ask whether the check in the code is needed:
https://github.com/Microsoft/LightGBM/issues/1604

[2018-08-24 05:05] imatiach-msft commented on #341
@peay @ezerhoun there was another fix checked in here:
https://github.com/Microsoft/LightGBM/pull/1605
will upload another version of lightgbm to maven central

[2018-08-24 16:50] anaveenan opened #359 "java.lang.NoClassDefFoundError: spray/json/JsonFormat"
Trying to test regression model and getting the following error (python 2.7 and spark 2.0.1). Any pointers. Thanks

[code]

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-8-ce128a3a3113> in <module>()
----> 1 model = TrainClassifier(model=LogisticRegression(), labelCol="income").

[2018-08-24 17:01] imatiach-msft commented on #359
could you update spark to the latest version (2.3)?  or is that not an option?

[2018-08-24 17:03] imatiach-msft commented on #359
it looks like this library is now working for you:
https://github.com/spray/spray-json
what version of java and scala are you using?

[2018-08-24 17:14] anaveenan commented on #359
Getting same with 2.3.1
Scala version 2.11.8
Java version 1.8.0_51

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-8-ce128a3a3113> in <module>()
----> 1 model = TrainClassifier(model=LogisticRegression(), labelCol="income").fit(train)

/var/user/spark-2.3.1/python/pyspark/ml/base

[2018-08-24 17:35] anaveenan commented on #359
It worked by adding jars from my code. Thanks for helping. Is there document for lightgbm on spark (specifically looking for all parmaters for loss function). Thanks
`--jars Azure_mmlspark-0.13.jar,spray-json_2.10-1.2.5.jar`

[2018-08-24 17:49] imatiach-msft commented on #359
@anaveenan does this overview help:
https://github.com/Azure/mmlspark/blob/master/docs/lightgbm.md
also we have a lot of notebooks here:
https://github.com/Azure/mmlspark/tree/master/notebooks/samples
here is one small example with LightGBM:
https://github.com/Azure/mmlspark/blob/master/notebooks/samples/106%20-%20Quantile%20Regression%20with%20LightGBM.ipynb
since you are using python you can als

[2018-08-24 17:54] imatiach-msft commented on #335
@jepma @valek @rohanmonga @chibberto one possibility would be to have a flag when running lightgbm to specify the version that was built with one or the other GLIBC, but then this would be difficult to maintain.  Another option would be to include the newer version of GLIBC binaries with the lib_lightgbm.so and lib_lightgbm_swig.so, I'm not quite sure how to do this though.

[2018-08-24 18:00] imatiach-msft commented on #359
@anaveenan if you are using lightgbm you will also need to include the lightgbm jar as a dependency.  But really, you shouldn't need any of this at all.  How did you install and run spark?  Did you specify --packages when running pyspark?

[2018-08-24 18:02] imatiach-msft commented on #359
eg if you are running pyspark you would run it via:
pyspark --packages Azure:mmlspark:0.13
[see here](https://github.com/Azure/mmlspark#spark-package)

[2018-08-24 18:09] anaveenan commented on #359
I am using this production environment to develop models in ipython
notebook (I don't have control over installation of spark and Scala).

pyspark --packages Azure:mmlspark:0.13 option for some reason is not
working for notebook (I can try again)

export SPARK_HOME=/var/user/spark-2.3.1
export PATH=$SPARK_HOME/bin:$PATH
export PYTHONPATH=$SPARK_HOME/python/lib/py4j-0.10.7-src.zip/:$PYTHONPATH
expo

[2018-08-24 18:18] rohanmonga commented on #335
I was able to compile lightgbm by hand on the cluster and ship it in a jar with my spark code. It seems to be working for me.

[2018-08-24 21:16] luzlab opened #360 "Support higher bit depth images with ImageSchema"
We're developing machine vision solutions for in-process monitoring of manufacturing processes, including collecting wide-field absorbance maps. The camera is 16-bit and optimized for collecting low-noise quantitative data suitable for feeding deconvolution/superresolution analysis pipelines.

We currently use OpenCV to process the images, and generate 16-bit unsigned single channel and 32-bit flo

[2018-08-24 21:28] imatiach-msft commented on #360
the schema should allow any type:
https://github.com/Azure/mmlspark/blob/0deeca8304fae8734b5eb0a23ac68c3412f25446/src/core/schema/src/main/scala/ImageSchema.scala#L17

[2018-08-24 21:33] imatiach-msft commented on #360
maybe you could send some example code with a few sample images and we could take a look?

[2018-08-24 22:29] imatiach-msft commented on #360
@luzlab if it is failing, I think it should not be difficult to add support

[2018-08-26 23:50] mhamilton723 commented on #359
@anaveenan thanks for reaching out! Lets try to unblock you from using the 0.13 version first. Then we can see if we can repro this on our side and push any needed fixes. What is happening with your 0.13 version?

[2018-08-27 02:33] imatiach-msft commented on #85
This is still using mmlspark repo instead of maven central.  Could you use maven central instead?  Also, I’m not sure why, but your comments are not appearing on github, strange.
Thank you, Ilya

From: Yichun Duan <notifications@github.com>
Sent: Sunday, August 26, 2018 10:23 PM
To: Azure/mmlspark <mmlspark@noreply.github.com>
Cc: Ilya Matiach <ilmat@microsoft.com>; Comment <comment@noreply.github

[2018-08-27 02:37] friyal commented on #85
Hello, I've solved the problem by using something like:
<repository>
     <id>Maven</id>
     <url>https://dl.bintray.com/spark-packages/maven/</url>
</repository>
<dependency>
      <groupId>Azure</groupId>
      <artifactId>mmlspark</artifactId>
     <version>0.13</version>
</dependency>
I think I just took a wrong repository before.
Thank you very much!

[2018-08-27 02:45] imatiach-msft commented on #85
Yes, that looks better, glad you were able to find it.  The package is on maven central as well so you don't even need to specify the repository, you only need to specify the dependency.

[2018-08-27 06:12] friyal commented on #335
@rohanmonga Could you share your solution please? I can't solve the problem in my spark cluster. Thank you very much.

[2018-08-27 15:46] imatiach-msft commented on #341
PR has been merged, closing issue - will be in 0.14

[2018-08-27 15:46] #341 closed

[2018-08-27 20:04] gopinutakki commented on #317
Hello,

I believe there is a need to re-open this issue.
I am trying to perform 'Quantile Regression' with v0.13 and I keep getting the above mentioned error.
My dataset contains around 20 Integer features and around 10 million rows. Regular regression modeling seems to be working fine even for 1000 iterations, but Quantile Regression modeling fails even for 100 iterations.

This is the error:

--

[2018-08-27 20:07] imatiach-msft commented on #317
@gopinutakki I believe you are hitting the issue here:
https://github.com/Azure/mmlspark/issues/341
which will be in the next release.
Could you try this custom build instead, from [this PR](https://github.com/Azure/mmlspark/pull/358):

--packages com.microsoft.ml.spark:mmlspark_2.11:0.13.dev28+1.g2753705
--repositories https://mmlspark.azureedge.net/maven.

[2018-08-27 20:10] imatiach-msft commented on #317
@gopinutakki several relevant issues that were fixed in latest release:
https://github.com/Microsoft/LightGBM/pull/1593
https://github.com/Microsoft/LightGBM/pull/1605
https://github.com/Microsoft/LightGBM/pull/1611

[2018-08-28 01:50] mhamilton723 commented on #351
Done

[2018-08-28 01:50] #351 closed

[2018-08-28 03:42] luzlab commented on #360
It's definitely failing when I try to import some images. I've gotten errors loading 8bit RGBA images and 16bit gray (1 channel) images.

[code]

[2018-08-28 03:45] imatiach-msft commented on #360
@luzlab hmm it looks like the error is "results too large", maybe there isn't enough memory on the cluster?  I don't see any mmlspark code in the stack trace above.  Strange.  If the images are not confidential, can you send some sample images (even 5 or 6) that generate the error?

[2018-08-28 03:45] luzlab commented on #360
Also, why doesn't this library display a preview of the image like spark-deep-learning?

[2018-08-28 03:46] luzlab commented on #360
Here are some sample images.
![8bit3channel](https://user-images.githubusercontent.com/9924835/44699686-3a6f5500-aa3a-11e8-8965-f547a9309dde.png)
![16bit1channel](https://user-images.githubusercontent.com/9924835/44699687-3b07eb80-aa3a-11e8-871b-111f0e23eeb1.png)
![8bit1channel](https://user-images.githubusercontent.com/9924835/44699688-3b07eb80-aa3a-11e8-8da8-6da2ca2b5ecd.png)

[2018-08-28 03:47] imatiach-msft commented on #360
@luzlab thanks, I've never heard of the preview feature for images, interesting.  I'm not sure how a preview can be generated.

[2018-08-28 03:49] luzlab commented on #360
When you display the dataframe, you get a nice preview image. It's not a necessity, but definitely nice to have. This just makes me wonder about why there's two different implementations for reading images into a Data Frame...

![image](https://user-images.githubusercontent.com/9924835/44699745-7f938700-aa3a-11e8-8698-cdb52806b0e3.png)

[2018-08-28 03:49] imatiach-msft commented on #360
it's interesting to me because I was the one who added image schema/support in apache spark :) https://github.com/apache/spark/pull/19439

[2018-08-28 03:52] luzlab commented on #360
I'll confess I'm a little confused about the differences between the libraries in regards to processing images.

![image](https://user-images.githubusercontent.com/9924835/44699865-14968000-aa3b-11e8-8bf8-0f4a9bccc964.png)

[2018-08-28 03:54] imatiach-msft commented on #360
It's the same, we merged from mmlspark to apache/spark.  We've updated it more in mmlspark though, eventually we need to do another merge.  Otherwise, we would just take the version from apache/spark, which we should eventually do.

[2018-08-28 03:56] luzlab commented on #360
OK... Given there's some differences in the API, like "path" vs "origin" and "mode" vs "type", which one should I expect to be in the final API?

Were you able to reproduce the errors reading the attached images?

[2018-08-28 03:57] imatiach-msft commented on #360
what is the difference between cmd 5 and 6?  It looks like 6 shows the image but 5 does not?  Interesting, will have to take a look in DataBricks, that's very cool that they added this feature!

[2018-08-28 03:57] luzlab commented on #360
There's a checkbox called "Show Preview Image" that's unchecked in command 5.

[2018-08-28 03:58] imatiach-msft commented on #360
sorry, I'm finishing up something else right now, will take a look as soon as I'm done with the current task

[2018-08-28 03:59] imatiach-msft commented on #360
"OK... Given there's some differences in the API, like "path" vs "origin" and "mode" vs "type", which one should I expect to be in the final API?"
good point, there were some code review changes during the merge, we should probably merge some of those back.  Sorry for the confusion, I will need to discuss more with @mhamilton723 .

[2018-08-28 04:00] imatiach-msft commented on #360
I agree that it is confusing to have multiple different implementations, that is very good feedback!

[2018-08-28 04:01] luzlab commented on #360
Thank you for responding so quickly!

[2018-08-28 19:35] gopinutakki commented on #317
@imatiach-msft Thank you for the message. Seems like the issue is resolved. I am testing Quantile Regression with several categorical features.

[2018-08-28 19:49] imatiach-msft commented on #317
@gopinutakki how are you passing the categoricals?  I believe I still need to pass to the native lightgbm learner the list of categoricals (this should be a TODO).  Otherwise, you will need to one-hot-encode them for now.  Let me create an issue to track this.

[2018-08-28 19:51] imatiach-msft opened #367 "Need to specify to native lightgbm learner if given columns are categorical"
Need to specify to native lightgbm learner if given columns are categorical
Creating issue to track this based on conversation with @gopinutakki [here](https://github.com/Azure/mmlspark/issues/317#issuecomment-416713183)

[2018-08-28 19:53] imatiach-msft commented on #367
When we assemble column in spark we should propagate any columns that were indexed (via stringindexer or our valueindexer) to lightgbm native code

[2018-08-28 20:00] gopinutakki commented on #317
@imatiach-msft
I am following this example: https://github.com/Azure/mmlspark/blob/master/notebooks/samples/105%20-%20Regression%20with%20DataConversion.ipynb

Do you think that the categorical column ids are not provided to the underlying LightGBM?
Thank you for opening a new ticket for this issue.

[2018-08-28 20:11] imatiach-msft commented on #317
@gopinutakki it looks like it should be an easy fix, see here:
https://github.com/Microsoft/LightGBM/blob/93764fda72ed3f7144455abd1e616f98be71c554/docs/Parameters.rst#categorical_feature
and here:
https://github.com/Microsoft/LightGBM/blob/93764fda72ed3f7144455abd1e616f98be71c554/docs/Advanced-Topics.rst#categorical-feature-support
We just need to supply this parameter with the known categorical c

[2018-08-28 20:12] imatiach-msft commented on #367
updating based on conversation [here](https://github.com/Azure/mmlspark/issues/317#issuecomment-416724076) -- it looks like it should be an easy fix, see here:
https://github.com/Microsoft/LightGBM/blob/93764fda72ed3f7144455abd1e616f98be71c554/docs/Parameters.rst#categorical_feature
and here:
https://github.com/Microsoft/LightGBM/blob/93764fda72ed3f7144455abd1e616f98be71c554/docs/Advanced-Topics.r

[2018-08-28 20:14] imatiach-msft commented on #317
@gopinutakki as a workaround for now you can just one-hot-encode the features though (but maybe you won't get as good results) using spark's OneHotEncoderEstimator

[2018-08-28 20:18] gopinutakki commented on #317
@imatiach-msft I see, for now I will follow your advise. Thank you.

[2018-08-29 02:41] friyal commented on #367
So the https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala do not encode the categorical features and I should transform the dataset before by myself?

[2018-08-29 04:31] imatiach-msft commented on #360
@luzlab how large is your cluster (machines/memory per machine)?  how many images are you trying to load?  if you do have a lot of nodes you might not have optimally configured your cluster, the configuration is sometimes half of the battle.

[2018-08-29 09:06] luzlab commented on #360
I'm loading a single image. I just restarted the cluster. The cluster uses DS3V2 machines (4 cores, 16gb ram, 2 workers).

Can you check the bit depth of the images you downloaded? Perhaps Github resamples/optimizes image attachments and converts them to 8- or lower bits/pixel to save space?

![image](https://user-images.githubusercontent.com/9924835/44777490-a5e71e80-ab2f-11e8-88bd-fac24898480d.p

[2018-08-29 18:27] imatiach-msft commented on #293
closing with latest fix merged to master

[2018-08-29 18:27] #293 closed

[2018-08-30 22:46] imatiach-msft commented on #305
fix in this PR: https://github.com/Azure/mmlspark/pull/368

[2018-08-30 22:46] #305 closed

[2018-08-30 22:49] imatiach-msft commented on #367
@friyal  if you use the helper method featurizeData it will actually one-hot-encode the categoricals, but that is just a helper method.  LightGBMClassifier/Regressor uses the Spark ML api so it can be compatible with all spark transforms (eg CrossValidator), which only takes in a vector of doubles for the features column.

[2018-08-31 00:16] imatiach-msft commented on #346
@ywskycn @mhamilton723 do you mean to use the "spark.executor.cores" configuration property?  But it seems that it is not set in all cluster modes, eg for standalone mode:
https://spark.apache.org/docs/latest/spark-standalone.html#executors-scheduling
[code]
Maybe I misunderstood?  What do you think would be the most reliable way to get it?
This is the suggested way here:
https://stackoverflow.com

[2018-08-31 04:44] imatiach-msft commented on #360
@luzlab you're right, I just checked on my ubuntu machine:
[code]
It looks like github downsamples.  Could you send the images to me directly at mmlspark-support@microsoft.com ?  I can take another look.

[2018-08-31 18:27] luzlab commented on #360
I just two images - 16-bit monochrome and 32-bit floating point monochrome.

[2018-09-11 11:45] jaraujoduarte opened #371 "Connection refused when using LightGBMRegressor"
When using the LightGBMRegressor on a small EMR cluster most of our jobs are failing getting a `java.net.ConnectException: Connection refused`.

We have re-compiled the java lightgbmlib for mmlspark v0.13 to be able to run it with the EMR provided GLIBC, but for the rest our code is quite simple as we are trying the framework.

Would you  be able to point us in the right direction to solve this?

[2018-09-11 12:08] jaraujoduarte commented on #335
@friyal together with @jepma we achieved something like this by compiling lightgbmlib within an amazonlinux based docker container, then added that new jar as a dependency for mmlspark and also built that ourselves.

** We had to comment a few lines in the build script from mmlspark to package all dependencies in a single jar via the `assembly` plugin.

Once the above is done it's just a matter of

[2018-09-11 15:04] imatiach-msft commented on #371
hi @jaraujoduarte sorry about the trouble you are having.  the error "Cannot construct Dataset since there are not useful features. It should be at least two unique rows" indicates that the data per partition is too small for distributed lightgbm, I encountered the same error when playing with some toy datasets - there are several options:
1.) increase the dataset size
2.) decrease the number of p

[2018-09-12 13:37] jaraujoduarte commented on #371
Thanks for the quick response @imatiach-msft, i will give it a shot.

[2018-09-18 16:15] elenaterenzi commented on #236
it worked on my side with this code:
`install.packages("devtools")
devtools::install_url("https://mmlspark.azureedge.net/rrr/mmlspark-0.13.zip")
library(mmlspark)`

[2018-09-18 16:52] elenaterenzi opened #375 "unable to use LightGBMClassifier in R due to wrong datatype"
I have an R data.frame object which I would like to pass to the ml_light_gbmclassifier function using the following code:
`model= ml_light_gbmclassifier(maxDepth=20, x=trainDF, featuresCol=feat, labelCol=lab,numIterations=10)`
it throws an error saying that it cannot convert object data.frame to Spark DataFrame.
I even tried using SparkR and creating a SparkDataFrame object but this is still not a

[2018-09-18 19:54] mhamilton723 opened #376 "UDFTransformer does not accept Python Lambdas"

[2018-09-18 22:28] imatiach-msft commented on #375
@elenaterenzi I added an example to clear things up here:
https://github.com/Azure/mmlspark/pull/377
I also added the ability to create "unfit" or "untrained" models since that functionality was missing and wouldn't work with some estimators that took another estimator as a parameter (eg train regressor/train classifier).

[2018-09-20 18:33] mhamilton723 commented on #375
@imatiach-msft  can this issue be resolved?

[2018-09-20 18:34] mhamilton723 commented on #371
Closing this issue, feel free to re-open if you need!

[2018-09-20 18:34] #371 closed

[2018-09-20 18:34] mhamilton723 commented on #359
closing this due to inactivity. Please re-open if the issue persists with the latest version on maven

[2018-09-20 18:34] #359 closed

[2018-09-20 18:40] imatiach-msft commented on #375
@mhamilton723 @elenaterenzi  yes, we resolved over skype, I think we can close this now.  There are some issues with default params that need to be fixed in the R wrappers though that I need to look into more.

[2018-09-20 20:58] luzlab commented on #360
@imatiach-msft Did you receive the sample images? Were you able to reproduce the errors?

BTW - I also [cross posted](https://github.com/databricks/spark-deep-learning/issues/154) this issue

[2018-09-24 00:15] thusithaC opened #379 "Training stops with "java.net.ConnectException: Connection refused" message"
Hi,

I'm trying to use Lightgbm in spark standalone cluster mode (3 workers, 2 cores each, 4gb ram each). One worker gets assigned as the driver and the other two workers.

The problem is I always get a "Connection refused" exception and spark terminates the job. Unfortunately I dont see any other useful information from the logs (attached).

[driver_log.txt](https://github.com/Azure/mmlspark/file

[2018-09-24 01:51] imatiach-msft commented on #379
@thusithaC sorry about the trouble you are having.  Based on the logs, it does not look like you are having this issue, which sounds similar: https://github.com/Azure/mmlspark/issues/371
because I see you are getting this error:
java.net.SocketException: Connection reset
This seems to be occurring when the workers are trying to connect to the driver based on this log and the stack trace:

[code]
I

[2018-09-24 05:02] thusithaC commented on #379
Thanks a lot for checking.

To make config related issued simpler, I tried a local configuration as below with different amount of data.

startup:
`$SPARK_HOME/bin/spark-submit   --class tnc.spark.ml.nytaxi.data.processMain   --master local[*]   --driver-memory 20g   /home/thusitha/work/spark/nytaxi/target/scala-2.11/NyTaxiFare-assembly-1.0.jar   1000`

In the initial attempt, I tried using 10% of

[2018-09-25 15:16] katerinagl opened #381 "Synchronisation problem"
Hi! We still see this problem with synchronization during the training. I launch this [code](https://github.com/katerinagl/lightGBMTest/blob/master/src/main/scala/LightGbmClassifierDemo.scala)

and see in logs

[code]

Is it ok that I see each iteration twice? We assume, that it causes accuracy issues. I tried this code with different parallelism modes - and all time i see the same.
So, what do yo

[2018-09-25 15:29] imatiach-msft commented on #381
hi @katerinagl , sorry about the trouble you are having, that debug line is coming from here:
https://github.com/Azure/mmlspark/blob/38e00c9db77cd8b0af510f0618ecf8fc228f2104/src/lightgbm/src/main/scala/TrainUtils.scala#L86
you should be seeing it as many times as there are workers per iteration.  Since you have two workers, you should be seeing it twice.  Could you elaborate more on why it indicat

[2018-09-25 15:32] imatiach-msft commented on #381
@katerinagl sorry about the lack of scala examples, I think this is a related issue: https://github.com/Azure/mmlspark/issues/166
for now, you can use tests as examples, eg see here:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/test/scala/VerifyLightGBMRegressor.scala#L129
Please let me know if you have any questions about a specific param or usage.

[2018-09-25 15:36] katerinagl commented on #381
Thank you for quick answer. I saw higher accuracy when i trained on 1 machine vs 2 machines and more. So, we thought that we have results from only 1/2 (1/N, where N number of machines) data trained. and this results from different machines not aggregated in the end. i'm not sure that i can illustrate it on this toy example, but i'll try tomorrow.

[2018-09-25 15:51] imatiach-msft commented on #381
@guolinke might accuracy for lightgbm decrease as the number of machines is increased - do any parameters need to be modified as number of machines is increased - or might this be a bug in our spark code/implementation?

[2018-09-25 15:57] imatiach-msft commented on #381
@katerinagl some example code would be great to look at

[2018-09-25 16:11] guolinke commented on #381
@katerinagl @imatiach-msft It depends on your data (especially the number of samples).

For the data parallel, there is one step may cause the drop on accuracy. That is the buckize from float feature values to int values. To reduce the communication cost, LightGBM will use local data to buckize partial features locally, and then sync up these local buckize features. Therefore, when local data is t

[2018-09-25 21:52] imatiach-msft commented on #379
@thusithaC thank you for the logs.  I looked at the difference and the problem is definitely on this line based on the second log:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/TrainUtils.scala#L170
There is no segfault in lightgbm, we aren't even getting to the lightgbm training code at this point.
It looks like the workers are not able to connect to the driver for som

[2018-09-27 18:57] acontry commented on #335
@jaraujoduarte what changes did you make in the build script to get it to work? I've been able to get both lightgbm and mmlspark to compile in a docker container, but I'm having trouble in getting lightgbm jar included in mmlspark fat jar. Thanks!

[2018-09-27 19:09] jaraujoduarte commented on #335
@acontry look for `assemblyOption` in `build.scala` and comment out the few lines that prevent the dependencies to be part of the final jar.

[2018-09-29 01:15] acontry commented on #335
@jaraujoduarte Thanks that did the trick! Now I'm dealing with "connection refused" errors on my cluster...

[2018-09-30 14:49] jaraujoduarte commented on #335
@acontry check this out: https://github.com/Azure/mmlspark/issues/371

[2018-10-01 06:31] troszok commented on #335
@jaraujoduarte works also for me, thanks mate.

[2018-10-01 09:51] superbobry opened #382 "Support initial score for LightGBM training"
LightGBM [allows](https://lightgbm.readthedocs.io/en/latest/Parameters.html#continued-training-with-input-score) providing an initial score for boosting on top of an existing predictor. However, this functionality is not yet exposed in the Spark wrapper. The user API could be as simple as

[code]

However, I am not sure what would be the best way to pass this information to the C++ level. A tempor

[2018-10-01 15:02] imatiach-msft commented on #382
Hi @superbobry , sorry about the trouble you are having.  It looks like there is a parameter that can be passed to LightGBM to specify the init score filename:
https://github.com/Microsoft/LightGBM/blob/6214657aed2c9c682e1937748d39d5bf78698164/docs/Parameters.rst#initscore_filename
But I don't think this is very scalable for a large dataset, and preferable we should be able to pass this data in-me

[2018-10-01 15:31] troszok commented on #292
HI @imatiach-msft i am going back to this ticket because I think we still have this problem.

After migrating our infrastructure to EMR I went back to do some experiments with LightGBM and my trainings are really slow ~3 - 10 seconds per iteration and I see very low load on the nodes.

My EMR configuration:

[code]

My params:

[code]

It looks like we are having ~10% of CPU usage per node (The in

[2018-10-01 19:05] superbobry opened #383 "Datasets for running LightGBM tests"
I apologise in advance if this is documented somewhere, but I did my best to look it up and did not find anything relevant.

In order to run LightGBM tests, one has to define the `$DATASETS_HOME` environment variable which
 I think, should point to a directory with binary/multiclass/regression training data for various well-known datasets. I assume that the developers working on mmlspark have all

[2018-10-01 19:14] imatiach-msft commented on #383
Hi @superbobry, you can run the ./runme script which will define the $DATASETS_HOME variable and download the dataset, you can find the instructions here: https://github.com/Azure/mmlspark/blob/master/docs/developer-readme.md
Note the dev setup only works in Linux currently because it depends on bash.  I think there was some discussion about how that could improved to support other envs in the fut

[2018-10-01 20:12] superbobry commented on #383
Hi @imatiach-msft, thank you very much for the reply.

I am running macOS, and it seems the main blocker for porting `./runme` is cntk which is only available/prebuilt for Windows and Linux.

For the record, the dataset archive `./runme` fetches is available here: https://mmlspark.azureedge.net/installers/datasets-2017-05-25.tgz

[2018-10-01 20:12] #383 closed

[2018-10-02 01:00] guolinke commented on #292
@imatiach-msft I think the most possible reason is the communication cost is too large, therefore, the computation is waiting for the communication.
using smaller `max_bin` and `voting_parallel` can help to reduce the communication.

[2018-10-02 15:35] imatiach-msft commented on #292
Hi @troszok , based on this "Additionally I run another test with only 48 partitions and time per iteration is a little bit lower but not much.", it sounds like the training time actually improved by using fewer partitions (and fewer nodes).  If you decrease the number of partitions even more, say to 20 partitions or 10 partitions, do you see any additional improvement?

[2018-10-03 18:43] imatiach-msft commented on #292
adding @guolinke - The TCP_NODELAY can be ignored; this is a nice investigation.  I'm surprised that using 1 partition per executor gets to 40% CPU usage, it sounds like multiple cores are somehow getting used in that case, although I assumed that in distributed case lightgbm only uses 1 core per lightgbm worker.  The training speed doesn't seem to improve as much as I would expect though, only fr

[2018-10-04 01:54] parasharshah opened #385 "Support latest Spark 2.4"
When models trained with Spark 2.4 are deployed on Spark 2.3 ACI/AKS – Operationalization doesn’t work.
Databricks has released new runtime 5.0 which has Spark 2.4.
O16n PySpark image has a dependency on MMLSpark so we would like to request an upgrade of MMLSpark image to Spark 2.4.

[2018-10-04 11:03] ekerazha commented on #342
Is this planned for version 0.14? This is an important feature that "plain" LightGBM supports, but we can't use it in mmlspark

[2018-10-04 11:07] ekerazha commented on #367
Could you please expose this parameter so we can use the native LightGBM categorical features support? This is really important if we have categorical features with MANY levels and one-hot encoding is not feasible

[2018-10-04 17:37] antoniocachuan opened #386 "-"
-

[2018-10-04 17:42] imatiach-msft commented on #386
Hi,
You should only need the option
"--packages Azure:mmlspark:0.14"
The other options shouldn't matter.  MMLSpark should work anywhere where spark is deployed, it shouldn't matter what cluster you are using.  Having said that, I've only tested it on Azure Databricks and HDInsight.  If you want to meet over skype I could try and debug it with you, but I don't have access to a cloudera workbench un

[2018-10-04 17:48] imatiach-msft commented on #386
@antoniocachuan
Can you also try on spark 2.3?  We only support spark 2.3 now (older versions support 2.2).
You can also send me an email at mmlspark-support@microsoft.com if you want to diagnose your issue.

[2018-10-04 18:48] antoniocachuan commented on #386
@imatiach-msft
Thanks for your answer, In this moment is not possible to test it in Spark 2.3. Also I tried with `"--packages Azure:mmlspark:0.14"` in Google Cloud Data Proc cluster with the same results.

PD: I really appreciate your help, just emailed you.

Regards,
Antonio C.

[2018-10-04 20:12] imatiach-msft commented on #386
@antoniocachuan the strange thing is, I don't see any errors anywhere.  It looks like you retrieved the jar so you would think that it would just work.  I'm not quite sure what the problem might be.  We could try and add the python files manually from the zip to see if anything fails.  Otherwise, when using --packages it should just pick up the python files and import them.  My guess is something

[2018-10-04 21:49] imatiach-msft opened #387 "Random error when running LightGBM scala code in cluster"
when trying to repro another issue I got an error with latest 0.14 related to SerialVersionUID:

org.apache.spark.SparkException: Job aborted due to stage failure: Task 11 in stage 7.0 failed 4 times, most recent failure: Lost task 11.3 in stage 7.0 (TID 114, 10.139.64.6, executor 3): java.io.InvalidClassException: com.microsoft.ml.spark.LightGBMBooster; local class incompatible: stream classdesc

[2018-10-05 15:56] antoniocachuan commented on #386
@imatiach-msft  I tried in CDH running --package using the Scala API and It works, now I am getting a error related to the issue #335  also I could test adding manually the python files.

` spark2-shell --master yarn --packages Azure:mmlspark:0.14,com.microsoft.ml.lightgbm:lightgbmlib:2.1.250
`

![image](https://user-images.githubusercontent.com/4010332/46545832-0d119480-c88d-11e8-8ba6-e8aeb29beed

[2018-10-07 20:06] #247 closed

[2018-10-08 02:48] imatiach-msft commented on #387
fixed with pr #388

[2018-10-08 02:48] #387 closed

[2018-10-08 13:55] superbobry opened #390 "New release with LightGBM 2.2.1"
Release 2.2.1 of LightGBM (see Microsoft/LightGBM#727) allowed running it on older systems (most notably CentOS 7). Could you kindly consider releasing a new version of mmlspark incorporating this change?

[2018-10-08 14:05] imatiach-msft commented on #390
@superbobry I think you meant a different link than #727 ?

[2018-10-08 14:06] imatiach-msft commented on #390
@superbobry  sure I can work on releasing a newer version but I first need to make sure it would indeed work and I need to figure out how to test it.  If I release it would you be able to test it?

[2018-10-08 15:59] superbobry commented on #390
@imatiach-msft thanks, I've updated the link. I will be able to test the release once it's out, yes.

By the way, thank you very much for the superb support! It is very rare to see replies on OSS' issues on the same day, not just within the same hour :)

[2018-10-10 00:59] luzlab commented on #360
@imatiach-msft Any update?

[2018-10-10 21:56] imatiach-msft commented on #317
@land1725 sorry about the error you are encountering - might you perchance have dynamic allocation enabled (autoscale)?  It is currently one of my todos.  For now you could disable dynamic allocation.
It looks like the error is coming from this line:
(getNodes(networkParams, networkParams.executorIdToHost(executorId), localListenPort, log), localListenPort)
specifically networkParams.executorIdToH

[2018-10-11 01:51] land1725 commented on #317
[Uploading sparkErrorLog.txt…]()
@imatiach-msft hello I am very happy that got your reply
this is my whole spark log,Please try to help me . LightGBM is the most important thing in my work.

[2018-10-11 01:54] land1725 commented on #317
@imatiach-msft hello I am very happy that got your reply
this is my whole spark log,Please try to help me . LightGBM is the most important thing in my work.
[sparkErrorLog.txt](https://github.com/Azure/mmlspark/files/2467070/sparkErrorLog.txt)

[2018-10-11 02:05] land1725 commented on #317
@imatiach-msft hello I have checked my spark ,Dynamic Allocation  has already disabled,and still got the error. spark.shuffle.service.enabled has been set true.Is it possible to make the error?

[2018-10-11 02:09] imatiach-msft commented on #317
@land1725 to me it seems like you have autoscale enabled - these are the nodes found by lightgbm based on the log, it looks like there are only 2 executors, 1 and 2 at this point:
[code]
then, I see in the logs:
[code]
could you try decreasing the number of partitions used by LightGBM to be just below the number of cores?  It might work but will be slow.  I might need to get this PR to work for yo

[2018-10-11 02:34] land1725 commented on #317
@imatiach-msft hello,I need to rebuild the lightGBM myself like below,Do you have the Adding dynamic allocation package address to help me rebuild ?
git clone --recursive https://github.com/Microsoft/LightGBM ; cd LightGBM
mkdir build ; cd build
cmake -DUSE_SWIG=ON ..
make -j4

[2018-10-11 11:07] land1725 commented on #317
@imatiach-msft hello I an so sorry to tell you ,now I got no errors ,but I got stacked.
I got some log like below.you can see the full drivers logs and workers log at the end

INFO spark.LightGBMRegressor: driver received socket from worker: 10.111.1.204:24009
INFO spark.LightGBMRegressor: driver accepting a new connection...

in LightGBMUtils.scala
I think some nodes some port are not connected t

[2018-10-11 12:17] thusithaC commented on #379
Hi,
Sorry I couldn't get back earlier with a response.
I shared my code with a friend, and he seemed to have the same issue when the data size is larger than a certain threshold. I guess I can have a skype call sometime, but not sure I could be of any help.
I pushed the code to github, and the dataset is publicly available from Kaggle. I have given instructions on how I can reproduce the error on

[2018-10-11 12:43] humbinal commented on #379
@imatiach-msft i found the same problem, when numWorkers(LightGBMRegressor.scala [line 64]) larger than (excutor-cores * num-executors), and dataset.rdd.getNumPartitions larger than (excutor-cores * num-executors)

because "java.lang.Runtime.getRuntime.availableProcessors(LightGBMUtils.scala [line 136])" may larger than "excutor-cores"

then df.mapPartitions(LightGBMRegressor.scala [line 81]) can

[2018-10-11 14:11] imatiach-msft commented on #317
@land1725 the connection refused is a red herring, there should be another error on one of the other workers

[2018-10-11 14:13] imatiach-msft commented on #317
@land1725 I've thought about (2) as well, I agree that if some nodes are dead it shouldn't wait for all of them, but it's tricky to figure out the right balance.  When there are a lot of machines, some take more than others to connect to the driver, in some cases a lot more than you would expect.  It's tricky to figure out a good threshold for this, which is why I never did it when I wrote the cod

[2018-10-11 21:36] imatiach-msft commented on #379
@thusithaC @humbinal
Sorry about the trouble you are having... it's frustrating that it is so difficult for me to reproduce these errors due to all of the different possible cluster configurations :(
Thank you for sending me the data (https://github.com/thusithaC/nyTaxiPred), I will try it out as soon as I have some free cycles.  My guess is that the issue is related to your cluster configuration

[2018-10-12 02:19] land1725 commented on #335
@imatiach-msft hello:
I am sorry to tell that I got the same error
/lib64/libm.so.6: version `GLIBC_2.23' not found (required by /hdfsdata/yarn/nm/usercache/ultra-job/appcache/application_1529615984505_0659/container_1529615984505_0659_01_000002/tmp/mml-natives4539490715051782423/lib_lightgbm.so)

We are currently running glibc version 2.17, and there is no appetite for our IT dept to upgrade due

[2018-10-12 02:54] humbinal commented on #379
@imatiach-msft
i know coalesce the dataset at:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMRegressor.scala#L66

but  "java.lang.Runtime.getRuntime.availableProcessors(LightGBMUtils.scala [line 136])" may larger than "excutor-cores"
such as: i have 3 servers and i config 3 excutor-cores,  my server has 40 processor, but i only use 10 for excutor-cores on spark-

[2018-10-12 03:43] imatiach-msft commented on #379
@humbinal thanks for digging deeper into the issue
[code]
Sorry, just to confirm, did you mean that it returns 40 currently whereas it should actually return 10?  I only see there being a problem if we return more cores than exist, otherwise we would just under-utilize the cluster but nothing should fail.

[code]
Ah, I see, then for the number of cores I should be using the configuration property

[2018-10-12 03:48] imatiach-msft commented on #390
@superbobry sorry, would you be able to try out this build:
[code]
you need to specify our build repository since I haven't published it to maven central yet, I want to make sure to verify it first.  Hope it fixes the issue!  If you have trouble, let me know if we could get on a skype call together and debug the issue, I might be able to help.

[2018-10-12 09:28] superbobry commented on #390
@imatiach-msft are you sure the artifact is available in the repository?

[code]

[2018-10-12 09:30] humbinal commented on #379
@imatiach-msft yes, it returns 40 currently whereas it should actually return 10.

spark executor assign tasks used  [`spark.executor.cores`] config property, at ：
[https://github.com/apache/spark/blob/9241e1e7e66574cfafa68791771959dfc39c9684/core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala#L382](https://github.com/apache/spark/blob/9241e1e7e66574cfafa68791771959dfc39c9684/co

[2018-10-12 14:18] imatiach-msft commented on #390
@superbobry
I can see it here: https://mmlspark.azureedge.net/maven/com/microsoft/ml/spark/mmlspark_2.11/0.14.dev9+1.g5783ce91/mmlspark_2.11-0.14.dev9+1.g5783ce91.pom
It's not under Azure, that's for the official maven central release.  This is just for our builds.

[2018-10-12 20:30] superbobry commented on #390
Thanks! @alois-bissuel, could you give it a try on Monday?

[2018-10-15 12:31] flybywind opened #395 "How to make the mmlspark.jar"
after `runme`, I cant find the mmlspark.jar in root target directory. In each seperate subdirectory, there is an individual jar for its own target.

[2018-10-15 13:53] imatiach-msft commented on #395
@flybywind it should be under the BuildArtifacts folder after the ./runme script is run.  The runme script creates the BuildArtifacts folder and puts all output there.

[2018-10-15 13:54] imatiach-msft commented on #390
@alois-bissuel @superbobry please let me know if this resolves the issue or if you run into any other problems

[2018-10-15 14:56] alois-bissuel commented on #390
Yes, I am trying it now. The only trouble is that the repo where I pull this custom version (https://mmlspark.azureedge.net/maven/) doesn't have the full dependency (lightGBM.jar at least), so it could streamline our work if it were.

[2018-10-15 15:20] imatiach-msft commented on #390
@alois-bissuel could you please explain that a bit more, it should have the dependency based on this in the PR I built:
https://github.com/Azure/mmlspark/pull/391/files#diff-7b450c33e07c4838c2f8f1901b791b77R41

[code]
The dependency is also from a maven repo I created from an Azure blob:
"LightGBM Maven Repo" at "https://azuremlbuild.blob.core.windows.net/maven"

[2018-10-15 15:40] alois-bissuel commented on #390
@imatiach-msft : no it is OK, I managed eventually to pull all the dependencies, do not bother to publish to maven central. I will test this tomorrow. Thanks for the quick answer, I will keep you posted !

[2018-10-16 03:00] #395 closed

[2018-10-16 03:01] flybywind commented on #395
I have test failures, so the artifact not generated. I'll open a new issue for that.

[2018-10-16 03:20] flybywind opened #396 "Fuzzing Tests require Cognitive Service Keys"
when run `./runme` I got such error as shown:
How to solve the problem ?

[code]

the commit id is newest: `ff2440b34b62b7e3a4e1bf556eb3551beaccfa22`

Besides, how to skip tests stage, so I can forward to make artifact directly

[2018-10-16 03:30] flybywind opened #397 "lightgbm: many executor id have change"
I use spark to train lightgbm, in driver it would save a map for every exector id and its ip address, however I noticed that my executor's id will change while running, so the exception will be thrown out:

[code]

the logs in driver is:
[code]
so the executor will repeatedly failed.

[2018-10-16 03:49] land1725 opened #398 "mmlspark build error"
Hello,When I download the mmlspark source and rebuild it ,it can not build successfully.
my Env is Centos 7.3.
This is the log
error] /root/mmlspark/src/lightgbm/src/main/scala/BlockManagerUtils.scala: Header does not match expected text
[error] /root/mmlspark/src/lightgbm/src/main/scala/BlockManagerUtils.scala:3:0: Whitespace at end of line
[info] scalastyle Processed 11 file(s)
[info] scalastyle

[2018-10-16 04:04] imatiach-msft commented on #398
@land1725 it looks like you have scala style errors.  That is strange.  Did you make any changes to the file:
mmlspark/src/lightgbm/src/main/scala/BlockManagerUtils.scala
It looks like on line 3 you have extra whitespace at the end of the line.
If you like, we could meet over skype to debug together, maybe that would be faster?
Hope this helps!

[2018-10-16 10:02] alois-bissuel commented on #390
I just managed to run with the version you provided. There is still a linking error:
`java.lang.UnsatisfiedLinkError: /hdfs/uuid/c19321f1-80c9-4338-8a11-30c98f5fcbd4/yarn/data/usercache/XXXX/appcache/application_1539164595645_1548310/container_e293_1539164595645_1548310_01_000588/tmp/mml-natives6180385213394115619/lib_lightgbm.so: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required

[2018-10-16 11:37] flybywind commented on #396
executing `TESTS=none ./runme`, I have skipped tests

[2018-10-16 11:57] flybywind commented on #397
add a pull request:
https://github.com/Azure/mmlspark/pull/399

[2018-10-16 13:54] mhamilton723 commented on #396
Hey @flybywind thanks for reaching out! This is a known error due to the fact that your machine does not have the cognitive service build keys and fuzzing loads the test classes which in turn ask for the keys. I will push a fix so that these keys are not needed for fuzzing!

[2018-10-16 13:55] mhamilton723 commented on #398
Hey, because Ilya has found the root of this issue I will close it. Please feel free to reach out to our support alias, mmlspark-support@microsoft.com for more assistance!

[2018-10-16 13:55] #398 closed

[2018-10-16 18:42] superbobry commented on #390
@alois-bissuel <2.25, see https://github.com/Microsoft/LightGBM/pull/1718#issuecomment-426244665.

[2018-10-16 19:55] mhamilton723 commented on #396
Its in!

[2018-10-16 19:55] #396 closed

[2018-10-16 21:50] imatiach-msft commented on #379
@humbinal I don't believe it is possible to have different number of cores per executor, even in standalone mode.  Could you provide any documentation about this (or, have you actually seen this done before - I've created standalone clusters before but it didn't seem possible to me)?  Otherwise, it looks like you are right, I should use the spark.executor.cores configuration, I'll update lightgbm

[2018-10-17 03:40] humbinal commented on #379
@imatiach-msft  sorry, I don't test this on my standalone cluster, but when sumit app to standalone cluster we can use `spark.executor.cores=10, spark.executor.instances=4` parm, in this case the `spark.executor.cores` is not an integer multiple of `spark.executor.instances`.  is it possible to have different number of cores per executor? If not, use the `spark.executor.cores` configuration is rel

[2018-10-17 03:48] thusithaC commented on #379
@humbinal,

Unfortunately my spark expertise is not up to standard to properly
understand your comments and device a workaround.
In your opinion, if I'm using a standalone mode, is there a config based
workaround to get the current code working?

Thanks,
Thusitha

On Wed, Oct 17, 2018 at 11:40 AM humbinal <notifications@github.com> wrote:

--
Thusitha Chandrapala

[2018-10-17 05:48] humbinal commented on #379
@thusithaC  current, my solution is replace the `https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMRegressor.scala#L62` with the following codes:
[code]
it will working correct in most cases.

[2018-10-17 09:53] alois-bissuel commented on #390
A small update: the error above corresponds to problem linking to libstdc++, as indicated here [Microsoft/LightGBM#1708](https://github.com/Microsoft/LightGBM/issues/1708#issuecomment-425694599). There are no more linking problems with the libstdc.

[2018-10-18 13:01] valek commented on #390
Thanks for all this really interesting work and potential users with a spark cluster with centos 7 !

I've tested the new jar and I have the same problem @alois-bissuel
[code]

Did you find a solution to solve this ?

[2018-10-18 13:10] valek commented on #390
And of course : I can help for some test if required !

[2018-10-19 21:30] mhamilton723 opened #403 "ResizeImageTransformer not properly wrapped"

[2018-10-22 08:28] humbinal commented on #379
@land1725 numCoresPerExec(your is 8) is less than  per executor's "spark.executor.cores" ???

[2018-10-22 09:34] land1725 commented on #379
@humbinal hello,humbinal,thanks for your help
could you tell me how to set numCoresPerExec = 1 ?
I am using spark an yarn with CDH.
And I found can not set numCoresPerExec

[2018-10-22 12:03] humbinal commented on #379
@land1725 current, my solution is replace the `https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMRegressor.scala#L62` with the following codes:
[code]

[2018-10-22 21:45] imatiach-msft commented on #379
@humbinal @land1725 @thusithaC closing this issue as it should be resolved with https://github.com/Azure/mmlspark/pull/404 based on @humbinal 's recommendation

[2018-10-22 21:45] #379 closed

[2018-10-22 21:45] imatiach-msft commented on #346
@humbinal @land1725 @thusithaC closing this issue as it should be resolved with #404 based on @humbinal 's recommendation

[2018-10-22 21:45] #346 closed

[2018-10-23 17:01] alois-bissuel commented on #390
It looks like I overcame the linking error by adding to the LD_LIBRARY_PATH a more recent version of libstdc++.so.6 (which I incidentally found in my installation of miniconda, in case somebody asks). At least, `ldd lib_lightgbm.so` shows no linking problem.
For running with spark, it is simply a matter of using the spark.yarn.dist.files (for the lib) and spark.executor.extraLibraryPath (to add th

[2018-10-23 17:10] alois-bissuel opened #405 "LightGBM: NullPointerException"
When training on a very small dataset, I get some Java NullPointerException after quite some time during the first reduce job.

From the call stack, it seems that it is related to the network (see [TrainUtils.scala#208](https://github.com/Azure/mmlspark/blob/7eed833156f507357c8b43aefcf77ddfab0f2be9/src/lightgbm/src/main/scala/TrainUtils.scala#L208)).

I can't rule out any problem associated with m

[2018-10-24 08:31] tanjiaxin opened #406 "key not found"
hello, I'm trying to use lightGBM on the standalone mode spark cluster.
I have got  some data on the hdfs,  lightGBMClassifier  works fine when I use part of the data to train the model , but when I use all the data it will come out the error below.
[error.log](https://github.com/Azure/mmlspark/files/2509441/error.log)
And I also  tried to use the same part of data to run a cross validate, it some

[2018-10-24 14:28] imatiach-msft commented on #406
@tanjiaxin Sorry about the issue you are having, I believe this has been fixed here:
https://github.com/Azure/mmlspark/pull/399
see related issue:
https://github.com/Azure/mmlspark/issues/397
The error message was the same.
You can use latest private build here:
https://github.com/Azure/mmlspark/pull/404
Maven package uploaded, use

--packages
com.microsoft.ml.spark:mmlspark_2.11:0.14.dev13+1.g58a

[2018-10-24 14:29] imatiach-msft commented on #405
@alois-bissuel thanks, this line seems very suspicious:
[code]
clearly something went wrong, the workers should have received the available nodes from the driver, not really sure how this is possible yet

[2018-10-24 15:32] tanjiaxin commented on #406
@imatiach-msft thanks for you help, I will try it again.

[2018-10-24 20:48] imatiach-msft opened #408 "Add is_unbalance param to lightgbm"
request from one of the data scientists - add is_unbalance param to lightgbm

[2018-10-25 03:07] tanjiaxin commented on #406
I have tried you private build and anothor error comes out, also I have read #379 ,
but this error also should have been fix in your private build as you mentioned in #404 .
here is my error log:
[error_connection_refused.log](https://github.com/Azure/mmlspark/files/2513104/error_connection_refused.log)
is there any other problem could raise this error?

[2018-10-25 03:33] imatiach-msft commented on #406
@tanjiaxin could you try disabling autoscale?  it is currently not supported.  I wonder if that is causing the errors.

[2018-10-25 03:37] tanjiaxin commented on #406
@imatiach-msft  I will change the setting and run it again

[2018-10-25 07:11] chibberto commented on #335
@imatiach-msft My issues have been solved on rhel 7.5 by
[#391](https://github.com/Azure/mmlspark/pull/391)
and
[#399](https://github.com/Azure/mmlspark/pull/399)

I'm happy to close the issue if you are. Thanks for all your help - looking forward to using it.

[2018-10-25 09:57] tanjiaxin commented on #379
@thusithaC Did your problem fixed? It seems that I have similar problem, when I increased the data size.

[2018-10-25 10:47] thusithaC commented on #379
@Ben, No I didn't get a chance.

@imatiach-msft <https://github.com/imatiach-msft> Can you please let us
know if there is a nightly build we can try? Please let me know the Repo

I'm currently using :
Repo : "Azure" at "https://mmlspark.azureedge.net/maven"
and "Azure" % "mmlspark" % "0.14"

Thanks,
Thusitha

On Thu, Oct 25, 2018 at 5:57 PM Ben <notifications@github.com> wrote:

--
Thusitha Chandr

[2018-10-25 10:59] tanjiaxin commented on #379
@thusithaC  you may try the build imatiach-msft  metioned  in #406  , but I'm not sure this can solve your problem . I have tried that build but connection refuse exception still comes out.

[2018-10-25 12:09] thusithaC commented on #379
Hi Ben,

Yes, unfortunately. Tried the following build, but still get the
same error.

"com.microsoft.ml.spark" % "mmlspark_2.11" % "0.14.dev13+1.g58a2027c",

I was trying to follow the arguments made by humbinal about available cores
and what lightGbm assumes to be available, but I cant fathom how it is
related given that the code start failing as soon as I increase the
fraction of data that I am

[2018-10-25 12:16] alois-bissuel commented on #405
OK. Any other checks I could make ?

[2018-10-25 14:23] imatiach-msft commented on #406
@tanjiaxin  ok, that is the autoscale setting, so it is disabled.  It sounds like you are encountering another issue then.  It is not clear to me what the issue is from the logs because the connection refused error is a red herring, there should be another error on one of the workers which is the real exception.

[2018-10-25 14:38] imatiach-msft commented on #379
@thusithaC the connection refused error just means that some of the workers failed after the driver stopped communicating with them, it seems to usually be a red herring and there is usually another error.  Would you be able to post your log4j logs from the driver?

[2018-10-26 04:39] imatiach-msft commented on #405
@alois-bissuel one thing is strange, in your worker logs I don't see this line:
https://github.com/Azure/mmlspark/blob/bd4f3ca54018c434c3065510e8dfc78be2d4dcfb/src/lightgbm/src/main/scala/TrainUtils.scala#L178
However, I do see this line:
https://github.com/Azure/mmlspark/blob/bd4f3ca54018c434c3065510e8dfc78be2d4dcfb/src/lightgbm/src/main/scala/TrainUtils.scala#L184
Ah, I think it's because you mu

[2018-10-26 04:42] imatiach-msft commented on #405
also, I see this line:
https://github.com/Azure/mmlspark/blob/e02045508aa107a79f32ae88209b9584fb202f03/src/lightgbm/src/main/scala/LightGBMUtils.scala#L80
but I never see this line:
https://github.com/Azure/mmlspark/blob/e02045508aa107a79f32ae88209b9584fb202f03/src/lightgbm/src/main/scala/LightGBMUtils.scala#L90
which I think is the problem.  Somehow driver is not writing back to all connections,

[2018-10-26 04:44] imatiach-msft commented on #405
@alois-bissuel let me update the 2.2.1 release to latest and create a new build for you, so you can get the new changes

[2018-10-26 04:47] imatiach-msft commented on #405
@alois-bissuel I started a new build here: https://github.com/Azure/mmlspark/pull/391 after updating to latest master.  I'm not sure if that will fix your issue though because it looks like there is some problem with socket communication between worker and driver where worker is getting something that driver didn't send.  Maybe I need to add more debug there next.

[2018-10-26 05:22] stevekuo4 opened #411 "add weight to lightgmb"
in our use case we need to include sample weight for model training, which is no available for LightGBMClassifier

[2018-10-26 06:52] tanjiaxin commented on #406
@imatiach-msft I do have found a OOM error in a node, the logs are below:
[stderr.log](https://github.com/Azure/mmlspark/files/2517987/stderr.log)
[stdout.log](https://github.com/Azure/mmlspark/files/2517989/stdout.log)
[hs_err_pid21665.log](https://github.com/Azure/mmlspark/files/2517991/hs_err_pid21665.log)
it saids "There is insufficient memory for the Java Runtime Environment to continue.".
I

[2018-10-26 06:58] tanjiaxin commented on #379
@thusithaC  I have found a  OOM error  in one of the cluster node, you may check the all the log on your spark.

[2018-10-26 08:48] puyvqi opened #412 "build from source (runme) failure"
![image](https://user-images.githubusercontent.com/11178311/47555055-72f9b500-d93d-11e8-8876-2e9963006304.png)
===========================
!!! Error: failure when running curl -f --location --retry 20 --retry-max-time 60 --connect-timeout 120 --speed-limit 10 --speed-time 120 --progress-bar --output /tmp/jdk.tgz https://cdn.azul.com/zulu/bin/zulu8.28.0.1-jdk8.0.163-linux_x64.tar.gz

curl: (28) Ope

[2018-10-26 13:41] thusithaC commented on #379
Hey guys,

I did a clean build, removed an unnecessary cache() in the middle of my
code, change the partitioning a bit, and now its working! No idea what
was wrong before though.

I really hope error propagation can be improved a bit though. Clearly I
must have been getting some weird spark memory error earlier which were not
propagated to the driver or executor logs.

Anyway, thanks a lot for the

[2018-10-26 14:38] alois-bissuel commented on #405
OK, it looks like the network error is solved. Thanks a lot ! I will get back to issue #390 as there are now other errors.

For the record, now the network lines look like the following:
`18/10/26 14:28:28 INFO spark.LightGBMClassifier: send current worker info to driver: 10.225.4.20:12419`
`18/10/26 14:28:49 INFO spark.LightGBMClassifier: LightGBM worker got nodes for network init: 10.225.4.20:12

[2018-10-26 14:39] #405 closed

[2018-10-26 15:04] alois-bissuel commented on #390
Coming back from the network error in #405 , I now have a bad allocation error.

One again, I added an external libstdc++.so.6 to every executor's LD_LIBRARY_PATH.

See the stacktrace:
`java.lang.Exception: Dataset create call failed in LightGBM with error: std::bad_alloc`
	`at com.microsoft.ml.spark.LightGBMUtils$.validate(LightGBMUtils.scala:26)`
	`at com.microsoft.ml.spark.LightGBMUtils$.genera

[2018-10-26 15:15] imatiach-msft commented on #406
hi @tanjiaxin , sorry, this is an issue with lightgbm - the dataset on each partition is replicated in native memory (so native lightgbm code can run), so at minimum lightgbm takes about 2X dataset size to train.
You could try two things:
1.) increase the memory of the cluster
2.) use incremental training with lightgbm: you can split up your dataset, run lightgbm on the first split, save the nativ

[2018-10-26 15:42] imatiach-msft commented on #390
@alois-bissuel  I wouldn't rule out there being a memory leak in the native code, but I do delete the arrays to create the native lightgbm dataset here for training:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala#L318
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala#L359
and here for prediction:
https://git

[2018-10-26 15:42] imatiach-msft commented on #406
@tanjiaxin see related conversation here:
https://github.com/Azure/mmlspark/issues/390
copy-pasting for reference:
I wouldn't rule out there being a memory leak in the native code, but I do delete the arrays to create the native lightgbm dataset here for training:
https://github.com/Azure/mmlspark/blob/master/src/lightgbm/src/main/scala/LightGBMUtils.scala#L318
https://github.com/Azure/mmlspark/bl

[2018-10-26 16:00] alois-bissuel commented on #390
Thank you for the very quick answer!
I don't think this is a matter of memory available for the workers. I have a pretty small dataset (around 1 Gb), and I tried running on 10 executors with a lot of memory available (32 Gb on off-heap through yarn memory overhead), and I still have the same error.

[2018-10-26 16:12] imatiach-msft commented on #390
@alois-bissuel is it the same bad-alloc error:
[code]
if so, I'm not really sure what else it could be.  Searching online definitely suggests it is caused by OOM.  One thing to double check for sanity would be to print out the number of partitions of the dataset prior to training on lightgbm and make sure it is not 1 but some reasonable number.  Also, if you sample down the dataset, say be 50%, do

[2018-10-27 18:58] imatiach-msft commented on #360
hi @luzlab , sorry for the delay, I updated the branch I had with the 16-bit image you sent me and it still works fine:
https://github.com/imatiach-msft/mmlspark/tree/ilmat/16-bit-images
sorry, I'm really not sure what is causing your errors, it sounds like a cluster configuration issue - but you can run the test in my branch on any images you have to verify that they work.  Hope this helps!

[2018-10-28 03:55] tanjiaxin commented on #406
@imatiach-msft   I will try it, thanks for you help

[2018-10-28 04:37] puyvqi commented on #412
it still dont work for me,i changed my DNS and tried again.
it can download the file this time,but so slow and always disconnected on half.
it seem that it is my network problem.
and i am in ShangHai, this website might be blocked from me?

[2018-10-29 09:14] tanjiaxin commented on #406
@imatiach-msft I have found a incremental training example: https://gist.github.com/goraj/6df8f22a49534e042804a299d81bf2d6
but I can't figure out where should I pass the init_model in mmlspark's lightgbm.
Could you please tell me how or give me a example ?

[2018-10-30 01:36] imatiach-msft opened #416 "[pyspark] feature importances in lightgbm returns a py4j JavaArray object"
Currently feature importances in lightgbm returns a py4j JavaArray object when called from pyspark API.
This is a bit difficult to work with.  It would be better to convert to a regular python list which python users are more familiar with, since all values should be floating point anyway.

This was requested from one of the data scientists.

[2018-10-30 03:29] imatiach-msft commented on #406
@tanjiaxin can you please send me the model file?  Usually I get this error when the file is invalid (eg a blank string).  You shouldn't have to set num_class.

[2018-10-30 03:36] imatiach-msft commented on #416
PR has been merged so closing issue

[2018-10-30 03:36] #416 closed

[2018-10-30 03:41] tanjiaxin commented on #406
@imatiach-msft Sorry for the trouble, I think it's my problem, the model saved as a dir,  of course I can't get the num_class.

[2018-10-30 14:27] clamoris opened #418 "Boost from prediction support"
Looks like there is no way currently to provide initial scores to LightGBMClassifier. Is this true? Will this be supported in future versions?

[2018-10-30 14:56] imatiach-msft commented on #418
@clamoris yes, you are correct, please see this issue: https://github.com/Azure/mmlspark/issues/382
I believe LightGBM would need to be modified first before we could add the support.  Please let me know if you have any questions.  I will close this issue later today since it is a duplicate of the above.

[2018-10-30 15:01] #418 closed, assigned to nobody

[2018-10-30 15:59] alois-bissuel commented on #390
I have checked it all: the number of partition is reasonable (or maybe too high, but I also tried setting one partition per executor), the memory setting looks sensible. I did not try subsampling the dataset, as it is already quite small (a Gb for ten executors having each three dozen Gb of RAM).

When looking at the profiling tools that we have at our company, it seems that the executors are cons

[2018-10-30 16:14] imatiach-msft commented on #390
@alois-bissuel hmm, just to make sure I understand correctly, by off-heap do you mean unmanaged memory (eg the native C/C++ allocations, NOT the memory on the stack in the process) and by on-heap do you mean the Java managed heap?  If I understand correctly, then they should be about the same, since we take the memory from the Java side and allocate it in the native side.  If the Java on-heap memo

[2018-10-30 16:18] alois-bissuel commented on #390
Yes, this is exactly what I meant (regarding on-heap and off-heap). The off-heap usage stays very low (150 Mb) whereas the on-heap usage increases to 7-8 Gb. Are there any tests or some sort of profiling which I could do ?

[2018-10-30 16:33] imatiach-msft commented on #390
[code]
@alois-bissuel that is odd, I would assume the off-heap usage would be at least 1 GB since that is the size of the dataset, if not more.  I'm not sure why it would be so low, 150 MB doesn't make sense to me.

I'm not sure about how to profile on spark, do there exist good tools for profiling distributed clusters?  For C# I've used jetbrains memory profiler & redgate memory profiler a lot, f

[2018-10-30 18:04] drdarshan commented on #412
Thanks for letting us know. If Azul CDN is not accessible for you, perhaps you could point to an alternate location for a JDK? You need to change the URL in: https://github.com/Azure/mmlspark/blob/master/tools/config.sh#L66 and potentially the checksum on the next line and rerun `runme`.

Please let us know if this helps.

[2018-10-31 08:58] tanjiaxin commented on #406
@imatiach-msft I'm still can't fix the prroblem, I have viewed the model file, it do have a line said"num_class=1",  I create the instance of lightGBMClassifier with`lgb = LightGBMClassifier(learningRate=0.05,
                           numIterations=100,
                           modelString="hdfs://hz-ecom-wordspark-01:8020/RD_data/lightgbm_model/step1/part-00000-02b3b4dd-d082-45e0-8463-55bed1d

[2018-10-31 10:08] puyvqi commented on #412
thank you very much!
it helps!
I just change https to http ,it works.

[2018-10-31 14:34] imatiach-msft commented on #406
@tanjiaxin  sorry, I must have confused you, the model string is the actual string contents, not the file path.  You would have to read from the file and then pass the string contents to the learner.  That is probably why you are getting the error.  Also, if you prefer, maybe we can try and resolve this over a skype call?  You can email mmlspark-support@microsoft.com and I can invite you to a meet

[2018-10-31 14:41] imatiach-msft commented on #301
@dvanasseldonk closing this issue as it has been fixed with https://github.com/Azure/mmlspark/pull/414 and should be in the next release (0.15) - but anyone can get it by using the latest build from master

[2018-10-31 14:41] #301 closed

[2018-10-31 15:02] dciborow commented on #319
I believe this may also come up on Databricks, and that LightGBM does not work with autoscaling clusters. (heard a rumor...)

[2018-11-01 03:33] tanjiaxin commented on #406
@imatiach-msft I have solved the problem according your answer,  but I have a doublt that  what is difference between training the model with whole dataset and incremental training with part of dataset .
Recently I have heard a view that those kind of gbm models  are designed to be trained with whole dataset,  now I'm using incremental training with lightGBM, would this cause some side effect.

[2018-11-01 04:02] imatiach-msft commented on #406
@tanjiaxin I think the [post here might be relevant from the main developer of LightGBM](https://github.com/Azure/mmlspark/issues/381#issuecomment-424406675), this would apply to any partial dataset.  There might be other reasons that accuracy could drop as well.

[2018-11-01 13:54] tanjiaxin commented on #406
@imatiach-msft Thanks very much for your help and patient, I have incremental trianed a model with the whole dataset .

[2018-11-01 15:43] mhamilton723 opened #421 "Unroll Image tests hang occasionally"

[2018-11-02 01:57] #406 closed

[2018-11-05 06:54] puyvqi commented on #412
but i stuck in another place，after  installing the needed packages. build process stop for a long time (3 hours)in this place:
![image](https://user-images.githubusercontent.com/11178311/47982448-b1942a00-e10a-11e8-9d4c-dc9a3a011e51.png)

[2018-11-05 14:10] ishengyang opened #423 "Single Column Bug"
Sometimes, when I have only 1 feature, the .fit() process fails with a bug.
However, if I combine 2 or more such bugged features, the .fit() process won't fail.

Here is the beginning of the error message when it fails.

Py4JJavaError: An error occurred while calling o1063.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 154.0 failed 4 times, most recent fa

[2018-11-05 15:19] imatiach-msft commented on #423
@ishengyang Sorry about the issues you are having.  I think this is a different issue which has been fixed:
https://github.com/Azure/mmlspark/pull/399
Please also see:
https://github.com/Azure/mmlspark/issues/406
and related issue:
#397
However, the fix was after the 0.14 release, it should be in 0.15.  You can use the latest build from master instead, eg:

--packages
 com.microsoft.ml.spark:mmlsp

[2018-11-05 15:20] imatiach-msft commented on #412
@puyvqi I've seen those tests fail locally as well, you can ignore them.  You can ignore tests by using:

./runme TESTS=NONE

The tests=none can be in front of runme as well:

TESTS=NONE ./runme

[2018-11-07 11:23] tanjiaxin opened #427 "Can I change MMLSpark temp file dir?"
Hello, I have encoutered a problem that mmlspark will write some tmp files at /tmp when running a application but the tmp file became to large , so I want to change the mmlspark tmp file dir  to a large. How can I change the mmlspark tmp file dir?  and those tmp files are similar to "mmlnatives998512162530320580" .  Thanks in advance.

[2018-11-07 15:12] imatiach-msft commented on #427
@tanjiaxin sorry about the trouble you are having.  Hmm, I'm honestly not sure why those files are being generated, maybe @mhamilton723 might know?  Also, could you share the script you are running which is generating those files?

[2018-11-07 17:14] imatiach-msft commented on #411
this has been resolved with PR #426 , the fix will be in the next release of mmlspark v0.15.  You can test out the fix with the build here:

--packages
com.microsoft.ml.spark:mmlspark_2.11:0.14.dev30+2.gb5960fb
and --repositories
https://mmlspark.azureedge.net/maven

[2018-11-07 17:14] #411 closed

[2018-11-08 02:40] tanjiaxin commented on #427
@imatiach-msft according to my observation， the files start with "mmlsparkxxxxx" will genenrated when some job failed.
And here is the notebook file I run the application,
[increment_train_CV.zip](https://github.com/Azure/mmlspark/files/2560078/increment_train_CV.zip)

[2018-11-09 13:50] chibberto opened #430 "lightgbm performance"
Hi, I was just trying to look at the performance of lightgbm when varying the number of partitions, and noticed that the model AUC performance is dropping as the number of partitions is increased. It may be that i'm not setting some parameters correctly.

The example is based loosely on [here](https://github.com/Azure/mmlspark/blob/master/notebooks/samples/Classification%20-%20Before%20and%20After

[2018-11-09 20:48] imatiach-msft commented on #430
@chibberto I would expect AUC to drop but that is dramatically more than what I would expect.  Please see this explanation, which I think may actually be the reason for the performance drop here:
https://github.com/Azure/mmlspark/issues/381#issuecomment-424406675
Also tagging @guolinke
This dataset is actually quite small, with only 10k samples.  One thing that I am curious about is the drop from

[2018-11-12 16:48] Fungie opened #433 "Custom metrics for fitting"
Is it possible to use custom metric when using LightGBM in mmlspark?

Using regular LightGBM in python I would normally use a metric such as:

[code]

I don't see any mention of it in the documentation.

On a different note: Is there a weighting feature also with mmlspark version LightGBM?

[2018-11-12 17:32] chibberto commented on #430
Thanks, I think I understand. The original test did use >100 cores and i've subsequently tested with fewer cores and it does have an impact on the results as you suggest, but the test results were slightly different... I guess this is due to different data being in each partition as per the link above. It's good to know about the shuffling too.

Also, I think the results may be a bit too sensitive

[2018-11-12 17:32] #430 closed

[2018-11-12 22:58] AnkitSwarnkar commented on #112
I tried to install to spark 2.2.1 but the was not able to do so. Was this support completed and tested ?

[2018-11-13 05:15] imatiach-msft commented on #433
instance weights were just added recently, but they are not in the latest released version.  You would have to use a private build:
https://github.com/Azure/mmlspark/pull/426

--packages
com.microsoft.ml.spark:mmlspark_2.11:0.14.dev30+2.gb5960fb
and --repositories
https://mmlspark.azureedge.net/maven

[2018-11-13 08:45] ostrich-jin commented on #335
was this solved in #391?  i can not download the "lightgbmlib-2.2.100.jar" by using following option in spark-shell
--packages com.microsoft.ml.spark:mmlspark_2.11:0.14.dev17+1.g409034eb and --repositories https://mmlspark.azureedge.net/maven.

 @chibberto would you please advise me ?

thank you.

[2018-11-13 23:27] gyz0807 opened #435 "Early stopping for LightGBM"
Currently we can set a value for the 'earlyStoppingRound' parameter of 'LightGBMClassifier'. However, how can we actually train the model on a training set and monitoring the performance/performing early stopping using a validation set? LightGBMClassifier.fit() only takes two parameters: dataset and params. I've checked that dataset can only take in the training set.

[2018-11-14 05:48] imatiach-msft commented on #435
hi @gyz0807 , after fitting a model you can call score and then use the spark ML evaluators to do validation.  Since LightGBM is in spark, it works like all other estimators in the spark ecosystem, and is compatible with the Spark ML evaluators.  Please see:
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.evaluation.BinaryClassificationEvaluator
or the mllib one:
http

[2018-11-14 05:53] imatiach-msft commented on #433
@Fungie  sorry, forgot to mention, currently there are no custom metrics but we should be able to support it eventually, so this would be a new feature that we could add in the future to lightgbm on mmlspark

[2018-11-14 05:57] imatiach-msft commented on #385
@parasharshah , @mhamilton723 just updated to spark 2.4, so closing this issue

[2018-11-14 05:57] #385 closed

[2018-11-14 13:34] tanjiaxin opened #436 "difference between Microsoft/LightGBM predict with raw score and mmlspark/lightgbm transform results"
Hello, I have trained a model with mmlspark/lightgbm and I load it with Microsoft/LightGBM.  Also I have predict the same 1000 rows data using two version lightGBM (Microsoft/LightGBM, mmlspark/lightgbm). From Microsoft/LightGBM I use predict  with raw score, from mmlspark/lightgbm I got a tranformed result with "rawPrediction" and "probability",  I have checked the two result but I can't firgure

[2018-11-14 13:58] xiaoxiaofengzi opened #437 "How to deploy the mmlspark app on the spark clusters?"
I want to use LightGBM module of mmlspark on the spark cluster, where there are three Datanodes and one Namenode. Should I make mmlspark on Namenode only or Namenode and three Datanodes? Thank you very much!

[2018-11-15 02:03] tanjiaxin commented on #436
@imatiach-msft the predict with raw score I metioned is "predict(X_test, raw_score=True)"  , and I got a number, but I don't know which column it correspond to ? Or how can I translate the number to any of the three column?

[2018-11-15 16:31] mhamilton723 commented on #437
Hey @xiaoxiaofengzi, you should use our spark package to automatically install the code on all the needed machines. You can find out more at this section of our readme:

https://github.com/Azure/mmlspark#setup-and-installation

Please let me know if you run into trouble

[2018-11-15 20:01] chibberto commented on #335
@ostrich-jin I built using code at bottom of this page :
https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html

[2018-11-16 02:48] tanjiaxin commented on #436
@imatiach-msft Thank for your help, I have tried to load the model in python, the predict result it match the  rawPrediction,  we are trying to load model with golang(https://github.com/dmitryikh/leaves).  We will check the result predicted by go again.

[2018-11-16 06:36] tanjiaxin opened #440 "raw2probabilityInPlace"
https://github.com/Azure/mmlspark/blob/9ce617b5fd11654ae124018a905f5df1cf50077c/src/lightgbm/src/main/scala/LightGBMClassifier.scala#L91-L101
I have found the probability been calculate by  1 / ( 1 + e^(-2 * x)),
normally it should be  1 / ( 1 + e^-x) ,  could you please tell why the x should be multiplied by 2 ? Thanks for advance.

[2018-11-16 14:52] xiaoxiaofengzi commented on #437
@mhamilton723 Thank you very much! I have got it!

[2018-11-16 14:55] xiaoxiaofengzi opened #441 "How to train LightGBM Classifier with weight column?"
When I trained my LightGBM model, I found there isn't the API of setWeightCol:
[http://mmlspark.azureedge.net/docs/scala/index.html#com.microsoft.ml.spark.LightGBMClassifier](url)

What Can I do if I want to train a model with weight col?
Thank you very much!

[2018-11-16 16:46] gyz0807 commented on #435
Hi Ilya, thanks for the fast response. I think these are the ways to validate the model after I finish training it. Is it possible to validate the model while training? For example, for each boosting round, use the model performance on the validation set to determine whether to perform early stop or not. If the performance does not improve for like 10 rounds, training would be stopped.

[2018-11-17 03:51] #441 closed

[2018-11-17 03:52] #437 closed

[2018-11-17 10:04] xushjie1987 commented on #335
cmake -DUSE_OPENMP=ON -DUSE_HDFS=ON -DUSE_SWIG=ON -DCMAKE_CXX_COMPILER=/usr/bin/g++ -DHDFS_INCLUDE_DIR=/hadoop-2.7.6/include -DHDFS_LIB=/hadoop-2.7.6/lib/native/libhdfs.so ..

[2018-11-19 15:44] imatiach-msft commented on #435
@gyz0807 this sounds like a new enhancement, but it is different from how other spark ML estimators work.  Currently other spark ML learners do not support this kind of validation with early stopping during training workflow.  I think there needs to be more design on how this could be implemented.  As a workaround, however, you could just train for k iterations, save the learner, evaluate on the e

[2018-11-19 16:06] gyz0807 commented on #435
Good idea. Thanks for the help.

[2018-11-19 20:02] imatiach-msft commented on #440
@tanjiaxin please see page 8 of Friedman (1999) "Greedy Function Approximation? A Gradient Boosting Machine".  They use -2 there for the loss function, and from there they use -2 in the probability estimates.  This is also what spark ML uses for their GBTClassifier, please see the reference PR here:
https://github.com/apache/spark/pull/16441
I will try to find the loss function formula in lightgbm

[2018-11-19 22:46] imatiach-msft commented on #440
I think you are right, it looks like lightgbm's GetGradients, which is used in training, doesn't have the -2:
https://github.com/Microsoft/LightGBM/blob/c920e6345bcb41fc1ec6ac338f5437034b9f0d38/src/objective/binary_objective.hpp#L102
And the convert output which is used in prediction also doesn't seem to have it:
https://github.com/Microsoft/LightGBM/blob/c920e6345bcb41fc1ec6ac338f5437034b9f0d38/s

[2018-11-20 08:08] tanjiaxin commented on #440
Thanks for your explaination.

[2018-11-20 08:09] #440 closed

[2018-11-21 17:55] mhamilton723 commented on #427
yes these temp files build up because like many temporary files are deleted when the JVM closes normally. When the JVM crashes unexpectedly, the requisite cleanup code is not run. Feel free to delete these files.

[2018-11-22 08:47] ElecHodol opened #443 "could not run lightGBM on windows"
I'm using latest version of mmlspark - 0.14
I got following exception, and it seems that it tried to load '_lightgbm.dll' file
however in the 'lightgbmlib-2.1.250.jar', the name is 'lib_lightgbm.dll'
please correct me if i'm doing someting wrong.

java.lang.UnsatisfiedLinkError: Could not load the native libraries because we encountered the following problems: no _lightgbm in java.library.path and

[2018-11-22 09:26] puyvqi opened #444 "lightgbm still can not do multiclass?"
![2018-11-22 17-21-39](https://user-images.githubusercontent.com/11178311/48893834-39549500-ee7c-11e8-9ba3-eba26bccdc9a.png)
![2018-11-22 17-24-10](https://user-images.githubusercontent.com/11178311/48893860-483b4780-ee7c-11e8-94c1-8139ab1708dd.png)
look! I got 3 classes,but when the native lightgbm builting booster,it always throw a error to me!
![image](https://user-images.githubusercontent.com/

[2018-11-22 11:10] tanjiaxin commented on #427
@mhamilton723 Thanks for your explaination.

[2018-11-22 13:50] chibberto commented on #435
So are you saying that https://github.com/Azure/mmlspark/pull/344 effectively does nothing as it's only working on the train data set?... Will try the approach you suggested. Thanks for the help as always.

[2018-11-26 17:21] imatiach-msft commented on #444
@puyvqi sorry about the trouble you are having, indeed, there is already an issue for this, it is an enhancement I am planning to add in the future: https://github.com/Azure/mmlspark/issues/342
There was a recent change that allowed you to set the object which wasn't exposed before, and I think it's partly due to this that the issue has become worse, since you are allowed to explicitly set multicl

[2018-11-26 17:32] daureg opened #445 "Make it available for scala 2.12"
I couldn't download it in my Scala project until I downgraded scala version 2.11.

I tried quickly to compile myself, but I'm not very proficient with scala yet. One thing I noticed is that `log4j-api-scala` version 2.8.1 is [not available](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-api-scala) for scala 2.12.

[2018-11-26 20:29] imatiach-msft commented on #435
@chibberto good point, maybe @terrytangyuan may give more info on how this param can be used.  I'm not sure how it is possible without being able to provide a validation dataset hmm.  @terrytangyuan is there an example of how the current early stopping round param is used?  If there is, maybe we should add a test case to verify the param.
@chibberto I think this may be something that we need to ca

[2018-11-27 01:54] terrytangyuan commented on #435
@chibberto Yes, it's correct that this param is not working yet. Additional work is needed to support validation data and to expose the early stopping logic. You could try the temporary workaround @imatiach-msft suggested.

[2018-11-27 11:05] chibberto commented on #435
Thanks for the responses. I thought that was the case but just wanted to double check. I see your point about usage with fit being tricky with ML... Will try and use the work around for now.

[2018-11-29 09:03] gulshan-gaurav opened #446 "LGBMRanker class not present"

[2018-11-29 20:04] mhamilton723 commented on #445
Thanks for reaching out @daureg  i will try to bump the scala version for you. Now that Spark also moved to 2.12 this is a good time.

[2018-11-29 20:05] mhamilton723 commented on #322
Havent seen this in a while

[2018-11-29 20:05] #322 closed

[2018-11-29 20:06] mhamilton723 commented on #321
Done with vagrant setup

[2018-11-29 20:06] #321 closed

[2018-11-29 20:07] mhamilton723 commented on #412
I cannot repro the issue. Please mention me if you are encountering this and I will re-open the issue

[2018-11-29 20:07] #412 closed

[2018-11-29 20:08] mhamilton723 commented on #427
Thanks @tanjiaxin let me know if I should re-open this!

[2018-11-29 20:08] #427 closed

[2018-11-30 03:23] #444 closed, assigned to nobody

[2018-12-04 02:18] RayTsui opened #452 "java.lang.UnsatisfiedLinkError: Could not load the native libraries because we encountered the following problems: no _lightgbm in java.library.path and Could not find resource /com/microsoft/ml/lightgbm/osx/x86_64/lib_lightgbm.dylib in jar."
Whether or not there is solution for running lightgbm on spark(scala) on mac. After I call LightGBMRegressor on scala spark context on mac, it shows the following issue:

java.lang.UnsatisfiedLinkError: Could not load the native libraries because we encountered the following problems: no _lightgbm in java.library.path and Could not find resource /com/microsoft/ml/lightgbm/osx/x86_64/lib_lightgbm.d

[2018-12-04 06:51] vinglogn opened #453 "Can you provide some ML examples of scala version"
I want to use mmlspark as a jar lib to packing with my Ml Application run on Spark cluster,  and i don't want to install any packages to my Spark cluster for some other reason, so I want to have some ml examples of scala version.

[2018-12-04 15:45] imatiach-msft commented on #408
closing as this has been merged

[2018-12-04 15:45] #408 closed

[2018-12-05 19:09] ngopal opened #454 "Fatal Log4j issue when running LightGBM in Scala"
It looks there there may be an issue between LightGBM (in Scala) and Logging4j. My previously working lightgbm code is failing with the following trace:

Looks like it may have to to with the learning_rate parameter (due to the presence of the "...anonfun$1.eta..." line).

Any thoughts?

`18/12/05 18:55:50 ERROR Executor: Exception in task 0.3 in stage 77.0 (TID 992)
java.lang.ClassCastException:

[2018-12-06 07:12] vinglogn opened #455 "No FileSystem for scheme: dbfs"
I compile the source code of mmlspark-0.15, i install  'mmlspark-0.15-py2.py3-none-any.whl' package  to my ubuntu16.04 envrionment, and copy the 'mmlspark_2.11-0.15.jar' and 'mmlspark_2.11-0.15.jar' to the $SPARK_HOME/jars directory.

export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
export JRE_HOME=$JAVA_HOME/lib
export CLASS_PATH=$CLASS_PATH:$JAVA_HOME/lib:$JRE_HOME/lib
export SPARK_HOME=/opt/s

[2018-12-06 07:26] vinglogn opened #456 "No FileSystem for scheme: wasbs"
I compile the source code of mmlspark-0.15, i install 'mmlspark-0.15-py2.py3-none-any.whl' package to my ubuntu16.04 envrionment, and copy the 'mmlspark_2.11-0.15.jar' and 'mmlspark_2.11-0.15.jar' to the $SPARK_HOME/jars directory.

export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
export JRE_HOME=$JAVA_HOME/lib
export CLASS_PATH=$CLASS_PATH:$JAVA_HOME/lib:$JRE_HOME/lib
export SPARK_HOME=/opt/spa

[2018-12-10 03:05] imatiach-msft commented on #452
@RayTsui sorry, this is a known issue:
https://github.com/Azure/mmlspark/issues/290
we don't yet support MacOS, but it's something that we would like to add.  First, we need to add SWIG support for MacOS in LightGBM repo.

[2018-12-10 03:06] imatiach-msft commented on #453
@vinglogn this looks like a duplicate of https://github.com/Azure/mmlspark/issues/166
Unfortunately, we don't have any scala notebooks/docs yet, but you could look through any of our tests to see how the Scala API is used.

[2018-12-10 03:13] imatiach-msft commented on #454
@ngopal is there any way I could get a repro of this issue?  I'm not sure what is causing the error.  My best guess is it might have something to do with passing the logger to mapPartitions:

https://github.com/Azure/mmlspark/blob/4059c2e69dd1cffcfe31be38e916c501efb2e445/src/lightgbm/src/main/scala/LightGBMRegressor.scala#L82

Maybe some code + dataset and some info about the cluster environment t

[2018-12-10 03:16] imatiach-msft commented on #455
@vinglogn we have two sets of notebooks, one for HDI cluster compute and the other for local compute - they are generated from one set of notebooks during build time.  I think you are running the HDI cluster notebook locally which is causing the problem.  It looks like you don't have dbfs available in the environment you are running the notebook from.

[2018-12-10 03:16] imatiach-msft commented on #456
@vinglogn we have two sets of notebooks, one for HDI cluster compute and the other for local compute - they are generated from one set of notebooks during build time.  I think you are running the HDI cluster notebook locally which is causing the problem.  It looks like you don't have wasb available in the environment you are running the notebook from.

[2018-12-10 18:04] RayTsui commented on #452
Hi @imatiach-msft , thank you for your follow-up. Once lightGBM is available on mac in the future. Please make it known in community.

[2018-12-10 18:04] #452 closed

[2018-12-11 05:01] imatiach-msft commented on #367
fix has been merged to master

[2018-12-11 08:56] MikioSuematsu commented on #445
v0.15 is scala 2.12?
It does not seem to upload to maven.

OK
https://mmlspark.azureedge.net/maven/com/microsoft/ml/spark/mmlspark_2.11/0.15/mmlspark_2.11-0.15.jar

not found.
https://mmlspark.azureedge.net/maven/com/microsoft/ml/spark/mmlspark_2.12/0.15/mmlspark_2.12-0.15.jar

Is something still underway?

[2018-12-11 16:30] #335 closed

[2018-12-13 01:17] vinglogn commented on #455
@imatiach-msft   Is there a 'dbfs' jar package for me to deal with this losing dependency package at my local computer envrionment ? and what is 'dbfs', do you have some wiki?

[2018-12-13 01:21] vinglogn commented on #456
what is wasb, do you have a 'wasb' jar package for me to deal with is problem?  and where to find the wiki?

[2018-12-13 05:21] imatiach-msft commented on #456
hi @vinglogn  wasb is just an extension on hadoop HDFS APIs.  It's used on cluster compute.  You shouldn't be using it in a local notebook.  We have separate local notebooks that don't use wasb storage which you can run.

[2018-12-13 05:53] vinglogn commented on #386
@antoniocachuan  I also encountered the similar problem of ‘No module named mmlspark’，but I compile the source code of mmlspark-0.15, i install 'mmlspark-0.15-py2.py3-none-any.whl' package to my ubuntu16.04 envrionment，this problem is gone！

[2018-12-14 01:32] vinglogn commented on #455
@imatiach-msft I am very appreciated for your reply! you tell me there are two two sets of notebooks, HDI cluster compute and local compute environment, and my problem is with the latter。Actually， I pull a docker image of mmlspark from official docker hub, and all the notebooks run well，I want to know the difference between the two of docker env and my own local compute？ if i want to build a docke

[2018-12-14 01:33] vinglogn commented on #456
@imatiach-msft I am very appreciated for your reply! you tell me there are two two sets of notebooks, HDI cluster compute and local compute environment, and my problem is with the latter。Actually， I pull a docker image of mmlspark from official docker hub, and all the notebooks run well，I want to know the difference between the two of docker env and my own local compute？ if i want to build a docke

[2018-12-14 17:54] imatiach-msft commented on #456
hi @vinglogn "HDI cluster compute and local compute environment, and my problem is with the latter."
maybe there is some misunderstanding - there are two sets of notebooks, cluster and local, and it looks like you are running the cluster notebooks locally whereas you should be running the local notebooks instead.  When you build the code by running ./runme, the local notebooks should be in the fol

[2018-12-14 17:55] imatiach-msft commented on #455
hi @vinglogn "HDI cluster compute and local compute environment, and my problem is with the latter."
maybe there is some misunderstanding - there are two sets of notebooks, cluster and local, and it looks like you are running the cluster notebooks locally whereas you should be running the local notebooks instead.  When you build the code by running ./runme, the local notebooks should be in the fol

[2018-12-17 01:14] vinglogn commented on #455
I got it, thanks! @imatiach-msft

[2018-12-17 01:15] vinglogn commented on #456
I got it, thanks! @imatiach-msft

[2018-12-17 01:16] #456 closed

[2018-12-17 01:16] #455 closed

[2018-12-19 15:20] javadba commented on #158
Actually this _is_ useful - to enable integration into IDE .  It would be recommended to support `pip install mmlspark`.  I was quite surprised that does not work.

[2018-12-21 11:48] givenx commented on #435
Also looking for a working early stopping against an evaluation dataset for LightGBMClassifier, as per native LightGBM.  Something like this:
[code]
Any idea if this is being worked on?  I know continual updates come through for the mml library, so just checking if this is on the radar?

[2018-12-21 19:05] imatiach-msft commented on #435
@givenx sure, I can look into it when I have some spare time.  I like your idea of passing in the evaluation dataset as a param, that's probably the only way to make it work well with the spark interface.  BTW this feedback is very useful, I try to prioritize the most commented issues first.  Also, if you need this functionality right away, MMLSpark is open source so feel free to send out a PR.

[2018-12-21 21:53] givenx commented on #435
@imatiach-msft sadly this is not my idea but how xgboost works. It would be really great to get this working as early stopping against an evaluation set is very effective. Not sure how to send out a PR though :-/

[2018-12-26 06:12] iamheroDaniel opened #460 "use lightGBM fail in windows."
Could not load the native libraries because we encountered the following problems: no _lightgbm in java.library.path and Could not find resource /com/microsoft/ml/lightgbm/windows/x86_64/_lightgbm.dll in jar.

[2018-12-26 11:17] #460 closed

[2018-12-26 22:55] imatiach-msft commented on #367
reopening as it looks like fix wasn't correct, the name/index passed to lightgbm should be for the slot and not for a column name, good thing this isn't released yet

[2018-12-27 12:41] puyvqi opened #462 "when will LightGBM change to 2.2.X"
the dependent version of LightGBM is still 2.1.X on maven
https://mvnrepository.com/artifact/Azure/mmlspark/0.15

when will this release come to maven ? could i get the package that depends on LightGBM 2.2.X now?
https://github.com/Azure/mmlspark/pull/391

[2018-12-27 14:57] imatiach-msft commented on #462
@puyvqi hi, sorry about the long wait - lightgbm was updated to 2.2.2 with this PR https://github.com/Azure/mmlspark/pull/391 as you wrote above, but it hasn't been released yet (https://github.com/Azure/mmlspark/releases).  You could use any of the private builds though, eg:

--packages
com.microsoft.ml.spark:mmlspark_2.11:0.15.dev2+1.g3ac4123
and --repositories
https://mmlspark.azureedge.net/mav

[2018-12-27 17:43] imatiach-msft commented on #342
closing this issue as fix has been merged as part of https://github.com/Azure/mmlspark/pull/461
FYI @ekerazha @ericwang915

[2018-12-27 17:43] #342 closed

[2018-12-27 17:53] imatiach-msft commented on #446
@gulshan-gaurav thank you for the feedback - since there currently doesn't exist a ranker in Spark ML, could you give some more details on how you think the API should look like?  I've wanted to add this as well but would like to get some feedback from the community in regards to how the API should look like.  I'm also not sure what base class I should use from Spark ML or if I should create my ow

[2018-12-27 19:37] imatiach-msft commented on #360
@luzlab sorry, were you able to take another look at this issue?

[2018-12-28 20:04] imatiach-msft commented on #367
fixed again with new PR #463

[2018-12-28 20:04] #367 closed

[2019-01-03 09:57] kunguang commented on #335
@land1725 您那个问题解决了没。这个lightgbm.so 我还是找不到，按照你那个最新的pom配置